        <section class="section">
          <form class="contact" action="">
            <input class="contact__item" type="text" placeholder="Name" name="name" required>
            <input class="contact__item" type="email" placeholder="Email" name="email" required>
            <textarea class="contact__item contact__textarea" placeholder="Message" name="message" required></textarea>
            <div class="contact__button-wrap">
              <button class="contact__button" type="submit" value="Send">
                <div class="contact__button-inner">
                  <i class="contact__button-icon fas fa-paper-plane"></i><span class="contact__button-text">SEND</span>
                </div>
              </button>
            </div>
          </form>
        </section>
