<section class="section">
  <div class="section__inner">
    <form
      class="form"
      action=""
      method=""
      data-form
    >
      <div
        class="form__toaster"
        data-form-toaster
      ></div>
      <div class="form__row">
        <label
          class="form__label"
          for="form-name"
        >Name</label>
        <input
          id="form-name"
          class="form__input"
          type="text"
          name="your-name"
          value=""
          placeholder="来五張"
          autocomplete="name"
          data-form-require
        />
        <p class="form__success-message">OKだお！</p>
        <p class="form__error-message">入力内容を確認するんだお！</p>
      </div>
      <div class="form__row">
        <label
          class="form__label"
          for="form-email"
        >Email</label>
        <input
          id="form-email"
          class="form__input"
          type="email"
          name="your-email"
          value=""
          placeholder="sushiboys350@yahoo.co.jp"
          autocomplete="email"
          data-form-require
        />
        <p class="form__success-message">OKだお！</p>
        <p class="form__error-message">入力内容を確認するんだお！</p>
      </div>
      <div class="form__row">
        <label
          class="form__label"
          for="form-subject"
        >Subject</label>
        <input
          id="form-subject"
          class="form__input"
          type="text"
          name="your-subject"
          value=""
          placeholder="ザリガニの集団心理"
          autocomplete="on"
          data-form-require
        />
        <p class="form__success-message">OKだお！</p>
        <p class="form__error-message">入力内容を確認するんだお！</p>
      </div>
      <div class="form__row">
        <label
          class="form__label"
          for="form-message"
        >Message</label>
        <textarea
          id="form-message"
          class="form__textarea"
          name="your-message"
          placeholder="無矛盾な公理的集合論は自己の無矛盾性を証明できないザリガニである"
          data-form-require
        ></textarea>
        <p class="form__success-message">OKだお！</p>
        <p class="form__error-message">入力内容を確認するんだお！</p>
      </div>
      <div class="button__wrap">
        <button
          class="button"
          type="submit"
          data-form-submit
          disabled
        >
          <i class="button__icon fas fa-paper-plane"></i>
          送信
        </button>
      </div>
    </form>
  </div>
</section>
