.DS_Store
node_modules/*
.htaccess
.vscode
.hsftp

.sass-cache/
*.css.map
*.sass.map
*.scss.map

dist/_*/

dist/wordpress/*
!dist/wordpress/wp-content
dist/wordpress/wp-content/*
!dist/wordpress/wp-content/themes
dist/wordpress/wp-content/themes/*
!dist/wordpress/wp-content/themes/sushiboys/
