<section class="section">
  <article class="article">
    <% let posts = newsData.posts; %>
    <h2 class="heading"><%- posts[3].title %></h2>
    <p class="content-wrap">
      <img class="article__hero" src="<%- posts[3].image %>" alt="<%- posts[3].alt %>">
    </p>
    <div class="content-wrap">
      <div class="article__text">
        <p class="text"><%- posts[3].text %></p>
      </div>
    </div>
  </article>
  <div class="button__wrap">
    <a class="button" href="/news/">
      <span class="button__text">Back</span>
    </a>
  </div>
</section>
