<section class="section">
  <article>
    <% let posts = newsData.posts; %>
    <h2 class="title"><%- posts[0].title %></h2>
    <div class="content-wrap">
      <img class="news-detail__image" src="<%- posts[0].image %>" alt="<%- posts[0].alt %>">
    </div>
    <div class="content-wrap">
      <p class="text">
        <%- posts[0].text %>
      </p>
    </div>
  </article>
  <div class="button__wrap">
    <a class="button" href="/news/">
      <span class="button__text">Back</span>
    </a>
  </div>
</section>
