<section class="section">
  <article>
    <img class="news-detail__heading" src="/img/news/20210318/20210408_flyer-001.jpg" alt="">
    <time class="news-detail__date">2021.3.18</time>
    <h2 class="news-detail__title">4/8 『agartha20210408』 at Pangea(大阪）開演時間変更と払い戻しのお知らせ。</h2>
    <div class="news-detail__text-wrap">
      <p class="news-detail__text">
        大阪府がまん延防止等重点措置の対象となったため開場開演時間が変更になりました。<br>
        そのためご来場いただけない方のために払い戻しを実施します。<br>
        払い戻しに関しては下記をご参照ください。<br>
        急な変更で大変ご迷惑おかけして申し訳ございません。<br>
        何卒ご理解いただけますと幸いです。
      </p>
      <p class="news-detail__text">
        ■OPEN / START時間変更<br>
        変更前：18:30 / 19:00<br>
        変更後：17:30 / 18:00
      </p>
      <p class="news-detail__text">
        ■＜払戻期間＞4/3 10:00〜4/7 23:59<br>
        ■＜e＋払戻方法＞<a class="news-detail__text-link" href="https://eplus.jp/sf/updated_events" target="_blank" rel="noreferrer noopener">https://eplus.jp/sf/updated_events</a>
      </p>
    </div>
  </article>
</section>
