<!DOCTYPE html>
<html lang="ja">
<head>
  <%
  let localmeta = {
    title: 'NEWS | SUSHIBOYS',
    description: ''
  };
  let localfile = {
    css: '/css/news.css',
    js: '/js/news.js'
  };
  %>
  <%- include('../_inc/_head', {meta: localmeta, file: localfile}) %>
</head>
<body>
  <div class="wrapper">
    <div class="container">
      <%- include('../_inc/components/_header') %>
      <main class="main">
        <section class="section">
          <div class="news">
            <ul>
              <li class="news__item">
                <div class="news__thumbnail">
                  <a href="">
                    <img class="news__thumbnail-image" src="/img/news/20210408_flyer-001.jpg" alt="agartha20210408">
                  </a>
                </div>
                <div class="news__caption">
                  <time class="news__caption-time">2021.3.18</time>
                  <a href="">
                    <h2 class="news__caption-title">4/8『agartha20210408』 at Pangea(大阪）開演時間変更と払い戻しのお知らせ。</h2>
                  </a>
                </div>
              </li>
              <li class="news__item">
                <div class="news__thumbnail">
                  <img class="news__thumbnail-image" src="/img/news/20210408_flyer-001.jpg" alt="agartha20210408">
                </div>
                <div class="news__caption">
                  <time class="news__caption-time">2021.3.18</time>
                  <h2 class="news__caption-title">4/8『agartha20210408』 at Pangea(大阪）開演時間変更と払い戻しのお知らせ。</h2>
                </div>
              </li>
              <li class="news__item">
                <div class="news__thumbnail">
                  <img class="news__thumbnail-image" src="/img/news/20210408_flyer-001.jpg" alt="agartha20210408">
                </div>
                <div class="news__caption">
                  <time class="news__caption-time">2021.3.18</time>
                  <h2 class="news__caption-title">4/8『agartha20210408』 at Pangea(大阪）開演時間変更と払い戻しのお知らせ。</h2>
                </div>
              </li>
              <li class="news__item">
                <div class="news__thumbnail">
                  <img class="news__thumbnail-image" src="/img/news/20210408_flyer-001.jpg" alt="agartha20210408">
                </div>
                <div class="news__caption">
                  <time class="news__caption-time">2021.3.18</time>
                  <h2 class="news__caption-title">4/8『agartha20210408』 at Pangea(大阪）開演時間変更と払い戻しのお知らせ。</h2>
                </div>
              </li>
            </ul>
          </div>
        </section>
      </main>
      <%- include('../_inc/components/_footer') %>
    </div>
  </div>
</body>
</html>
