<footer class="footer">
  <ul class="sns">
    <li class="sns__item">
      <a
        class="sns__link"
        href="https://www.facebook.com/people/Sushiboys/100057913514913/"
        target="_blank"
        rel="noopener noreferrer"
      ><i class="fab fa-facebook"></i>
      </a>
    </li>
    <li class="sns__item">
      <a
        class="sns__link"
        href="//twitter.com/sushiboys350"
        target="_blank"
        rel="noopener noreferrer"
      ><i class="fab fa-twitter"></i>
      </a>
    </li>
    <li class="sns__item">
      <a
        class="sns__link"
        href="//www.instagram.com/sushiboys350"
        target="_blank"
        rel="noopener noreferrer"
      ><i class="fab fa-instagram"></i>
      </a>
    </li>
    <li class="sns__item">
      <a
        class="sns__link"
        href="//www.tiktok.com/@sushiboys350"
        target="_blank"
        rel="noopener noreferrer"
      ><i class="fa-brands fa-tiktok"></i>
      </a>
    </li>
    <li class="sns__item">
      <a
        class="sns__link"
        href="//www.youtube.com/user/umetube2013"
        target="_blank"
        rel="noopener noreferrer"
      ><i class="fab fa-youtube"></i>
      </a>
    </li>
  </ul>
  <p class="copyright">
    <small class="copyright__text">&copy; 2022 Sushiboys</small>
  </p>
</footer>
