      <footer class="footer">
        <ul class="sns__list">
          <li class="sns__item">
            <a class="sns__link sns__link--twitter" href="//twitter.com/sushiboys350" target="_blank" rel="noopener">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="sns__item">
            <a class="sns__link sns__link--instagram" href="//www.instagram.com/sushiboys350" target="_blank" rel="noopener">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li class="sns__item">
            <a class="sns__link sns__link--youtube" href="//www.youtube.com/user/umetube2013" target="_blank" rel="noopener">
              <i class="fab fa-youtube"></i>
            </a>
          </li>
        </ul>
      </footer>
