<%_ let primary = ``; _%>
<%_ let secondary = ``; _%>
<%_
  switch (meta.pageid) {
    case `news`:
      primary = `News`;
      secondary = `お知らせ`;
      break;
    case `discography`:
      primary = `Discography`;
      secondary = `楽曲`;
      break;
    case `goods`:
      primary = `Goods`;
      secondary = `グッズ`;
      break;
    case `picture`:
      primary = `Picture`;
      secondary = `視覚表現`;
      break;
    case `contact`:
      primary = `Contact`;
      secondary = `お問い合わせ`;
      break;
  }
_%>
<h2
  class="main__heading heading heading--primary"
  data-heading="<%= primary %>"
><%= secondary %></h2>
