<%_
  let primary = ``;
  let secondary = ``;

  switch (meta.pageid) {
    case `biography`:
      primary = `biography`;
      secondary = `私たちについて`;
      break;
    case `news`:
      primary = `News`;
      secondary = `お知らせ`;
      break;
    case `discography`:
      primary = `Discography`;
      secondary = `楽曲`;
      break;
    case `goods`:
      primary = `Goods`;
      secondary = `グッズ`;
      break;
    case `picture`:
      primary = `Picture`;
      secondary = `視覚表現`;
      break;
    case `contact`:
      primary = `Contact`;
      secondary = `お問い合わせ`;
      break;
  }
_%>

<div class="hero">
  <%_ if (meta.pageid.includes(`home`)) { _%>
  <figure class="hero__logo">
    <img
      class="hero__image"
      src="/img/logo.png"
      alt="SUSHIBOYS"
    />
  </figure>
  <%_ } else { _%>
  <h2
    class="hero__heading"
    data-heading="<%= primary %>"
    ><%= secondary %></h2
  >
  <%_ } _%>
</div>
