@use "../import" as i;

// ** サイト共通設定
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  display: block;
  margin: 0;
  background-color: i.$color-pink;
  font-family: i.$font-base;
  font-size: i.get_vw-sm(16);
  @include i.tb-screen {
    font-size: i.get_vw-tb(16);
  }
  @include i.pc-screen {
    font-size: 16px;
  }
}
