<%
  news = function() {
    return {
      posts: [
        {
          title: 'SUSHIBOYSのラップは、なぜ笑いと強い共感を呼ぶのか？初のワンマンツアーに臨む2人にその秘密を聞く',
          text: 'DI:GAオンラインにてインタビューが掲載されました。<br>DI:GAオンライン：<a class="text__link" href="https://www.diskgarage.com/digaonline/interview/99286" target="_blank" rel="noopener noreferrer">https://www.diskgarage.com/digaonline/interview/99286</a><br>プレゼント企画がございます。詳細は上記記事内にて掲載があります。',
          url: '/news/detail/post001.html',
          image: '/img/news/post001/001.jpg',
          alt: '',
        },
        {
          title: '【インタビュー】SUSHIBOYS　原点回帰であり、“好きなことをやった” 新作EP『350』を語る',
          text: 'エンタメ特化型情報メディアSPICEにてインタビューが掲載されました。<br><a class="text__link" href="https://spice.eplus.jp/articles/218060" target="_blank" rel="noopener noreferrer">https://spice.eplus.jp/articles/218060</a>',
          url: '/news/detail/post002.html',
          image: '/img/news/post002/001.jpg',
          alt: '',
        },
        {
          title: 'SUSHIBOYS「350」インタビュー｜俺たちは不良、じゃなくて不良品。',
          text: 'ナタリーでのインタビューが公開となりました。<br><a class="text__link" href="https://natalie.mu/music/pp/sushiboys" target="_blank" rel="noopener noreferrer">https://natalie.mu/music/pp/sushiboys</a>',
          url: '/news/detail/post003.html',
          image: '/img/news/post003/001.jpg',
          alt: '',
        },
        {
          title: 'FARMHOUSE / PEDAL 2曲新曲と入れ替え配信開始。',
          text: 'FARMHOUSE SOLO EP 『PEDAL』がデジタル配信開始となりました。<br><br>タイトル：PEDAL（ペダル）<br>アーティスト : FARMHOUSE<br>発売日 ： 2018/2/15<br>【収録曲】<br>01.swim<br>02.リスタート (feat. kou-kei)<br>03.緑茶<br>04.ネットサーフィン<br>05.ママチャリ<br>06.SANAGI (feat. SANTENA)<br>07.BABY<br>08.Good Day (feat. SANTENA & O.D.A)<br>09.アップデート (feat. SUSHIBOYS)<br>■配信先URL：<a class="text__link" href="https://linkco.re/ftD6QScu" target="_blank" rel="noopener noreferrer">https://linkco.re/ftD6QScu</a>',
          url: '/news/detail/post004.html',
          image: '/img/news/post004/001.jpg',
          alt: '',
        },
      ]
    }
  };
%>
