<!-- prettier-ignore -->
<%_
  let primary = ``;
  let secondary = ``;

  switch (meta.pageid) {
    case `biography`:
      primary = `biography`;
      secondary = `私たちについて`;
      break;
    case `news`:
      primary = `News`;
      secondary = `お知らせ`;
      break;
    case `discography`:
      primary = `Discography`;
      secondary = `楽曲`;
      break;
    case `goods`:
      primary = `Goods`;
      secondary = `グッズ`;
      break;
    case `picture`:
      primary = `Picture`;
      secondary = `視覚表現`;
      break;
    case `contact`:
      primary = `Contact`;
      secondary = `お問い合わせ`;
      break;
  }
_%>
<div class="hero">
  <%_ if (meta.pageid.includes(`home`)) { _%>
  <picture class="hero__logo">
    <source
      media="(max-width: 767px)"
      srcset="/assets/img/logo.webp"
      type="image/webp"
    />
    <source
      media="(max-width: 767px)"
      srcset="/assets/img/logo.png"
      type="image/png"
    />
    <img
      class="hero__image"
      src="/assets/img/members.jpg"
      alt="SUSHIBOYS"
    />
  </picture>
  <%_ } else { _%>
  <h2
    class="hero__heading"
    data-heading="<%= primary %>"
    ><%= secondary %></h2
  >
  <%_ } _%>
</div>
