<section class="section">
  <div class="section__inner">
    <h3 class="section__heading section__heading--ja">夏休み編</h3>

    <!-- prettier-ignore -->
    <%_
      const posts = pictureData?.looks || [];
      const reversePosts = [...posts].reverse(); // オリジナル配列を破壊しないためのコピー
      const images = reversePosts?.[meta.index]?.images || [];
    _%>
    <%_ if (images.length > 0) { _%>
    <ul class="article__pictures">
      <%_ images.forEach((image) => { _%>
      <li class="article__pictures-item">
        <picture>
          <source srcset="<%- `${image}.webp` %>" type="image/webp" />

          <img
            class="article__image"
            src="<%- `${image}.jpg` || '/assets/img/no-image.png' %>"
            alt=""
          />
        </picture>
      </li>
      <%_ }); _%>
    </ul>
    <%_ } else { _%>
    <p>画像がありません。</p>
    <%_ } _%>
  </div>
</section>
