@use "sass:math";

/* colors */
$color-white: #fff;
$color-black: #171717;
$color-gray: #ccc;
$color-pink: #f4cdc9;
$color-pink-sub: #ffe4e1;
$color-blue: #2b7bb9;
$color-error: #ff0000;
$color-hover-red: #c16452;

/* base window width for smartphone */
$base-window-width: 375;

/* @mixin
----------------------------------------- */
/* breakpoint */
@mixin tb-screen {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin pc-screen {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

/* font size */
@mixin font-size($px: 16) {
  font-size: (math.div($px, 10)) + rem;
}
@mixin font-size-vw($px: 16) {
  font-size: (math.div($px, $base-window-width) * 100) + vw;
}

/* font family */
@mixin font-default {
  font-family: -apple-system, "BlinkMacSystemFont", "游ゴシック", "YuGothic", "ヒラギノ角ゴ ProN W3",
    "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
}
@mixin font-oswald {
  font-family: "Oswald", -apple-system, "BlinkMacSystemFont", "游ゴシック", "YuGothic", "ヒラギノ角ゴ ProN W3",
    "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
  letter-spacing: 0.1em;
}

/* 画面幅相対 */
@mixin width-vw($px) {
  width: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin height-vw($px) {
  height: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin margin-all-vw($px) {
  margin: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin margin-block-start-vw($px) {
  margin-block-start: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin margin-block-end-vw($px) {
  margin-block-end: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin margin-inline-start-vw($px) {
  margin-inline-start: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin margin-inline-end-vw($px) {
  margin-inline-end: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin padding-all-vw($px) {
  padding: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin padding-block-start-vw($px) {
  padding-block-start: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin padding-block-end-vw($px) {
  padding-block-end: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin padding-inline-start-vw($px) {
  padding-inline-start: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin padding-inline-end-vw($px) {
  padding-inline-end: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin top-vw($px) {
  top: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin bottom-vw($px) {
  bottom: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin left-vw($px) {
  left: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin right-vw($px) {
  right: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin border-all-radius-vw($px) {
  border-radius: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin border-top-left-radius-vw($px) {
  border-top-left-radius: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin border-top-right-radius-vw($px) {
  border-top-right-radius: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin border-bottom-left-radius-vw($px) {
  border-bottom-left-radius: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin border-top-right-radius-vw($px) {
  border-bottom-right-radius: (math.div($px, $base-window-width) * 100) + vw;
}

/* normalize / reset
----------------------------------------- */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  @include font-default;
  @include font-size-vw(16);
  background-color: $color-pink;
  color: $color-black;
  display: block;
  font-weight: 400;
  line-height: 1.8;
  margin: 0;
  @include tb-screen {
    @include font-size(16);
  }
}
