@use "sass:math";

// ブレイクポイント
$breakPoint-tb: 600px;
$breakPoint-pc: 1025px;

@function get_vw-sm($size, $viewport: 375) {
  $rate: math.div(100, $viewport);
  @return $rate * $size * 1vw;
}
@function get_vw-tb($size, $viewport: 600) {
  $rate: math.div(100, $viewport);
  @return $rate * $size * 1vw;
}

// サイトで使用する色
$color-white: #fff;
$color-black: #444;
$color-pink: #f6a4af;

// 基本書体
$font: "Oswald", sans-serif;

// 基本行間
$lineHeight: 1.6;
