<%
posts = pictureData.looks;
reversePosts = posts.reverse();
%>

<section class="section">
  <div class="section__inner">
    <h3 class="section__heading">夏休み編</h3>
    <% reversePosts[meta.index].images.forEach(function(image) { %>
      <figure class="article__picture-wrap">
        <img class="article__image" src="<%- image %>" alt="">
      </figure>
    <% }); %>
  </div>
</section>
