<section class="section">
  <div class="section__inner">
    <h2 class="heading">
      <span
        class="heading__text"
        data-heading="Biography"
      >私たちについて</span>
    </h2>
    <div class="catch">
      <p class="catch__text">埼玉県越生町に突如現れた国民の最後の希望。</p>
      <p class="catch__text">映画マトリックスの世界観に衝撃を受け、2016年にグループ結成。</p>
      <p class="catch__text">自身たちが作成した楽曲は国民に真実を気付かせてしまうため、再生回数が伸びないよう政府によって厳重に管理されている。</p>
      <p class="catch__text">メンバーはFARMHOUSE、サンテナ、DJ兼カメラマン兼マネージャー兼運転手兼スーパーバイザーのneo yosikawaで構成される。</p>
      <p class="catch__text">アヒルの形をしたゴムボートのようなものを客席に投げるLIVEに定評がある。</p>
    </div>
  </div>
</section>
