        <section class="section">
          <div class="accordion">
            <div id="js-accordion__title-wrap" class="accordion__title-wrap">
              <div class="accordion__title">BIOGRAPHY</div>
              <div class="accordion__title-arrow">▼</div>
            </div>
            <div class="accordion__contents">
              <p class="text">
                FARMHOUSE<br>
                「SUSHIBOYSの公式サイトに来てくれてありがとう！」
              </p>
              <p class="text">
                SANTENA<br>
                「細けー話すんのはだりーから手短に自己紹介していくぜ。<br>
                俺たちはいわゆる音楽家ってやつだ。」
              </p>
              <p class="text">
                FARMHOUSE<br>
                「俺たちも最初は路上でフリースタイルやって、恵んでもらった金で生計たてたりと結構苦労したんだぜ。」
              </p>
              <p class="text">
                SANTENA<br>
                「自慢とかダセーから言わねーけどよ、CDをリリースする前にもかかわらずヤフーニュースに取り上げられ岡崎体育、須藤凜々花、DAOKOらがツイートしラッパーのSEEDA、SALUやLick-G、唾奇らに高評価されたりもしたんだぜ。」
              </p>
              <p class="text">
                FARMHOUSE<br>
                「確かに自慢とかダセーけど、渋谷タワーレコードでのインストアLIVEには見れない人が出るほどSUSHIBOYSを見に多くの人が訪れ会場を寿司詰め状態にしたことは確かだな。」
              </p>
              <p class="text">
                SANTENA<br>
                「んま、細けーことはうちのDJ『ネオ吉川』のツイートを参考にしてくれ。<br>
              </p>
              <p class="text">
                FARMHOUSE<br>
                「おいおい、それはまじーだろ。<br>
                とにかく俺らの曲を聞けばわかるぜ。<br>
                みんなの心の心臓を震撼させてくれ。」
              </p>
              <p class="text">
                ネオ吉川<br>
                「プギー！！！」
              </p>
            </div>
          </div>
        </section>
