<section class="section">
  <div class="section__inner">
    <h3 class="section__heading section__heading--en">Biography</h3>
    <p class="text">
      埼玉県越生町に突如現れた国民の最後の希望。<br>
      映画マトリックスの世界観に衝撃を受け、2016年にグループ結成。<br>
      自身たちが作成した楽曲は国民に真実を気付かせてしまうため、再生回数が伸びないよう政府によって厳重に管理されている。<br>
      メンバーはFARMHOUSE、サンテナ、DJ兼カメラマン兼マネージャー兼運転手兼スーパーバイザーのneo yosikawaで構成される。<br>
      アヒルの形をしたゴムボートのようなものを客席に投げるLIVEに定評がある。
    </p>
  </div>
</section>
