<section class="section">
  <div class="section__inner">
    <h3 class="section__heading section__heading--en">Member</h3>
    <div class="top-member">
      <figure class="top-member__image-wrap">
        <img class="top-member__image" src="/img/home/farmhouse.png" alt="FARMHOUSE">
      </figure>
      <figure class="top-member__image-wrap">
        <img class="top-member__image" src="/img/home/santena.png" alt="SANTENA">
      </figure>
      <figure class="top-member__image-wrap">
        <img class="top-member__image" src="/img/home/neo-yoshikawa.png" alt="neo yoshikawa">
      </figure>
    </div>
  </div>
</section>
