<!-- prettier-ignore -->
<%_
  const data = {
    nav: [
      {
        id: 'home',
        label: 'Home',
        href: '/',
      },
      {
        id: 'biography',
        label: 'Biography',
        href: '/biography/',
      },
      {
        id: 'news',
        label: 'News',
        href: '/news/',
      },
      {
        id: 'discography',
        label: 'Discography',
        href: '/discography/',
      },
      {
        id: 'goods',
        label: 'Goods',
        href: '/goods/',
      },
      {
        id: 'picture',
        label: 'Picture',
        href: '/picture/look/summer-vacation/',
      },
      {
        id: 'contact',
        label: 'Contact',
        href: '/contact/',
      },
    ],
  }
_%>
<nav class="global-navigation global-navigation--vertically">
  <div class="global-navigation__inner global-navigation__inner--vertically">
    <a class="global-navigation__link" href="/">
      <picture>
        <source srcset="/assets/img/logo.webp" type="image/webp" />
        <img
          class="global-navigation__logo"
          src="/assets/img/logo.png"
          alt="SUSHIBOYS"
        />
      </picture>
    </a>

    <ul class="global-navigation__list global-navigation__list--vertically">
      <%_ data.nav.forEach(item => { _%>
      <li>
        <a
          class="global-navigation__anchor<%- meta.pageid === item.id ? ' is-current' : '' %>"
          href="<%= item.href %>"
        >
          <%= item.label %>
        </a>
      </li>
      <%_ }); _%>
    </ul>
  </div>
</nav>
