@use "../import" as i;

.accordion {
  &__title-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  &__title {
    color: i.$color-white;
    font-size: i.get_vw-sm(28);
    line-height: 1;
    @include i.tb-screen {
      font-size: i.get_vw-tb(20);
    }
    @include i.pc-screen {
      font-size: 28px;
    }
  }
  &__title-arrow {
    color: i.$color-white;
  }
  &__contents {
    height: 0;
    line-height: 0;
    overflow: hidden;
    opacity: 0;
    transition-duration: 0.4s;
    &.accordion__contents--open {
      height: auto;
      line-height: normal;
      opacity: 1;
    }
  }
}
