@use "../import" as i;

.album {
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__item {
    margin-block-start: i.get_vw-sm(80);
    @include i.tb-screen {
      display: flex;
      margin-block-start: i.get_vw-tb(80);
    }
    @include i.pc-screen {
      margin-block-start: 80px;
    }
    &:first-child {
      margin-block-start: 0;
      @include i.tb-screen {
        margin-block-start: 0;
      }
      @include i.pc-screen {
        margin-block-start: 0;
      }
    }
  }
  &__thumbnail-image {
    display: block;
    width: 100%;
  }
  &__caption {
    padding-block-start: i.get_vw-sm(20);
    padding-block-end: i.get_vw-sm(20);
    padding-inline-start: i.get_vw-sm(10);
    padding-inline-end: i.get_vw-sm(10);
    @include i.tb-screen {
      padding-block-start: 0;
      padding-block-end: 0;
      padding-inline-start: i.get_vw-tb(20);
      padding-inline-end: i.get_vw-tb(20);
    }
    @include i.pc-screen {
      padding-block-start: 0;
      padding-block-end: 0;
      padding-inline-start: 30px;
      padding-inline-end: 30px;
    }
  }
  &__caption-title {
    color: i.$color-white;
    font-size: i.get_vw-sm(28);
    font-weight: bold;
    line-height: 1;
    @include i.tb-screen {
      font-size: i.get_vw-tb(20);
    }
    @include i.pc-screen {
      font-size: 28px;
    }
  }
  &__caption-list {
    margin-block-start: i.get_vw-sm(20);
    color: i.$color-white;
    font-weight: bold;
    @include i.tb-screen {
      margin-block-start: i.get_vw-tb(20);
    }
    @include i.pc-screen {
      margin-block-start: 20px;
    }
  }
}
