@use "../import" as i;

.album {
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__item {
    padding-block-start: i.get_vw-sm(40);
    padding-block-end: i.get_vw-sm(40);
    display: flex;
    @include i.tb-screen {
      padding-block-start: i.get_vw-tb(40);
      padding-block-end: i.get_vw-tb(40);
    }
    @include i.pc-screen {
      padding-block-start: 40px;
      padding-block-end: 40px;
    }
    &:first-child {
      padding-block-start: 0;
    }
    &:last-child {
      padding-block-end: 0;
    }
    &:hover {
      opacity: 0.8;
    }
  }
  &__thumbnail {
    width: 40%;
  }
  &__thumbnail-image {
    display: block;
    width: 100%;
  }
  &__caption {
    width: 60%;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: i.get_vw-sm(20);
    padding-inline-end: 0;
    @include i.tb-screen {
      padding-inline-start: i.get_vw-tb(20);
    }
    @include i.pc-screen {
      padding-inline-start: 30px;
    }
  }
  &__caption-title {
    color: i.$color-white;
    font-size: i.get_vw-sm(18);
    font-weight: bold;
    line-height: 1;
    @include i.tb-screen {
      font-size: i.get_vw-tb(24);
    }
    @include i.pc-screen {
      font-size: 28px;
    }
  }
  &__caption-list {
    display: block;
    margin-block-start: i.get_vw-sm(20);
    @include i.tb-screen {
      margin-block-start: i.get_vw-tb(20);
    }
    @include i.pc-screen {
      margin-block-start: 20px;
    }
  }
  &__caption-item {
    color: i.$color-white;
    font-size: i.get_vw-sm(14);
    font-weight: bold;
    @include i.tb-screen {
      font-size: i.get_vw-tb(14);
    }
    @include i.pc-screen {
      font-size: 16px;
    }
  }
}
