@use "../module/setting" as *;

.article {
  display: flex;
  flex-direction: column;
  &--row {
    @include tb-screen {
      flex-direction: row;
    }
  }
}
.article__hero {
  margin: 0;
  &--row {
    @include tb-screen {
      width: 45%;
    }
  }
}
.article__hero-image {
  display: block;
  margin-inline-start: auto;
  margin-inline-end: auto;
  width: 100%;
}
.article__inner {
  @include padding-inline-start-vw(20);
  @include padding-inline-end-vw(20);
  @include tb-screen {
    padding-block-start: 25px;
    padding-block-end: 25px;
    padding-inline-start: 30px;
    padding-inline-end: 30px;
  }
  &--row {
    @include tb-screen {
      padding: 0;
      margin-inline-start: 45px;
    }
  }
}
.article__title {
  @include font-size-vw(26);
  @include margin-block-start-vw(15);
  @include margin-block-end-vw(15);
  margin-inline-start: 0;
  margin-inline-end: 0;
  @include tb-screen {
    @include font-size(30);
    margin-block-start: 0;
    margin-block-end: 25px;
  }
}
.article__jacket {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  width: 100%;
  @include tb-screen {
    width: 40%;
  }
}
.article__image-wrap {
  margin-block-start: 2em;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
.article__image {
  display: block;
  width: 100%;
}
.article__caption {
  margin: 0;
  padding: 0;
  width: 100%;
}
.article__caption-heading {
  @include font-oswald;
  @include font-size-vw(18);
  font-weight: 700;
  letter-spacing: 0.1em;
  @include tb-screen {
    @include font-size(20);
  }
}
.article__caption-list {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  @include tb-screen {
    margin-block-start: 20px;
  }
  &--song {
    list-style-type: decimal-leading-zero;
    padding-inline-start: 3rem;
  }
}
.article__caption-item {
  display: list-item;
  @include tb-screen {
    @include font-size(16);
  }
  a {
    color: $color-black;
    cursor: pointer;
    text-decoration: underline;
  }
}
