@use "../setting/config" as i;

.article {
  display: flex;
  flex-direction: column;
}
.article__inner {
  @include i.tb-screen {
    display: flex;
  }
}
.article__hero {
  display: block;
  margin-inline-start: auto;
  margin-inline-end: auto;
  width: 100%;
}
.article__jacket {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  width: 100%;
  @include i.tb-screen {
    width: 40%;
  }
}
.article__jacket-image {
  display: block;
  width: 100%;
}
.article__caption {
  @include i.margin-block-start-vw(20);
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  width: 100%;
  @include i.tb-screen {
    margin-block-start: 0;
    padding-inline-start: 30px;
    width: 60%;
  }
}
.article__caption-heading {
  @include i.font-oswald;
  @include i.font-size-vw(18);
  color: i.$color-white;
  font-weight: 700;
  letter-spacing: 0.1em;
  @include i.tb-screen {
    @include i.font-size(20);
  }
}
.article__caption-list {
  @include i.margin-block-start-vw(20);
  display: block;
  list-style-type: none;
  margin-block-end: 0;
  margin-inline-start: initial;
  margin-inline-end: initial;
  padding-inline-start: 1rem;
  @include i.tb-screen {
    margin-block-start: 20px;
  }
  &--song {
    list-style-type: decimal-leading-zero;
    padding-inline-start: 3rem;
  }
}
.article__caption-item {
  @include i.font-size-vw(16);
  color: i.$color-white;
  display: list-item;
  font-weight: 700;
  @include i.tb-screen {
    @include i.font-size(16);
  }
  a {
    color: i.$color-white;
    cursor: pointer;
    text-decoration: underline;
  }
}
.article__text {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: auto;
  margin-inline-end: auto;
  @include i.tb-screen {
    width: 90%;
  }
}
