@use "../module/setting" as *;

.button {
  align-items: center;
  appearance: initial;
  background-color: $background-color_main;
  border-color: initial;
  border-image: initial;
  border-radius: vw(5);
  border-style: initial;
  border-width: initial;
  color: $color_white;
  cursor: pointer;
  display: flex;
  font-size: vw(16);
  gap: vw(10);
  justify-content: center;
  letter-spacing: initial;
  padding-block: vw(15);
  padding-inline: vw(25);
  text-align: center;
  text-decoration: none;
  text-indent: initial;
  text-rendering: initial;
  text-shadow: initial;
  text-transform: initial;
  width: 50%;
  word-spacing: initial;
  writing-mode: initial;

  @include tb-screen {
    border-radius: 5px;
    font-size: rem(20);
    gap: 10px;
    padding-block: 15px;
    padding-inline: 70px;
    width: auto;
  }

  @include hover {
    opacity: 0.9;
    transition: 0.1s;
  }

  &:disabled {
    background-color: rgba(0, 0, 0, 0.5);
    border-width: vw(1);
    border-color: $border-color_base;
    border-style: solid;
    color: $color_base;

    @include tb-screen {
      border-width: 1px;
    }

    & > .button__icon {
      color: $color_base;
    }
  }
}

.button__wrap {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin-block-end: 0;
  margin-block-start: vw(30);
  margin-inline: 0;

  @include tb-screen {
    flex-direction: row;
    margin-block-start: 80px;
  }
}

.button__icon {
  color: $color_white;
}

.button__text {
  @include font-oswald-regular;
  font-size: vw(16);
  color: $color_white;

  @include tb-screen {
    font-size: rem(16);
  }
}
