@use "../module/setting" as *;

.button {
  align-items: center;
  appearance: none;
  border: 0;
  color: inherit;
  display: inline-flex;
  @include font-oswald-medium;
  justify-content: center;
  text-decoration: none;

  @include sm-screen {
    border-radius: vw-sm(5);
    gap: vw-sm(10);
    padding: vw-sm(15) vw-sm(25);
  }

  @include tb-screen {
    border-radius: 5px;
    gap: 10px;
    padding: 15px 70px;
  }

  @include hover {
    cursor: pointer;
  }

  &:disabled {
    background-color: rgba(0, 0, 0, 0.5);
    color: $main-color;

    @include sm-screen {
      border: vw-sm(1) solid $main-color;
    }

    @include tb-screen {
      border: 1px solid $main-color;
    }

    @include hover {
      cursor: not-allowed;
    }

    & > .button__icon {
      color: $main-color;
    }
  }
}

.button__wrap {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;

  @include sm-screen {
    margin: vw-sm(30) 0 0;
  }

  @include tb-screen {
    flex-direction: row;
    margin: 80px 0 0;
  }
}

.button__icon {
  color: #fff;
}

.button__text {
  @include font-oswald-regular;
  color: #fff;

  @include sm-screen {
    font-size: vw-sm(16);
  }

  @include tb-screen {
    font-size: rem(16);
  }
}

.button--back {
  background-color: $main-color;
  color: #fff;

  @include sm-screen {
    font-size: vw-sm(18);
  }

  @include tb-screen {
    font-size: rem(18);
  }
}

.button--send {
  background-color: $main-color;
  color: #fff;

  @include sm-screen {
    font-size: vw-sm(18);
  }

  @include tb-screen {
    font-size: rem(18);
  }
}
