@use "../setting/config" as i;

.button {
  @include i.padding-block-start-vw(15);
  @include i.padding-block-end-vw(15);
  @include i.padding-inline-start-vw(25);
  @include i.padding-inline-end-vw(25);
  align-items: initial;
  appearance: initial;
  background-color: i.$color-black;
  border-color: initial;
  border-image: initial;
  border-radius: 5px;
  border-style: initial;
  border-width: initial;
  color: i.$color-white;
  cursor: pointer;
  display: block;
  letter-spacing: initial;
  text-align: center;
  text-decoration: none;
  text-indent: initial;
  text-rendering: initial;
  text-shadow: initial;
  text-transform: initial;
  width: 50%;
  word-spacing: initial;
  writing-mode: initial;
  @include i.tb-screen {
    padding-block-start: 15px;
    padding-block-end: 15px;
    padding-inline-start: 25;
    padding-inline-end: 25;
    width: auto;
  }
  &:not(:first-of-type) {
    @include i.margin-block-end-vw(30);
    @include i.tb-screen {
      margin-block-end: 0;
      margin-inline-start: 30px;
    }
  }
  &:hover {
    opacity: 0.9;
    transition: 0.1s;
  }
}
.button__wrap {
  @include i.margin-block-start-vw(40);
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  @include i.tb-screen {
    flex-direction: row;
    margin-block-start: 40px;
  }
}
.button__icon {
  @include i.margin-inline-end-vw(10);
  color: i.$color-white;
  @include i.tb-screen {
    margin-inline-end: 10px;
  }
}
.button__text {
  @include i.font-oswald;
  @include i.font-size-vw(16);
  color: i.$color-white;
  letter-spacing: 0.1em;
  @include i.tb-screen {
    @include i.font-size(16);
  }
}
