@use "../module/setting" as *;

.card-list {
  @extend %list-reset;
  display: flex;
  flex-direction: column;

  @include sm-screen {
    row-gap: vw-sm(40);
  }

  @include tb-screen {
    flex-direction: row;
    flex-wrap: wrap;
    gap: clamp(40px, #{vw-tb(40)}, 50px);
    justify-content: space-between;
  }

  &::before,
  &::after {
    @include tb-screen {
      content: "";
      display: block;
    }
  }

  &::before {
    order: 1;
  }
}

.card-list__item {
  @include tb-screen {
    width: calc((100% - clamp(40px, #{vw-tb(40)}, 50px)) / 2);
  }

  @include pc-screen {
    width: calc((100% - 100px) / 3);
  }
}
