@use "../module/setting" as *;

.cards {
  @extend %list-reset;
  display: grid;
  justify-content: center;

  @include sm-screen {
    row-gap: vw-sm(40);
  }

  @include tb-screen {
    gap: 30px;
    grid-template-columns: repeat(auto-fit, calc((100% - 60px) / 3));
    justify-content: space-between;
  }

  @include pc-screen {
    gap: 40px;
    grid-template-columns: repeat(auto-fit, calc((100% - 120px) / 4));
  }
}
