@use "../module/setting" as *;

.card {
  @include padding-inline-start-vw(20);
  @include padding-inline-end-vw(20);
  list-style-type: none;
  margin: 0;
  @include tb-screen {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-inline-start: 0;
    padding-inline-end: 0;
  }
  &::before,
  &::after {
    @include tb-screen {
      content: "";
      display: block;
      height: 0;
      width: calc(100% / 4 - 15px);
    }
  }
  &::before {
    order: 1;
  }
}
.card__item {
  @include border-all-radius-vw(8);
  @include margin-block-end-vw(20);
  background-color: #fff;
  box-shadow: 0 3px 15px rgb(0 0 0 / 10%);
  display: block;
  overflow: hidden;
  width: 100%;
  @include tb-screen {
    border-radius: 8px;
    margin-block-end: 25px;
    width: calc(100% / 3 - 15px);
  }
  &:hover {
    opacity: 0.8;
  }
}
.card__anchor {
  cursor: pointer;
  display: block;
  text-decoration: none;
}
.card__image-wrap {
  margin: 0;
}
.card__image {
  @include height-vw(200);
  display: block;
  object-fit: cover;
  object-position: 50% 0;
  width: 100%;
  @include tb-screen {
    height: 170px;
  }
}
.card__title {
  @include font-size-vw(16);
  @include padding-all-vw(15);
  color: $color-black;
  font-weight: 700;
  margin: 0;
  min-height: 82px;
  word-break: break-all;
  @include tb-screen {
    @include font-size(16);
    padding-block-start: 15px;
    padding-block-end: 15px;
    padding-inline-start: 15px;
    padding-inline-end: 15px;
  }
}
