@use "../module/setting" as *;

.card {
  background-color: #fff;
  border-color: #000;
  border-style: solid;
  display: block;
  overflow: hidden;
  text-decoration: none;
  width: 100%;

  @include sm-screen {
    border-width: vw(1);
    border-radius: vw(8);
  }

  @include tb-screen {
    border-width: 1px;
    border-radius: 8px;
  }

  &:nth-of-type(-n + 3) {
    @include tb-screen {
      height: 100%;
      margin-block-start: 0;
    }
  }

  &:nth-of-type(n + 4) {
    margin-block-start: vw(20);

    @include tb-screen {
      margin-block-start: 25px;
    }
  }

  @include hover {
    opacity: 0.8;
  }
}

.card__link {
  cursor: pointer;
  display: block;
  height: 100%;
  text-decoration: none;
}

.card__thumbnail {
  display: block;
  object-fit: contain;
  width: 100%;

  @include sm-screen {
    height: vw(260);
  }

  @include tb-screen {
    height: 260px;
  }
}

.card__thumbnail--no-image {
  object-position: center;
}

.card__body {
  color: $main-color;
  word-break: break-all;
  min-height: 82px;

  @include sm-screen {
    padding: vw(20);
  }

  @include tb-screen {
    padding: 30px 15px;
  }
}

.card__title {
  font-weight: 700;

  @include sm-screen {
    font-size: vw(16);
  }

  @include tb-screen {
    font-size: rem(16);
  }
}
