@use "../module/setting" as *;

.carousel {
  &.swiper {
    overflow: visible;
  }
}
.carousel__title {
  @include font-oswald-medium;
  margin-block-start: 0;
  margin-inline: 0;
  @include sm-screen {
    @include font-size-vw(18);
    @include margin-block-end-vw(10);
  }
  @include tb-screen {
    @include font-size(24);
    margin-block-end: 10px;
  }
}
.carousel__list {
  cursor: grab;
  list-style-type: none;
  margin: 0;
  padding-inline-start: 0;
}
.carousel__card {
  box-shadow: 0 3px 15px rgb(0 0 0 / 10%);
  display: block;
  &:not(:first-of-type) {
    @include sm-screen {
      @include margin-inline-start-vw(20);
    }
    @include tb-screen {
      margin-inline-start: 30px;
    }
  }
  &.swiper-slide {
    @include sm-screen {
      @include height-vw(190);
      @include width-vw(190);
    }
    @include tb-screen {
      height: 270px;
      width: 270px;
    }
  }
}
.carousel__image {
  background-color: #fff;
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
