@use "../module/setting" as *;

.carousel {
  &.swiper {
    overflow: visible;
  }
}

.carousel__list {
  @extend %list-reset;
  cursor: grab;

  @include sm-screen {
    gap: vw(20);
  }

  @include tb-screen {
    gap: 30px;
  }
}

.carousel__card {
  display: block;

  &.swiper-slide {
    @include sm-screen {
      height: vw(190);
      width: vw(190);
    }

    @include tb-screen {
      height: min(#{vw-tb(190)}, 270px);
      width: min(#{vw-tb(190)}, 270px);
    }
  }
}

.carousel__image {
  background-color: #fff;
  border-color: #000;
  border-style: solid;
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;

  @include sm-screen {
    border-width: vw(1);
  }

  @include tb-screen {
    border-width: 1px;
  }
}
