@use "../module/setting" as *;

.catch {
  display: flex;
  flex-direction: column;
  gap: 2em;

  @include pc-screen {
    font-size: rem(20);
  }
}

.catch__text {
  @extend %margin-reset;
  @include lineHeightCrop(1.4);
}
