@use "../module/setting" as *;

.catch {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.catch__text {
  @include lineHeightCrop(1.4);
  margin: 0;

  @include pc-screen {
    font-size: rem(20);
  }
}
