@use "../module/setting" as *;

.catch {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.catch__text {
  @extend %margin-reset;
  @include lineHeightCrop(1.4);

  @include pc-screen {
    font-size: rem(20);
  }
}
