@use "../setting/config" as i;

.content-wrap {
  @include i.margin-block-start-vw(20);
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  @include i.tb-screen {
    margin-block-start: 40px;
  }
}
