@use "../module/setting" as *;

.contact {
  display: flex;
  flex-direction: column;
}
.contact__group {
  margin-block-start: 20px;
  @include sm-screen {
    @include margin-block-start-vw(20);
  }
  @include tb-screen {
    margin-block-start: 20px;
  }
}
.contact__label {
  @include font-oswald;
  display: block;
  letter-spacing: 0.1em;
  @include tb-screen {
    @include font-size(20);
  }
}
.contact__input,
.contact__textarea {
  -webkit-rtl-ordering: initial;
  appearance: initial;
  background: $color-white;
  border: none;
  border-color: initial;
  border-image: initial;
  border-radius: 5px;
  border-style: initial;
  border-width: initial;
  color: $color-black;
  column-count: initial;
  cursor: initial;
  display: block;
  flex-direction: initial;
  letter-spacing: 0.1em;
  line-height: 1.6;
  margin-block-start: 10px;
  overflow-wrap: initial;
  padding: 15px;
  resize: initial;
  text-align: initial;
  text-indent: initial;
  text-rendering: initial;
  text-shadow: initial;
  text-transform: initial;
  white-space: initial;
  word-spacing: initial;
  writing-mode: initial;
  width: 100%;
  @include sm-screen {
    @include margin-block-start-vw(10);
    @include padding-all-vw(15);
  }
  @include tb-screen {
    margin-block-start: 10px;
    padding: 15px;
  }
  &::placeholder {
    @include font-oswald;
    color: $color-gray;
    letter-spacing: 0.1em;
  }
  &:focus-visible {
    box-shadow: 0 0 5px 1px $color-black;
    outline: none;
    outline-offset: 0;
  }
}
.contact__textarea {
  height: calc(1.6em * 5 + 8vw);
  @include tb-screen {
    height: calc(1.6em * 5 + 5vw);
  }
  @include pc-screen {
    height: calc(1.6em * 5 + 30px);
  }
}
.contact__input-confirmation {
  padding: 15px;
  color: $color-white;
  @include sm-screen {
    @include padding-all-vw(15);
  }
  @include tb-screen {
    padding: 15px;
  }
}
.contact__button-wrap {
  display: flex;
  justify-content: center;
  margin: 40px 0 0;
  @include sm-screen {
    @include margin-block-start-vw(40);
  }
  @include tb-screen {
    margin-block-start: 30px;
  }
}
.contact__error {
  color: $color-error;
}
.contact__completion-text {
  color: $color-white;
  margin-block: 15px;
  text-align: center;
  @include sm-screen {
    @include padding-block-vw(15);
  }
  @include tb-screen {
    padding-block: 15px;
  }
}
