@use "../setting/config" as *;

.content-wrap {
  @include margin-block-start-vw(20);
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  @include tb-screen {
    margin-block-start: 40px;
  }
}
