@use "../import" as i;

.contact {
  display: flex;
  flex-direction: column;
}
.contact__group {
  margin-block-start: i.get_vw-sm(20);
  @include i.tb-screen {
    margin-block-start: i.get_vw-tb(20);
  }
  @include i.pc-screen {
    margin-block-start: 20px;
  }
}
.contact__label {
  color: i.$color-white;
  display: block;
  font-family: i.$font-special;
  font-size: i.get_vw-sm(16);
  letter-spacing: 0.1em;
  @include i.tb-screen {
    font-size: i.get_vw-tb(20);
  }
  @include i.pc-screen {
    font-size: 20px;
  }
}
.contact__input,
.contact__textarea {
  display: block;
  width: 100%;
  margin-block-start: i.get_vw-sm(10);
  padding-block-start: i.get_vw-sm(15);
  padding-block-end: i.get_vw-sm(15);
  padding-inline-start: i.get_vw-sm(15);
  padding-inline-end: i.get_vw-sm(15);
  border: none;
  border-radius: i.get_vw-sm(5);
  background: i.$color-white;
  color: i.$color-black;
  font-size: i.get_vw-sm(16);
  line-height: 1.6;
  letter-spacing: 0.1em;
  @include i.tb-screen {
    margin-block-start: i.get_vw-tb(10);
    padding-block-start: i.get_vw-tb(15);
    padding-block-end: i.get_vw-tb(15);
    padding-inline-start: i.get_vw-tb(15);
    padding-inline-end: i.get_vw-tb(15);
    border-radius: i.get_vw-tb(5);
    font-size: i.get_vw-tb(16);
  }
  @include i.pc-screen {
    margin-block-start: 10px;
    padding-block-start: 15px;
    padding-block-end: 15px;
    padding-inline-start: 15px;
    padding-inline-end: 15px;
    border-radius: 5px;
    font-size: 16px;
  }
  &::placeholder {
    color: i.$color-gray;
    font-family: i.$font-special;
    letter-spacing: 0.1em;
  }
  &:focus-visible {
    box-shadow: 0 0 i.get_vw-sm(5) i.get_vw-sm(1) i.$color-black;
    outline: none;
    outline-offset: 0;
    @include i.tb-screen {
      box-shadow: 0 0 i.get_vw-tb(5) i.get_vw-tb(1) i.$color-black;
    }
    @include i.pc-screen {
      box-shadow: 0 0 5px 1px i.$color-black;
    }
  }
}
.contact__textarea {
  height: calc(1.6em * 5 + 8vw);
  @include i.tb-screen {
    height: calc(1.6em * 5 + 5vw);
  }
  @include i.pc-screen {
    height: calc(1.6em * 5 + 30px);
  }
}
.contact__input-confirmation {
  padding-block-start: i.get_vw-sm(15);
  padding-block-end: i.get_vw-sm(15);
  padding-inline-start: i.get_vw-sm(15);
  padding-inline-end: i.get_vw-sm(15);
  color: i.$color-white;
  @include i.tb-screen {
    padding-block-start: i.get_vw-tb(15);
    padding-block-end: i.get_vw-tb(15);
    padding-inline-start: i.get_vw-tb(15);
    padding-inline-end: i.get_vw-tb(15);
  }
  @include i.pc-screen {
    padding-block-start: 15px;
    padding-block-end: 15px;
    padding-inline-start: 15px;
    padding-inline-end: 15px;
  }
}
.contact__button-wrap {
  display: flex;
  justify-content: center;
  margin-block-start: i.get_vw-tb(40);
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  @include i.tb-screen {
    margin-block-start: i.get_vw-tb(30);
  }
  @include i.pc-screen {
    margin-block-start: 30px;
  }
}
.contact__error {
  color: i.$color-error;
}
.contact__completion-text {
  padding-block-start: i.get_vw-sm(15);
  padding-block-end: i.get_vw-sm(15);
  text-align: center;
  color: i.$color-white;
  @include i.tb-screen {
    padding-block-start: i.get_vw-tb(15);
    padding-block-end: i.get_vw-tb(15);
  }
  @include i.pc-screen {
    padding-block-start: 15px;
    padding-block-end: 15px;
  }
}
