@use "../setting/config" as i;

.contact {
  display: flex;
  flex-direction: column;
}
.contact__group {
  @include i.margin-block-start-vw(20);
  @include i.tb-screen {
    margin-block-start: 20px;
  }
}
.contact__label {
  @include i.font-oswald;
  @include i.font-size-vw(16);
  color: i.$color-white;
  display: block;
  letter-spacing: 0.1em;
  @include i.tb-screen {
    @include i.font-size(20);
  }
}
.contact__input,
.contact__textarea {
  @include i.font-size-vw(16);
  @include i.margin-block-start-vw(10);
  @include i.padding-block-start-vw(15);
  @include i.padding-block-end-vw(15);
  @include i.padding-inline-start-vw(15);
  @include i.padding-inline-end-vw(15);
  -webkit-rtl-ordering: initial;
  appearance: initial;
  background: i.$color-white;
  border: none;
  border-color: initial;
  border-image: initial;
  border-radius: 5px;
  border-style: initial;
  border-width: initial;
  color: i.$color-black;
  column-count: initial;
  cursor: initial;
  display: block;
  flex-direction: initial;
  font: initial;
  letter-spacing: 0.1em;
  line-height: 1.6;
  overflow-wrap: initial;
  resize: initial;
  text-align: initial;
  text-indent: initial;
  text-rendering: initial;
  text-shadow: initial;
  text-transform: initial;
  white-space: initial;
  word-spacing: initial;
  writing-mode: initial;
  width: 100%;
  @include i.tb-screen {
    @include i.font-size(16);
    margin-block-start: 10px;
    padding-block-start: 15px;
    padding-block-end: 15px;
    padding-inline-start: 15px;
    padding-inline-end: 15px;
  }
  &::placeholder {
    @include i.font-oswald;
    color: i.$color-gray;
    letter-spacing: 0.1em;
  }
  &:focus-visible {
    box-shadow: 0 0 5px 1px i.$color-black;
    outline: none;
    outline-offset: 0;
  }
}
.contact__textarea {
  height: calc(1.6em * 5 + 8vw);
  @include i.tb-screen {
    height: calc(1.6em * 5 + 5vw);
  }
  @include i.pc-screen {
    height: calc(1.6em * 5 + 30px);
  }
}
.contact__input-confirmation {
  @include i.padding-block-start-vw(15);
  @include i.padding-block-end-vw(15);
  @include i.padding-inline-start-vw(15);
  @include i.padding-inline-end-vw(15);
  color: i.$color-white;
  @include i.tb-screen {
    padding-block-start: 15px;
    padding-block-end: 15px;
    padding-inline-start: 15px;
    padding-inline-end: 15px;
  }
}
.contact__button-wrap {
  @include i.margin-block-start-vw(40);
  display: flex;
  justify-content: center;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  @include i.tb-screen {
    margin-block-start: 30px;
  }
}
.contact__error {
  color: i.$color-error;
}
.contact__completion-text {
  @include i.padding-block-start-vw(15);
  @include i.padding-block-end-vw(15);
  color: i.$color-white;
  text-align: center;
  @include i.tb-screen {
    padding-block-start: 15px;
    padding-block-end: 15px;
  }
}
