@use "../module/setting" as *;

.copyright {
  @include margin-block-start-vw(20);
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  text-align: center;
  @include tb-screen {
    margin-block-start: 20px;
  }
}
.copyright-text {
  @include font-oswald;
  color: $color-black;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
