@use "../module/setting" as *;

.copyright {
  color: #fff;
  @include font-oswald-regular;
  line-height: 1.2;
  @include lineHeightCrop(1.2);
  margin: 0;
  text-align: center;
  text-transform: uppercase;

  @include sm-screen {
    font-size: vw(14);
  }

  @include tb-screen {
    font-size: rem(14);
  }
}

.copyright__text {
  font-size: inherit;
}
