@use "../setting/config" as i;

.discography {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}
.discography__item {
  display: block;
  &:not(:first-of-type) {
    @include i.margin-block-start-vw(20);
    @include i.tb-screen {
      margin-block-start: 20px;
    }
    @include i.pc-screen {
      margin-block-start: 40px;
    }
  }
}
.discography__type-heading {
  @include i.font-size-vw(28);
  color: i.$color-white;
  font-weight: 700;
  @include i.tb-screen {
    @include i.font-size(28);
  }
}
.discography__swiper {
  @include i.margin-block-start-vw(10);
  @include i.tb-screen {
    margin-block-start: 10px;
  }
  @include i.pc-screen {
    margin-block-start: 20px;
  }
  &.swiper {
    width: 100%;
    height: 100%;
    overflow: visible;
  }
}
.discography__swiper-list {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}
.discography__card {
  display: block;
  &.swiper-slide {
    width: fit-content;
  }
}
.discography__frame {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}
.discography__image {
  @include i.height-vw(130);
  @include i.width-vw(130);
  display: block;
  object-fit: cover;
  @include i.tb-screen {
    height: 160px;
    width: 160px;
  }
  @include i.pc-screen {
    height: 230px;
    width: 230px;
  }
}
