@use "../setting/config" as i;

.footer {
  @include i.padding-block-start-vw(20);
  @include i.padding-block-end-vw(20);
  bottom: 0;
  position: absolute;
  width: 100%;
  @include i.tb-screen {
    padding-block-start: 20px;
    padding-block-end: 20px;
  }
  @include i.pc-screen {
    padding-block-start: 40px;
    padding-block-end: 40px;
  }
}
