@use "../import" as i;

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: i.get_vw-sm(40) 0;
  @include i.tb-screen {
    padding: i.get_vw-tb(40) 0;
  }
  @include i.pc-screen {
    padding: 40px 0;
  }
}
