@use "../module/setting" as *;

.footer {
  bottom: 0;
  padding-block: 20px;
  position: absolute;
  width: 100%;
  @include sm-screen {
    @include padding-block-vw(20);
  }
  @include tb-screen {
    padding-block: 20px;
  }
  @include pc-screen {
    padding-block: 40px;
  }
}
