@use "../module/setting" as *;

.form {
  display: flex;
  flex-direction: column;
}

.form__contents {
  display: flex;
  flex-direction: column;
  gap: vw(30);

  @include tb-screen {
    gap: 30px;
  }
}

.form__row {
  position: relative;
}

.form__label {
  @include font-oswald-regular;
  display: block;

  @include tb-screen {
    font-size: rem(20);
  }
}

.form__input,
.form__textarea {
  -webkit-rtl-ordering: initial;
  appearance: initial;
  background-color: $color_white;
  border-color: $border-color_base;
  border-radius: vw(5);
  border-style: solid;
  border-width: vw(1);
  color: $color_base;
  column-count: initial;
  cursor: initial;
  display: block;
  flex-direction: initial;
  font-size: vw(16);
  letter-spacing: 0.1em;
  line-height: 1.6;
  margin-block-start: vw(10);
  padding: vw(15);
  overflow-wrap: initial;
  resize: initial;
  text-align: initial;
  text-indent: initial;
  text-rendering: initial;
  text-shadow: initial;
  text-transform: initial;
  white-space: initial;
  word-spacing: initial;
  writing-mode: initial;
  width: 100%;

  @include tb-screen {
    font-size: rem(16);
    border-width: 1px;
    border-radius: 5px;
    margin-block-start: 10px;
    padding: 15px;
  }

  &::placeholder {
    @include font-oswald-regular;
    color: $color_gray;
  }

  &:focus-visible {
    box-shadow: 0 0 5px 1px $background-color_base;
    outline: none;
    outline-offset: 0;
  }
}

.form__textarea {
  height: calc(1.6em * 5 + 8vw);

  @include tb-screen {
    height: calc(1.6em * 5 + 5vw);
  }

  @include pc-screen {
    height: calc(1.6em * 5 + 30px);
  }
}

.form__button-wrap {
  display: flex;
  justify-content: center;
  margin-block-end: 0;
  margin-block-start: vw(40);
  margin-inline: 0;

  @include tb-screen {
    margin-block-start: 30px;
  }
}

.form__success-message,
.form__error-message {
  font-size: vw(12);
  margin: 0;
  opacity: 0;
  position: absolute;
  transition: $transition-default;

  @include tb-screen {
    font-size: rem(14);
  }
}

.form__success-message {
  color: $color_success;

  &.js-success {
    opacity: 1;
  }
}

.form__error-message {
  color: $color-error;

  &.js-error {
    opacity: 1;
  }
}

.form__toaster {
  border-bottom-left-radius: vw(5);
  border-top-left-radius: vw(5);
  box-shadow: 0 3px 15px rgb(0 0 0 / 10%);
  color: $color_white;
  display: inline-block;
  font-size: vw(12);
  padding-block: vw(10);
  padding-inline: vw(15);
  position: fixed;
  right: 0;
  transition: all 0.5s ease-out;
  transform: translate3d(100%, 0, 0);
  top: vw(20);
  z-index: 1000;

  @include tb-screen {
    font-size: rem(16);
    border-radius: 5px;
    padding: 15px 20px;
  }

  &.js-success {
    background-color: $background-color_accent;
    transform: translate3d(0, 0, 0);
  }

  &.js-error {
    background-color: $color-error;
    transform: translate3d(0, 0, 0);
  }
}
