@use "../setting/config" as i;

.global-navigation {
  @include i.margin-block-start-vw(20);
  text-align: center;
  @include i.tb-screen {
    margin-block-start: 20px;
  }
}
.global-navigation--sp {
  @include i.tb-screen {
    display: none;
  }
}
.global-navigation--sp__selector {
  margin: 0 auto;
  width: 100%;
}
.global-navigation--sp__title {
  @include i.font-oswald;
  @include i.font-size-vw(26);
  align-items: center;
  color: i.$color-white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  letter-spacing: 0.1em;
  &::after {
    @include i.font-size-vw(20);
    @include i.margin-inline-start-vw(10);
    color: i.$color-white;
    content: "▼";
  }
}
.global-navigation--sp__menu {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  transition: all 0.3s;
  top: 0;
  visibility: hidden;
  width: 100%;
  &.js-open {
    opacity: 1;
    visibility: visible;
    z-index: 2;
  }
}
.global-navigation--sp__close-wrap {
  bottom: 10%;
  left: 50%;
  position: absolute;
  transform: translatex(-50%);
}
.global-navigation--sp__close {
  @include i.width-vw(50);
  @include i.height-vw(50);
  background-color: i.$color-white;
  border-radius: 50%;
  position: relative;
  &::before,
  &::after {
    @include i.width-vw(3);
    @include i.height-vw(25);
    background: i.$color-black;
    content: "";
    left: 50%;
    position: absolute;
    top: 50%;
  }
  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
.global-navigation--sp__list {
  @include i.font-size-vw(28);
  @include i.padding-block-start-vw(20);
  @include i.padding-block-end-vw(20);
  align-items: center;
  background: radial-gradient(transparent, #000 100%);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  overflow-y: scroll;
  width: 100%;
}
.global-navigation--sp__link {
  color: i.$color-white;
  cursor: pointer;
  display: block;
  text-decoration: none;
}
.global-navigation--sp__item {
  @include i.font-oswald;
  @include i.padding-block-start-vw(20);
  @include i.padding-block-end-vw(20);
  @include i.padding-inline-start-vw(70);
  @include i.padding-inline-end-vw(70);
  @include i.width-vw(300);
  display: block;
  letter-spacing: 0.1em;
  text-align: center;
}
.global-navigation--pc {
  display: none;
  @include i.tb-screen {
    display: block;
  }
}
.global-navigation--pc__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding-inline-start: 0;
  width: 100%;
}
.global-navigation--pc__item {
  @include i.font-oswald;
  letter-spacing: 0.1em;
  @include i.tb-screen {
    @include i.font-size(24);
    padding-inline-start: 15px;
    padding-inline-end: 15px;
  }
  @include i.pc-screen {
    @include i.font-size(28);
  }
  &:hover {
    opacity: 0.8;
  }
}
.global-navigation--pc__link {
  color: i.$color-white;
  cursor: pointer;
  display: block;
  text-decoration: none;
  &.current {
    color: i.$color-black;
  }
}
