@use "../import" as i;

.global-navigation {
  &--sp {
    @include i.tb-screen {
      display: none;
    }
    &__selector {
      width: 100%;
      margin: 0 auto;
    }
    &__title {
      display: flex;
      align-items: center;
      justify-content: center;
      color: i.$color-white;
      font-size: i.get_vw-sm(28);
      cursor: pointer;
      &::after {
        margin-inline-start: i.get_vw-sm(10);
        color: i.$color-white;
        font-size: i.get_vw-sm(20);
        content: "▼";
      }
    }
    &__menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      transition: all 0.5s;
      visibility: hidden;
      opacity: 0;
      backdrop-filter: blur(12px);
      &.js-open {
        visibility: visible;
        opacity: 1;
        z-index: 2;
      }
    }
    &__close-wrap {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translatex(-50%);
    }
    &__close {
      position: relative;
      width: i.get_vw-sm(50);
      height: i.get_vw-sm(50);
      background-color: i.$color-white;
      border-radius: 50%;
      &::before,
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: i.get_vw-sm(3);
        height: i.get_vw-sm(25);
        background: i.$color-black;
        content: "";
      }
      &::before {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
    &__list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: 100%;
      padding-block-start: 40%;
      padding-block-end: 40%;
      padding-inline-start: 0;
      padding-inline-end: 0;
      background: radial-gradient(transparent, #000 100%);
      overflow-y: scroll;
    }
    &__link {
      display: block;
      color: i.$color-white;
      font-size: i.get_vw-sm(28);
      line-height: 1;
    }
    &__item {
      width: i.get_vw-sm(300);
      padding: i.get_vw-sm(20) i.get_vw-sm(70);
      text-align: center;
    }
  }
  &--pc {
    display: none;
    @include i.tb-screen {
      display: block;
    }
    &__list {
      @include i.tb-screen {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: auto;
        margin-inline-end: auto;
      }
    }
    &__item {
      padding-inline-start: i.get_vw-sm(15);
      padding-inline-end: i.get_vw-sm(15);
      @include i.tb-screen {
        padding-inline-start: i.get_vw-tb(15);
        padding-inline-end: i.get_vw-tb(15);
      }
      @include i.pc-screen {
        padding-inline-start: 15px;
        padding-inline-end: 15px;
      }
    }
    &__link {
      display: block;
      color: i.$color-white;
      line-height: 1;
      @include i.tb-screen {
        font-size: i.get_vw-tb(24);
      }
      @include i.pc-screen {
        font-size: 28px;
      }
      &.current {
        color: i.$color-black;
      }
    }
  }
  &__wrapper {
    padding: i.get_vw-sm(15) 0;
    @include i.pc-screen {
      padding: i.get_vw-tb(15) 0;
    }
    @include i.pc-screen {
      padding: 25px 0;
    }
  }
}
