@use "../module/setting" as *;

.header {
  &.is-hide {
    display: none;
  }
}

.header__inner {
  display: flex;
  flex-direction: column;
  left: 0;
  padding-inline: vw(20);
  top: 0;
  transition: $transition-default;
  width: 100%;
  z-index: 1000;
}
