@use "../setting/config" as *;

.heading {
  @include font-size-vw(14);
  font-weight: 700;
  @include margin-block-start-vw(0);
  @include margin-block-end-vw(15);
  text-align: center;
  @include tb-screen {
    @include font-size(18);
    display: block;
    margin-block-start: 0;
    margin-block-end: 50px;
  }
  &::before {
    @include font-oswald;
    @include font-size-vw(26);
    content: attr(data-heading);
    display: block;
    text-transform: uppercase;
    @include tb-screen {
      @include font-size(32);
    }
  }
}
