@use "../module/setting" as *;

.heading {
  font-weight: 400;
  line-height: 1;
  margin: 0;
  text-align: center;
  @include sm-screen {
    font-size: vw(14);
  }
  @include tb-screen {
    font-size: rem(16);
  }
}
.heading__text {
  &::before {
    @include font-oswald-medium;
    content: attr(data-heading);
    display: block;
    text-transform: uppercase;
    @include sm-screen {
      font-size: vw(26);
      margin-block-end: 8px;
    }
    @include tb-screen {
      font-size: rem(32);
      margin-block-end: 12px;
    }
  }
}
