@use "../module/setting" as *;

.header {
  align-items: center;
  background-color: transparent;
  display: flex;
  height: 60px;
  justify-content: center;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: $transition-default;
  width: 100%;
  z-index: 1000;
  @include sm-screen {
    @include height-vw(60);
  }
  @include tb-screen {
    flex-direction: column;
    height: 165px;
  }
  &.js-hide {
    opacity: 0;
  }
}
.header__title {
  @include font-oswald;
  @include font-size(22);
  font-weight: 400;
  margin: 0;
  @include sm-screen {
    @include font-size-vw(22);
  }
  @include tb-screen {
    @include font-size(45);
  }
  @include pc-screen {
    @include font-size(54);
  }
}
.header__title-anchor {
  color: $color-black;
  display: block;
  pointer-events: auto;
  text-decoration: none;
  text-transform: uppercase;
}
.header__checkbox {
  display: none;
  &:checked {
    & ~ .navigation-sm {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    & ~ .header__button {
      display: none;
    }
  }
}
.header__button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  pointer-events: auto;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1002;
  @include sm-screen {
    @include right-vw(30);
  }
  @include tb-screen {
    display: none;
  }
}
.header__button-bar {
  background-color: $color-black;
  display: block;
  height: 2px;
  margin-block-end: 7px;
  transition: all 0.15s ease-in-out;
  width: 25px;
  @include sm-screen {
    @include height-vw(2);
    @include margin-block-end-vw(7);
    @include width-vw(25);
  }
  &:last-of-type {
    margin-block-end: 0;
  }
}
