@use "../module/setting" as *;

.header {
  background-color: $base-color;
  display: flex;
  flex-direction: column;
  transition: $transition-default;
  width: 100%;

  @include sm-screen {
    padding: vw-sm(20);
  }

  @include tb-screen {
    row-gap: min(#{vw-tb(40)}, 64px);
    padding: min(#{vw-tb(50)}, 78px) min(#{vw-tb(40)}, 50px);
  }

  @media screen and (min-width: 1200px) {
    padding-inline: 0;
  }

  &.is-hide {
    display: none;
  }
}
