@use "../module/setting" as *;

.hero {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
  @include sm-screen {
    @include padding-block-start-vw(60);
  }
  @include tb-screen {
    padding-block-start: 165px;
    width: 50%;
  }
}
.hero__frame {
  height: calc(100vh / 3);
  margin: 0;
}
.hero__image {
  display: block;
  height: 100%;
  pointer-events: none;
  width: auto;
}
