@use "../module/setting" as *;

.hero {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;

  @include sm-screen {
    width: 70%;
  }

  @include tb-screen {
    width: min(40%, 500px);
  }

  @include lt-screen {
    width: 25%;
  }
}

.hero__image {
  @extend %image;
  aspect-ratio: 3000 / 2001;
  height: auto;
}
