@use "../module/setting" as *;

.main {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @include sm-screen {
    row-gap: vw-sm(30);
  }

  @include tb-screen {
    row-gap: min(#{vw-tb(30)}, 40px);
  }
}
