@use "../module/setting" as *;

.navigation-sm {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  left: 0;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: 0;
  transform: translate3d(0, -100%, 0);
  width: 100%;
  z-index: 1001;
  @include tb-screen {
    display: none;
  }
  &.js-hide {
    opacity: 1;
  }
}
.navigation-sm__list {
  @include font-size(28);
  align-items: center;
  background: radial-gradient(transparent, #000 100%);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 20px 0;
  overflow-y: scroll;
  width: 100%;
  @include sm-screen {
    @include font-size-vw(28);
    @include padding-block-vw(20);
  }
}
.navigation-sm__item {
  @include font-oswald-medium;
  display: block;
  padding: 20px 0;
  text-align: center;
  width: 300px;
  @include sm-screen {
    @include padding-block-vw(20);
    @include width-vw(300);
  }
}
.navigation-sm__anchor {
  color: $color-white;
  cursor: pointer;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
.navigation-sm__close-wrap {
  bottom: 10%;
  left: 50%;
  position: absolute;
  transform: translatex(-50%);
}
.navigation-sm__close {
  background-color: $color-white;
  border-radius: 50%;
  height: 50px;
  position: relative;
  width: 50px;
  @include sm-screen {
    @include height-vw(50);
    @include width-vw(50);
  }
  &::before,
  &::after {
    background: $color-black;
    content: "";
    height: 25px;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 3px;
    @include sm-screen {
      @include height-vw(25);
      @include width-vw(3);
    }
  }
  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.navigation-pc {
  display: none;
  width: 100%;
  @include tb-screen {
    display: block;
  }
}
.navigation-pc__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  @include tb-screen {
    padding-block: 15px;
  }
}
.navigation-pc__item {
  @include tb-screen {
    padding-inline: 15px;
  }
  &:hover {
    opacity: 0.8;
  }
}
.navigation-pc__anchor {
  @include font-oswald-medium;
  color: $color-black;
  cursor: pointer;
  display: block;
  pointer-events: auto;
  text-decoration: none;
  text-transform: uppercase;
  @include tb-screen {
    @include font-size(20);
  }
  &.current {
    @include tb-screen {
      color: $color-hover-red;
    }
  }
}
