@use "../module/setting" as *;

.navigation {
  display: none;
  width: 100%;
  @include tb-screen {
    display: block;
  }
}
.navigation__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.navigation__item {
  @include tb-screen {
    padding-inline: 15px;
  }
  &:hover {
    opacity: 0.8;
  }
}
.navigation__anchor {
  @include font-oswald-medium;
  color: $color_base;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  @include tb-screen {
    @include font-size(18);
  }
  @include pc-screen {
    @include font-size(20);
  }
  &.current {
    @include tb-screen {
      border-block-end: 2px solid $border-color_base;
    }
  }
}
