@use "../import" as i;

.news {
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__item {
    margin-block-start: get_vw-sm(40);
    @include i.tb-screen {
      display: flex;
      margin-block-start: get_vw-tb(60);
    }
    @include i.pc-screen {
      margin-block-start: 80px;
    }
    &:first-child {
      margin-block-start: 0;
      @include i.tb-screen {
        margin-block-start: 0;
      }
      @include i.pc-screen {
        margin-block-start: 0;
      }
    }
  }
  &__thumbnail {
    @include i.tb-screen {
      max-width: 200px;
    }
  }
  &__thumbnail-image {
    display: block;
    width: 100%;
  }
  &__caption {
    padding-block-start: get_vw-sm(20);
    padding-block-end: get_vw-sm(20);
    padding-inline-start: get_vw-sm(10);
    padding-inline-end: get_vw-sm(10);
    @include i.tb-screen {
      padding-block-start: get_vw-tb(10);
      padding-block-end: get_vw-tb(10);
      padding-inline-start: get_vw-tb(20);
      padding-inline-end: get_vw-tb(20);
    }
    @include i.pc-screen {
      padding-block-start: 10px;
      padding-block-end: 10px;
      padding-inline-start: 30px;
      padding-inline-end: 30px;
    }
  }
  &__caption-time {
    color: i.$color-white;
    font-weight: bold;
  }
  &__caption-title {
    margin-block-start: get_vw-sm(20);
    color: i.$color-white;
    font-size: get_vw-sm(16);
    font-weight: bold;
    @include i.tb-screen {
      margin-block-start: get_vw-tb(20);
      font-size: get_vw-tb(16);
    }
    @include i.pc-screen {
      margin-block-start: 20px;
      font-size: 16px;
    }
  }
}
