@use "../import" as i;

.news-detail {
  display: flex;
  flex-direction: column;
  &__content {
    margin-block-start: i.get_vw-sm(40);
    @include i.tb-screen {
      margin-block-start: i.get_vw-tb(40);
    }
    @include i.pc-screen {
      margin-block-start: 40px;
    }
  }
  &__image {
    display: block;
    margin-inline-start: auto;
    margin-inline-end: auto;
    @include i.tb-screen {
      margin-inline-start: 0;
      margin-inline-end: 0;
    }
  }
}
