@use "../import" as i;

.news {
  display: flex;
  flex-direction: column-reverse;
  &__item {
    border-top: 1px solid #fff;
    &:first-of-type {
      border-bottom: 1px solid #fff;
    }
    &:hover {
      opacity: 0.8;
    }
  }
  &__link {
    display: block;
    padding-block-start: i.get_vw-sm(15);
    padding-block-end: i.get_vw-sm(15);
    @include i.tb-screen {
      padding-block-start: i.get_vw-tb(15);
      padding-block-end: i.get_vw-tb(15);
    }
    @include i.pc-screen {
      padding-block-start: 30px;
      padding-block-end: 30px;
    }
  }
  &__date {
    display: block;
    color: i.$color-white;
    font-weight: 700;
  }
}
