@use "../import" as i;

.news-detail {
  display: flex;
  flex-direction: column;
  &__image {
    display: block;
    margin-inline-start: auto;
    margin-inline-end: auto;
    width: 70%;
    @include i.tb-screen {
      width: 50%;
    }
  }
}
