@use "../setting/config" as *;

.news {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  @include tb-screen {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &::before,
  &::after {
    @include tb-screen {
      content: "";
      display: block;
      height: 0;
      width: calc(100% / 4 - 15px);
    }
  }
  &::before {
    order: 1;
  }
}
.news__item {
  display: block;
  @include tb-screen {
    @include margin-block-end-vw(20);
    width: calc(100% / 4 - 15px);
  }
  &:hover {
    opacity: 0.8;
  }
}
.news__anchor {
  @include padding-block-start-vw(15);
  @include padding-block-end-vw(15);
  cursor: pointer;
  display: flex;
  text-decoration: none;
  @include tb-screen {
    flex-direction: column;
    padding-block-start: 0;
    padding-block-end: 0;
  }
}
.news__thumbnail {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 5%;
  @include tb-screen {
    margin-inline-end: 0;
  }
}
.news__thumbnail-image {
  @include height-vw(110);
  @include width-vw(110);
  display: block;
  object-fit: cover;
  @include tb-screen {
    height: 177px;
    width: 100%;
  }
}
.news__title {
  @include font-size-vw(16);
  color: $color-black;
  font-weight: 700;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  word-break: break-all;
  @include tb-screen {
    @include font-size(16);
    padding-block-start: 20px;
    padding-block-end: 20px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    width: 100%;
  }
}
