@use "../module/setting" as *;

.section {
  margin: 0 auto;
  padding-inline: 0;
  width: 100%;
}

.section__inner {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  padding-block: 0;

  @include sm-screen {
    row-gap: vw-sm(20);
    padding-inline: vw-sm(20);
  }

  @include tb-screen {
    row-gap: 20px;
    padding-inline: clamp(40px, #{vw-tb(40)}, 50px);
  }

  @media screen and (min-width: 1200px) {
    padding: 0;
  }
}

.section__inner--form {
  @include tb-screen {
    margin: 0 auto;
    width: 80%;
  }
}
