@use "../module/setting" as *;

.section {
  margin: 0 auto;
  padding: 30px 0;
  width: 100%;
  @include sm-screen {
    @include padding-block-vw(30);
  }
  @include tb-screen {
    padding-block: 80px;
  }
}
.section__inner {
  box-sizing: content-box;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
  @include sm-screen {
    @include padding-inline-vw(20);
  }
  @include tb-screen {
    padding-inline: 40px;
  }
  @include pc-screen {
    padding-inline: 100px;
  }
  @include lt-screen {
    padding-inline: 40px;
  }
}
.section__heading {
  @include font-size(26);
  margin: 0 0 10px;
  @include sm-screen {
    @include font-size-vw(26);
    @include margin-block-end-vw(10);
  }
  @include tb-screen {
    @include font-size(32);
    margin-block-end: 30px;
  }
  &--ja {
    @include font-not-sans-jp-bold;
  }
  &--en {
    @include font-oswald-medium;
  }
}
