@use "sass:math";

/* colors */
$background-color_base: #fff700;
$background-color_main: #171717;
$background-color_accent: #00be28;
$border-color_base: #171717;
$color_base: #171717;
$color_white: #fff;
$color_gray: #ccc;
$color_success: #00be28;
$color_error: #ff6753;
$main: #171717;

/* base font size */
$base-font-size: 16;

/* transition */
$transition-default: all 0.15s ease-in-out;

/* base window width for smartphone */
$base-window-width: 375;

/* @function
----------------------------------------- */
/* convert from px to rem */
@function rem($px) {
  @return math.div($px, $base-font-size) * 1rem;
}

/* convert from px to vw */
@function vw($size, $viewport: 375) {
  $rate: math.div(100, $viewport);
  @return $rate * $size * 1vw;
}

/* @mixin
----------------------------------------- */
/* breakpoint */
@mixin sm-screen {
  @media screen and (min-width: 375px) {
    @content;
  }
}

@mixin tb-screen {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin pc-screen {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin lt-screen {
  @media screen and (min-width: 1024px) and (max-width: 1400px) {
    @content;
  }
}

/* font family */
@mixin font-default {
  @include font-not-sans-jp-regular;
}

@mixin font-not-sans-jp-regular {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
}

@mixin font-not-sans-jp-bold {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
}

@mixin font-oswald-regular {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

@mixin font-oswald-medium {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

@mixin lineHeightCrop($line-height) {

  &::before,
  &::after {
    content: "";
    display: block;
    height: 0;
    width: 0;
  }

  &::before {
    margin-top: calc((1 - #{$line-height}) * .5em);
  }

  &::after {
    margin-bottom: calc((1 - #{$line-height}) * .5em);
  }
}

%extrude {
  margin: 0 calc(50% - 50vw);
}

%carousel__inner {
  padding-block: 0;

  @include sm-screen {
    font-size: vw(20);
  }

  @include tb-screen {
    padding-inline: 30px;
  }

  @include pc-screen {
    padding-inline: 60px;
  }
}

/* normalize / reset
----------------------------------------- */
* {
  box-sizing: border-box;
}

html {
  height: -webkit-fill-available;

  &.js-scroll-prevent {
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: -1;
  }
}

body {
  @include font-default;
  color: $color_base;
  background-color: $background-color_base;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  letter-spacing: 0.05em;
  line-height: 1.8;
  margin: 0;

  @include sm-screen {
    font-size: vw(16);
  }

  @include tb-screen {
    font-size: rem(16);
  }
}
