@use "sass:math";

/* colors */
$base-color: #fef053;
$main-color: #171717;
$accent-color: #52c5f1;
$success-color: #00be28;
$error-color: #ff6753;
$placeholder-color: #ccc;
$aspect-logo: math.div(3000, 2001);

/* transition */
$transition-default: all 0.15s ease-in-out;

/* @function
----------------------------------------- */
/* convert from px to rem */
@function rem($px, $base: 16) {
  @return math.div($px, $base) * 1rem;
}

/* convert from px to vw */
@function vw-sm($size, $viewport: 375) {
  $rate: math.div(100, $viewport);
  @return $rate * $size * 1vw;
}

@function vw-tb($size, $viewport: 768) {
  $rate: math.div(100, $viewport);
  @return $rate * $size * 1vw;
}

/* @mixin
----------------------------------------- */
/* breakpoint */
@mixin sm-screen {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin tb-screen {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin pc-screen {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin lt-screen {
  @media screen and (min-width: 1024px) and (max-width: 1440px) {
    @content;
  }
}

/* font family */
@mixin font-default {
  @include font-not-sans-jp-regular;
}

@mixin font-not-sans-jp-regular {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
}

@mixin font-not-sans-jp-bold {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
}

@mixin font-oswald-regular {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

@mixin font-oswald-medium {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

@mixin lineHeightCrop($line-height) {
  &::before,
  &::after {
    content: "";
    display: block;
    height: 0;
    width: 0;
  }

  &::before {
    margin-top: calc((1 - #{$line-height}) * 0.5em);
  }

  &::after {
    margin-bottom: calc((1 - #{$line-height}) * 0.5em);
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

/* normalize / reset
----------------------------------------- */
* {
  box-sizing: border-box;
}

:where(html) {
  height: -webkit-fill-available;
}

:where(body) {
  @include font-default;
  color: $main-color;
  background-color: $base-color;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  letter-spacing: 0.05em;
  line-height: 1.6;
  margin: 0;

  @include sm-screen {
    font-size: vw-sm(16);
  }

  @include tb-screen {
    font-size: rem(16);
  }

  &.js-scroll-prevent {
    overflow: hidden;
    position: fixed;
    width: 100%;
  }
}

:where(h3, p) {
  margin: 0;
}

:where(img) {
  display: block;
  width: 100%;
}

:where(ul) {
  list-style: none;
  margin: 0;
  padding: 0;
}

:where(figure) {
  margin: 0;
}

/* @extend
----------------------------------------- */
%list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

%margin-reset {
  margin: 0;
}

%image {
  display: block;
  width: 100%;
}

%text-group {
  & > * {
    margin: 0;
  }

  & > * + * {
    margin-block-start: 2em;
  }

  a {
    color: $main-color;
    cursor: pointer;
    text-decoration: underline;
  }
}

%extrude {
  margin: 0 calc(50% - 50vw);
}

%carousel__inner {
  padding-block: 0;

  @include sm-screen {
    font-size: vw-sm(20);
  }

  @include tb-screen {
    padding-inline: 30px;
  }

  @include pc-screen {
    padding-inline: 60px;
  }
}
