@use "sass:math";

/* colors */
$color-white: #fff;
$color-black: #171717;
$color-gray: #ccc;
$color-pink: #e8b6b4;
$color-pink-sub: #ffe4e1;
$color-blue: #2b7bb9;
$color-success: #00be28;
$color-error: #ff0000;
$color-hover-red: #c16452;

/* transition */
$transition-default: all 0.15s ease-in-out;

/* base window width for smartphone */
$base-window-width: 375;

/* @mixin
----------------------------------------- */
/* breakpoint */
@mixin sm-screen {
  @media screen and (min-width: 375px) {
    @content;
  }
}
@mixin tb-screen {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin pc-screen {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

/* font family */
@mixin font-default {
  @include font-not-sans-jp-regular;
}
@mixin font-not-sans-jp-regular {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
}
@mixin font-not-sans-jp-bold {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
}
@mixin font-oswald-regular {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
@mixin font-oswald-medium {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

/* font size */
@mixin font-size($px: 16) {
  font-size: (math.div($px, 10)) + rem;
}
@mixin font-size-vw($px: 16) {
  font-size: (math.div($px, $base-window-width) * 100) + vw;
}

/* 画面幅相対 */
@mixin width-vw($px) {
  width: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin height-vw($px) {
  height: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin margin-all-vw($px) {
  margin: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin margin-block-vw($px) {
  margin-block: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin margin-block-start-vw($px) {
  margin-block-start: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin margin-block-end-vw($px) {
  margin-block-end: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin margin-inline-vw($px) {
  margin-inline: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin margin-inline-start-vw($px) {
  margin-inline-start: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin margin-inline-end-vw($px) {
  margin-inline-end: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin padding-all-vw($px) {
  padding: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin padding-block-vw($px) {
  padding-block: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin padding-block-start-vw($px) {
  padding-block-start: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin padding-block-end-vw($px) {
  padding-block-end: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin padding-inline-vw($px) {
  padding-inline: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin padding-inline-start-vw($px) {
  padding-inline-start: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin padding-inline-end-vw($px) {
  padding-inline-end: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin top-vw($px) {
  top: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin bottom-vw($px) {
  bottom: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin left-vw($px) {
  left: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin right-vw($px) {
  right: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin border-all-vw($px) {
  border-width: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin border-top-width-vw($px) {
  border-top-width: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin border-bottom-width-vw($px) {
  border-bottom-width: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin border-left-width-vw($px) {
  border-left-width: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin border-right-width-vw($px) {
  border-right-width: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin border-all-radius-vw($px) {
  border-radius: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin border-top-left-radius-vw($px) {
  border-top-left-radius: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin border-top-right-radius-vw($px) {
  border-top-right-radius: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin border-bottom-left-radius-vw($px) {
  border-bottom-left-radius: (math.div($px, $base-window-width) * 100) + vw;
}
@mixin border-top-right-radius-vw($px) {
  border-bottom-right-radius: (math.div($px, $base-window-width) * 100) + vw;
}

/* normalize / reset
----------------------------------------- */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  &.js-scroll-prevent {
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: -1;
  }
}
body {
  @include font-default;
  @include font-size(16);
  background-color: $color-pink;
  color: $color-black;
  letter-spacing: 0.05em;
  line-height: 1.8;
  margin: 0;
  @include sm-screen {
    @include font-size-vw(16);
  }
  @include tb-screen {
    @include font-size(16);
  }
}
