@use "../setting/config" as *;

.site-title {
  @include font-oswald;
  @include font-size-vw(40);
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  text-align: center;
  @include tb-screen {
    @include font-size(45);
  }
  @include pc-screen {
    @include font-size(54);
  }
}
.site-title__link {
  color: $color-black;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}
