.sns {
  &__list {
    display: flex;
    justify-content: center;
    padding: get_vw-sm(15) 0;
    @include pc-screen {
      padding: get_vw-tb(25) 0;
    }
    @include pc-screen {
      padding: 25px 0;
    }
  }
  &__item {
    padding-inline-start: get_vw-sm(10);
    padding-inline-end: get_vw-sm(10);
    @include tb-screen {
      padding-inline-start: get_vw-tb(10);
      padding-inline-end: get_vw-tb(10);
    }
    @include pc-screen {
      padding-inline-start: 10px;
      padding-inline-end: 10px;
    }
  }
  /* ボタン全体 */
  &__link {
    display: inline-block;
    position: relative;
    width: get_vw-sm(40);
    height: get_vw-sm(40);
    border-radius: 50%;
    background-color: $color-black;
    color: $color-white;
    font-size: get_vw-sm(20);
    text-decoration: none;
    transition: 0.5s;
    @include tb-screen {
      width: get_vw-sm(30);
      height: get_vw-sm(30);
      font-size: get_vw-sm(16);
    }
    @include pc-screen {
      width: 50px;
      height: 50px;
      font-size: 30px;
    }
    /* アイコンを真ん中に */
    i {
      position: absolute;
      top: 50%;
      left: 52%;
      transform: translate(-50%, -50%);
    }
    /* Twitterマウスホバー時 */
    &--twitter:hover {
      background: linear-gradient(135deg, #13f1fc 0%, #0470dc 100%);
    }
    /* Instagramマウスホバー時 */
    &--instagram:hover {
      background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
      background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
    }
    /* YouTubeマウスホバー時 */
    &--youtube:hover {
      background: linear-gradient(135deg, #f5515f 0%, #c9293c 100%);
    }
  }
}
