@use "../module/setting" as *;

.text {
  margin: 0;
  word-break: break-all;

  &:not(:first-of-type) {
    margin-block-start: 2em;
  }

  a {
    color: $main-color;
    cursor: pointer;
    text-decoration: underline;
  }
}

.text--bold {
  font-weight: 700;
}
