@use "../setting/config" as *;

.text {
  color: $color-black;
  line-height: 1.8;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  word-break: break-all;
  &:not(:first-of-type) {
    @include margin-block-start-vw(16);
    @include tb-screen {
      margin-block-start: 16px;
    }
  }
  &--bold {
    font-weight: 700;
  }
  a {
    color: $color-black;
    cursor: pointer;
    text-decoration: underline;
  }
}
