@use "../module/setting" as *;

.title {
  @include font-oswald-medium;
  line-height: 1.4;
  margin: 0;
  text-align: center;
  width: 100%;
  word-break: break-all;

  @include sm-screen {
    font-size: vw(22);
  }

  @include tb-screen {
    font-size: rem(22);
  }

  @include pc-screen {
    font-size: rem(54);
  }
}

.title__link {
  color: $color_base;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
