@use "../import" as i;

.wrapper {
  position: relative;
  min-height: 100vh;
  padding-bottom: i.get_vw-sm(164);
  @include i.tb-screen {
    padding-bottom: i.get_vw-tb(164);
  }
  @include i.pc-screen {
    padding-bottom: 164px;
  }
}
