@use "../setting/config" as i;

.wrapper {
  position: relative;
  min-height: 100vh;
  @include i.padding-block-end-vw(123);
  @include i.tb-screen {
    padding-block-end: 123px;
  }
  @include i.pc-screen {
    padding-block-end: 163px;
  }
}
