@use "../module/setting" as *;

.wrapper {
  height: 100%;
  min-height: 100vh;
  padding-block-end: calc(calc(#{vw(14)}) + calc(#{vw(40)}));
  position: relative;

  @include tb-screen {
    padding-block-end: calc(calc(#{rem(14)}) + 40px);
  }

  @include pc-screen {
    padding-block-end: calc(calc(#{rem(40)}) + calc(#{rem(14.02)}) + 60px);
  }
}
