@use '../module/setting' as *;

.article {
  display: grid;
  grid-template-rows: max-content max-content 1fr auto;

  @include sm-screen {
    grid-template-columns: 1fr;
    grid-gap: vw-sm(50);
  }

  @include tb-screen {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
  }
}

.article__title {
  @include sm-screen {
    font-size: vw-sm(24);
  }

  @include tb-screen {
    grid-area: 1 / 1 / 2 / 3;
    font-size: min(#{vw-tb(24)}, #{rem(28)});
  }
}

.article__eyecatch {
  @include tb-screen {
    grid-area: 2 / 1 / 3 / 2;
  }
}

.article__body {
  & > * + * {
    margin-block-start: 2em;
  }

  a {
    text-decoration: underline;
    cursor: pointer;
  }

  @include tb-screen {
    grid-area: 2 / 2 / 3 / 3;
  }
}

.article__button {
  display: flex;
  justify-content: center;

  @include tb-screen {
    grid-area: 3 / 1 / 4 / 3;
  }
}

.article__pictures {
  display: flex;
  flex-direction: column;

  @include sm-screen {
    gap: vw-sm(15);
  }

  @include tb-screen {
    gap: 30px;
  }
}

.article__image-wrap {
  margin: 2em 0 0;
}

.article__image {
  display: block;
  width: 100%;
  border-color: #000;
  border-style: solid;

  @include sm-screen {
    border-width: vw-sm(1);
  }

  @include tb-screen {
    border-width: 1px;
  }
}

.article__caption-heading {
  @include font-oswald-medium;

  @include sm-screen {
    margin: vw-sm(10) 0 vw-sm(20);
    font-size: vw-sm(18);
  }

  @include tb-screen {
    margin: 20px 0 10px;
    font-size: rem(20);
  }
}

.article__caption-list {
  display: block;
}

.article__caption-list--song {
  padding-inline-start: 3rem;
  list-style-type: decimal-leading-zero;
}

.article__caption-item {
  display: list-item;

  @include tb-screen {
    font-size: rem(16);
  }

  a {
    color: var(--black);
    text-decoration: underline;
    cursor: pointer;
  }
}
