@use "../module/setting" as *;

.button {
  align-items: center;
  appearance: none;
  background: silver;
  border-width: 2px;
  border-style: outset;
  border-top-color: #fff;
  border-right-color: #424242;
  border-bottom-color: #424242;
  border-left-color: #fff;
  color: inherit;
  display: inline-flex;
  @include font-oswald-medium;
  justify-content: center;
  text-decoration: none;

  @include sm-screen {
    border-radius: vw-sm(1);
    gap: vw-sm(10);
    padding: vw-sm(15) vw-sm(25);
  }

  @include tb-screen {
    border-radius: 1px;
    gap: 10px;
    padding: 15px 70px;
  }

  @include hover {
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.65;

    @include hover {
      cursor: default;
    }
  }

  &:not(:disabled) {
    @include hover {
      border: 2px inset #fff;
      background: silver;
      box-shadow: -1px -1px #000;
      color: #424242;

      .button__icon {
        color: #424242;
      }
    }
  }
}

.button__wrap {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;

  @include sm-screen {
    margin: vw-sm(30) 0 0;
  }

  @include tb-screen {
    flex-direction: row;
    margin: 80px 0 0;
  }
}

.button__icon {
  color: var(--black);
}

.button__text {
  @include font-oswald-regular;
  color: #fff;

  @include sm-screen {
    font-size: vw-sm(16);
  }

  @include tb-screen {
    font-size: rem(16);
  }
}

.button--back {
  @include sm-screen {
    font-size: vw-sm(18);
  }

  @include tb-screen {
    font-size: rem(18);
  }
}

.button--send {
  @include sm-screen {
    font-size: vw-sm(18);
  }

  @include tb-screen {
    font-size: rem(18);
  }
}
