@use '../module/setting' as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  text-decoration: none;
  appearance: none;
  background: silver;
  border-color: #fff #424242 #424242 #fff;
  border-style: outset;
  border-width: 2px;

  @include font-oswald-medium;

  @include sm-screen {
    gap: vw-sm(10);
    padding: vw-sm(15) vw-sm(25);
    border-radius: vw-sm(1);
  }

  @include tb-screen {
    gap: 10px;
    padding: 15px 70px;
    border-radius: 1px;
  }

  @include hover {
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.65;

    @include hover {
      cursor: default;
    }
  }

  &:not(:disabled) {
    @include hover {
      color: #424242;
      background: silver;
      border: 2px inset #fff;
      box-shadow: -1px -1px #000;

      .button__icon {
        color: #424242;
      }
    }
  }
}

.button__wrap {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;

  @include sm-screen {
    margin: vw-sm(30) 0 0;
  }

  @include tb-screen {
    flex-direction: row;
    margin: 80px 0 0;
  }
}

.button__icon {
  color: var(--black);
}

.button__text {
  @include font-oswald-regular;

  color: #fff;

  @include sm-screen {
    font-size: vw-sm(16);
  }

  @include tb-screen {
    font-size: rem(16);
  }
}

.button--back {
  @include sm-screen {
    font-size: vw-sm(18);
  }

  @include tb-screen {
    font-size: rem(18);
  }
}

.button--send {
  @include sm-screen {
    font-size: vw-sm(18);
  }

  @include tb-screen {
    font-size: rem(18);
  }
}
