@use "../module/setting" as *;

.carousel {
  &.swiper {
    overflow: visible;
  }
}

.carousel__list {
  cursor: grab;
}

.carousel__card {
  display: block;

  &.swiper-slide {
    @include sm-screen {
      width: vw-sm(190);
      height: vw-sm(190);
    }

    @include tb-screen {
      width: min(#{vw-tb(190)}, 270px);
      height: min(#{vw-tb(190)}, 270px);
    }
  }
}

.carousel__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #fff;
  border-color: #000;
  border-style: solid;

  @include sm-screen {
    border-width: vw-sm(1);
  }

  @include tb-screen {
    border-width: 1px;
  }
}
