@use "../module/setting" as *;

.cards {
  display: grid;

  @include sm-screen {
    gap: vw-sm(40) 0;
  }

  @include tb-screen {
    gap: vw-tb(30);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  @include pc-screen {
    gap: 40px;
  }
}
