@use "../module/setting" as *;

.catch {
  display: flex;
  flex-direction: column;

  & > * {
    @include lineHeightCrop(1.4);
  }

  & > * + * {
    margin-block-start: 2em;
  }
}

.catch--home {
  @include pc-screen {
    margin: 0 auto;
    width: 65%;
  }
}
