@use '../module/setting' as *;

.catch {
  display: flex;
  flex-direction: column;

  & > * {
    @include line-height-crop(1.4);
  }

  & > * + * {
    margin-block-start: 2em;
  }
}

.catch--home {
  @include pc-screen {
    width: 65%;
    margin: 0 auto;
  }
}
