@use "../module/setting" as *;

.content {
  display: flex;
  flex-direction: column;

  @include sm-screen {
    gap: vw-sm(45);
    padding-block: vw-sm(45);
  }

  @include tb-screen {
    gap: min(#{vw-tb(45)}, 50px);
    padding-block-end: min(#{vw-tb(100)}, 100px);
    padding-block-start: min(#{vw-tb(45)}, 50px);
  }

  @include lt-screen {
    padding-block-end: 100px;
    padding-block-start: 50px;
  }
}
