@use "../module/setting" as *;

.content {
  display: flex;
  flex-direction: column;

  @include sm-screen {
    gap: vw-sm(45);
    padding-block: vw-sm(45);
  }

  @include tb-screen {
    gap: min(#{vw-tb(45)}, 50px);
    padding-block: min(#{vw-tb(45)}, 50px) min(#{vw-tb(100)}, 100px);
  }

  @include lt-screen {
    padding-block: 50px 100px;
  }
}
