@use "../module/setting" as *;

.copyright {
  line-height: 1.2;
  color: #fff;
  text-align: center;
  text-transform: uppercase;

  @include font-oswald-regular;
  @include line-height-crop(1.2);

  @include sm-screen {
    font-size: vw-sm(14);
  }

  @include tb-screen {
    font-size: rem(14);
  }
}

.copyright__text {
  font-size: inherit;
}
