@use "../module/setting" as *;

.form {
  display: flex;
  flex-direction: column;
}

.form__contents {
  display: flex;
  flex-direction: column;

  @include sm-screen {
    gap: vw-sm(30);
  }

  @include tb-screen {
    gap: 30px;
  }
}

.form__row {
  position: relative;
}

.form__label {
  @include font-oswald-regular;

  display: block;

  @include tb-screen {
    font-size: rem(20);
  }
}

:where(.form__input, .form__textarea) {
  display: block;
  flex-direction: initial;
  width: 100%;
  line-height: 1.6;
  color: var(--black);
  text-align: initial;
  text-indent: initial;
  text-transform: initial;
  word-spacing: initial;
  letter-spacing: 0.1em;
  overflow-wrap: initial;
  white-space: initial;
  text-shadow: initial;
  appearance: initial;
  cursor: initial;
  resize: initial;
  background-color: #fff;
  border-color: var(--black);
  border-style: solid;
  writing-mode: initial;
  -webkit-rtl-ordering: initial;
  column-count: initial;
  text-rendering: initial;

  @include sm-screen {
    padding: vw-sm(15);
    margin-block-start: vw-sm(10);
    font-size: vw-sm(16);
    border-width: vw-sm(1);
    border-radius: vw-sm(5);
  }

  @include tb-screen {
    padding: 15px;
    margin-block-start: 10px;
    font-size: rem(16);
    border-width: 1px;
    border-radius: 5px;
  }

  &::placeholder {
    @include font-oswald-regular;

    color: var(--placeholder);
  }

  &:focus-visible {
    outline: none;
    outline-offset: 0;
    box-shadow: 0 0 5px 1px var(--base);
  }
}

.form__textarea {
  @include sm-screen {
    height: calc(1.6em * 5 + 8vw);
  }

  @include tb-screen {
    height: calc(1.6em * 5 + 5vw);
  }

  @include pc-screen {
    height: calc(1.6em * 5 + 30px);
  }
}

.form__button-wrap {
  display: flex;
  justify-content: center;
  margin-block-end: 0;
  margin-inline: 0;

  @include sm-screen {
    margin-block-start: vw-sm(40);
  }

  @include tb-screen {
    margin-block-start: 30px;
  }
}

:where(.form__success-message, .form__error-message) {
  position: absolute;
  margin: 0;
  opacity: 0;
  transition: $transition-default;

  @include sm-screen {
    font-size: vw-sm(12);
  }

  @include tb-screen {
    font-size: rem(14);
  }
}

.form__success-message {
  color: var(--success);

  &.js-success {
    opacity: 1;
  }
}

.form__error-message {
  color: var(--error);

  &.js-error {
    opacity: 1;
  }
}

.form__toaster {
  position: fixed;
  right: 0;
  z-index: 1000;
  display: inline-block;
  color: #fff;
  box-shadow: 0 3px 15px rgb(0 0 0 / 10%);
  transform: translate3d(100%, 0, 0);
  transition: all 0.5s ease-out;

  @include sm-screen {
    top: vw-sm(20);
    padding: vw-sm(10) vw-sm(15);
    font-size: vw-sm(12);
    border-top-left-radius: vw-sm(5);
    border-bottom-left-radius: vw-sm(5);
  }

  @include tb-screen {
    padding: 15px 20px;
    font-size: rem(16);
    border-radius: 5px;
  }

  &:where(.js-success, .js-error) {
    transform: translate3d(0, 0, 0);
  }

  &.js-success {
    background-color: var(--success);
  }

  &.js-error {
    background-color: var(--error);
  }
}
