@use '../module/setting' as *;

.global-navigation {
  line-height: 1.2;
  color: var(--black);
  text-transform: uppercase;
  letter-spacing: 0.08em;

  @include font-oswald-medium;

  @include sm-screen {
    display: none;
  }
}

.global-navigation--horizontally {
  @include tb-screen {
    font-size: min(#{vw-tb(18)}, #{rem(22)});
  }
}

.global-navigation--vertically {
  z-index: 2;
  background-color: var(--accent);
  border-right: 1px solid var(--black);

  @include tb-screen {
    grid-area: 1 / 1 / 2 / 2;
    font-size: rem(18);
  }
}

.global-navigation__inner {
  @include tb-screen {
    display: flex;
  }
}

.global-navigation__inner--vertically {
  @include tb-screen {
    position: sticky;
    top: 60px;
    flex-direction: column;
    row-gap: 60px;
    padding-inline: 35px;
  }
}

.global-navigation__link {
  display: block;
}

.global-navigation__logo {
  aspect-ratio: var(--aspect-logo);
}

.global-navigation__list {
  display: flex;
}

.global-navigation__list--horizontally {
  @include tb-screen {
    justify-content: space-between;
  }

  @include pc-screen {
    column-gap: clamp(25px, #{vw-tb(25)}, 35px);
    justify-content: center;
  }
}

.global-navigation__list--vertically {
  flex-direction: column;

  @include tb-screen {
    row-gap: 30px;
  }
}

.global-navigation__anchor {
  position: relative;
  display: inline-block;
  color: inherit;
  text-decoration: none;

  @include hover {
    opacity: 0.8;
  }

  &.is-current,
  &::after {
    @include tb-screen {
      transform: scale(1);
    }
  }

  &::after {
    @include tb-screen {
      position: absolute;
      bottom: -5px;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      content: '';
      background-color: var(--black);
      transform: scale(0, 1);
      transform-origin: left center;
      transition: 0.5s;
    }
  }
}
