@use "../module/setting" as *;

.global-navigation {
  color: $main-color;
  @include font-oswald-medium;
  letter-spacing: 0.08em;
  line-height: 1.2;
  text-transform: uppercase;

  @include sm-screen {
    display: none;
  }
}

.global-navigation--horizontally {
  @include tb-screen {
    font-size: min(#{vw-tb(18)}, #{rem(22)});
  }
}

.global-navigation--vertically {
  background-color: $accent-color;
  border-right: 1px solid $main-color;
  z-index: 2;

  @include tb-screen {
    font-size: rem(18);
    grid-area: 1 / 1 / 2 / 2;
  }
}

.global-navigation__inner {
  @include tb-screen {
    display: flex;
  }
}

.global-navigation__inner--vertically {
  @include tb-screen {
    flex-direction: column;
    padding-inline: 35px;
    position: sticky;
    row-gap: 60px;
    top: 60px;
  }
}

.global-navigation__link {
  display: block;
}

.global-navigation__logo {
  @extend %image;
  aspect-ratio: $aspect-logo;
}

.global-navigation__list {
  @extend %list-reset;
  display: flex;
}

.global-navigation__list--horizontally {
  @include tb-screen {
    justify-content: space-between;
  }

  @include pc-screen {
    justify-content: center;
    column-gap: clamp(25px, #{vw-tb(25)}, 35px);
  }
}

.global-navigation__list--vertically {
  flex-direction: column;

  @include tb-screen {
    row-gap: 30px;
  }
}

.global-navigation__anchor {
  color: inherit;
  display: inline-block;
  position: relative;
  text-decoration: none;

  @include hover {
    opacity: 0.8;
  }

  &.current {
    &::after {
      @include tb-screen {
        border-bottom: 2px solid $main-color;
        bottom: -5px;
        content: "";
        display: block;
        position: absolute;
        width: 100%;
      }
    }
  }
}
