@use '../module/setting' as *;

.header {
  @include sm-screen {
    padding: vw-sm(20);
  }

  @include tb-screen {
    padding: min(#{vw-tb(50)}, 78px) min(#{vw-tb(40)}, 50px);
  }

  &.is-hide {
    display: none;
  }
}
