@use "../module/setting" as *;

.hero {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  @include sm-screen {
    padding: vw-sm(25) vw-sm(20);
  }

  @include tb-screen {
    padding: clamp(45px, #{vw-tb(45)}, 55px) clamp(40px, #{vw-tb(40)}, 50px);
  }

  @include lt-screen {
    padding-block: 50px;
  }
}

.hero__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  @include sm-screen {
    width: 70%;
    padding-block: vw-sm(35);
  }

  @include pc-screen {
    width: 65%;
  }
}

.hero__image {
  height: auto;

  @include sm-screen {
    aspect-ratio: 3000 / 2001;
  }

  @include tb-screen {
    aspect-ratio: 854 / 480;
  }
}

.hero__heading {
  display: flex;
  flex-direction: column;
  margin: 0;
  line-height: 1.2;
  word-break: break-all;

  @include sm-screen {
    gap: vw-sm(4);
    font-size: vw-sm(12);
  }

  @include tb-screen {
    gap: 2px;
    font-size: clamp(#{rem(12)}, #{vw-tb(12)}, #{rem(14)});
    line-height: 1.4;
  }

  @include lt-screen {
    font-size: rem(12);
  }

  &::before {
    @include font-oswald-medium;

    display: block;
    text-transform: uppercase;
    content: attr(data-heading);

    @include sm-screen {
      font-size: vw-sm(30);
    }

    @include tb-screen {
      font-size: clamp(#{rem(30)}, #{vw-tb(30)}, #{rem(45)});
    }

    @include lt-screen {
      font-size: rem(30);
    }
  }
}
