@use "../module/setting" as *;

.section {
  width: 100%;
  padding-inline: 0;
  margin: 0 auto;
}

.section__inner {
  max-width: 1200px;
  padding-block: 0;
  margin: 0 auto;

  @include sm-screen {
    padding-inline: vw-sm(20);
  }

  @include tb-screen {
    padding-inline: clamp(40px, #{vw-tb(40)}, 50px);
  }
}

.section__inner--form {
  @include tb-screen {
    max-width: 800px;
    margin: 0 auto;
  }
}

.section__heading {
  margin: 0;
  line-height: 1.2;
  word-break: break-all;

  @include sm-screen {
    margin-block-end: vw-sm(10);
    font-size: vw-sm(22);
  }

  @include tb-screen {
    margin-block-end: vw-tb(10);
    font-size: rem(35);
    line-height: 1.4;
  }
}

.section__heading--ja {
  @include font-not-sans-jp-bold;
}

.section__heading--en {
  @include font-oswald-medium;
}
