@use 'sass:math';

:root {
  /* Color */
  --base: #ffff83;
  --white: #fff;
  --black: #171717;
  --accent: #83c0f9;
  --success: #00be28;
  --error: #ff6753;
  --placeholder: #ccc;

  /* Font size */
  --body: clamp(1rem, 0.95rem + 0.2vw, 1.125rem);

  /* Aspect ratio */
  --aspect-logo: calc(3000 / 2001);

  /* Transition */
  --transition-default: all 0.15s ease-in-out;
}

/* @function
----------------------------------------- */
/* convert from px to rem */
@function rem($px, $base: 16) {
  @return math.div($px, $base) * 1rem;
}

/* convert from px to vw */
@function vw-sm($size, $viewport: 375) {
  $rate: math.div(100, $viewport);

  @return $rate * $size * 1vw;
}

@function vw-tb($size, $viewport: 768) {
  $rate: math.div(100, $viewport);

  @return $rate * $size * 1vw;
}

/* @mixin
----------------------------------------- */
/* breakpoint */
@mixin sm-screen {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin tb-screen {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin pc-screen {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin lt-screen {
  @media screen and (min-width: 1024px) and (max-width: 1440px) {
    @content;
  }
}

/* font family */
@mixin font-not-sans-jp-regular {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
}

@mixin font-not-sans-jp-bold {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
}

@mixin font-oswald-regular {
  font-family: Oswald, sans-serif;
  font-weight: 400;
}

@mixin font-oswald-medium {
  font-family: Oswald, sans-serif;
  font-weight: 500;
}

@mixin line-height-crop($line-height) {
  &::before,
  &::after {
    display: block;
    width: 0;
    height: 0;
    content: '';
  }

  &::before {
    margin-top: calc((1 - #{$line-height}) * 0.5em);
  }

  &::after {
    margin-bottom: calc((1 - #{$line-height}) * 0.5em);
  }
}

@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }
}

@mixin touch {
  @media (hover: none) {
    @content;
  }
}

/* Layer
----------------------------------------- */
@layer reset, base;

@layer reset {
  body,
  h1,
  h2,
  h3,
  p,
  figure,
  dl,
  ul,
  ol {
    margin: 0;
  }

  ul,
  ol {
    padding: 0;
    list-style: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    height: -webkit-fill-available;
  }

  body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    font-size: var(--body);
    line-height: 1.6;
    color: var(--black);
    letter-spacing: 0.05em;
    background-color: var(--base);

    @include font-not-sans-jp-regular;

    &.js-scroll-prevent {
      position: fixed;
      width: 100%;
      overflow: hidden;
    }
  }
}
