@use "../module/setting" as *;

.title {
  color: var(--black);
  @include font-oswald-medium;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  word-break: break-all;

  @include sm-screen {
    font-size: min(#{vw-sm(40)}, #{rem(40)});
    line-height: 1.2;
  }

  @include tb-screen {
    font-size: rem(50);
    line-height: 1.1;
  }
}

.title__link {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}
