@use '../module/setting' as *;

.toggle-checkbox {
  display: none;
}

.toggle-button {
  position: fixed;
  z-index: 1002;
  display: grid;
  place-items: center;
  appearance: none;
  cursor: pointer;
  background-color: var(--base);
  border-radius: 50%;

  @include sm-screen {
    right: vw-sm(30);
    bottom: vw-sm(30);
    width: vw-sm(50);
    height: vw-sm(50);
    box-shadow: 0 0 vw-sm(10) rgb(0 0 0 / 15%);
  }

  @include tb-screen {
    right: 1.875em;
    bottom: 1.875em;
    width: 50px;
    height: 50px;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
  }

  @include pc-screen {
    display: none;
  }
}

.toggle-button::before,
.toggle-button::after,
.toggle-button__bar {
  position: absolute;
  left: 50%;
  display: block;
  background-color: var(--black);
  transform: translate(-50%, 0);
  transition: all 0.3s ease-in-out;

  @include sm-screen {
    width: vw-sm(25);
    height: vw-sm(2);
  }

  @include tb-screen {
    width: 25px;
    height: 2px;
  }
}

.toggle-button::before,
.toggle-button::after {
  content: '';
}

.toggle-button::before {
  top: 30%;
}

.toggle-button::after {
  bottom: 30%;
}

.toggle-button__bar {
  top: 50%;
  transform: translate(-50%, -50%);
}

.toggle-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  display: none;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgb(0 0 0 / 70%);
  transform: translate3d(0, -100%, 0);

  @include sm-screen {
    font-size: vw-sm(28);
    -webkit-backdrop-filter: blur(vw-sm(20));
    backdrop-filter: blur(vw-sm(20));
  }

  @include tb-screen {
    font-size: rem(42);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  }

  .toggle-checkbox:checked ~ & {
    display: block;
    transform: translate3d(0, 0, 0);
  }
}

.toggle-menu__list {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  color: #fff;
  background: radial-gradient(transparent, #000 100%);
  -webkit-overflow-scrolling: touch;

  @include font-oswald-medium;

  @include sm-screen {
    gap: vw-sm(30);
    padding: vw-sm(30);
  }

  @include tb-screen {
    gap: 50px;
    padding: 80px;
  }
}

.toggle-menu__anchor {
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
}

.toggle-sns {
  position: absolute;
  display: flex;
  flex-direction: column;

  @include sm-screen {
    right: vw-sm(28);
    bottom: vw-sm(122);
    gap: vw-sm(8);
    font-size: vw-sm(27);
  }

  @include tb-screen {
    right: 30px;
    bottom: 200px;
    gap: 40px;
    font-size: rem(42);
  }
}

.toggle-sns__item {
  display: flex;
  align-items: center;
  justify-content: center;

  @include sm-screen {
    width: vw-sm(50);
    height: vw-sm(50);
  }

  @include tb-screen {
    width: 50px;
    height: 50px;
  }
}

.toggle-sns__link {
  position: relative;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.5s;

  @include hover {
    opacity: 0.8;
  }

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
