<%
  news = () => {
    return {
      posts: [
        {
          url: `/news/post095/`,
          hero: {
            image: `/assets/img/news/post095/hero.webp`,
            alt: ``,
          },
          title: `🍣New Single 賃貸-SUSHIBOYS Release‼🍣`,
          leads: [
            `
              🍣New Single 賃貸-SUSHIBOYS Release‼🍣
              <br />
              🏠 賃貸 - SUSHIBOYS 各ストア配信開始🏘🏠
            `,
            `
              🏠各ストア配信URL👇
              <br />
              <a
                href="https://linkco.re/ZNbNEFEc"
                target="_blank"
                rel="noopener noreferrer"
              >
                🏠https://linkco.re/ZNbNEFEc
              </a>
            `,
            `
              MV URL👇
              <br />
              <a
                href="https://youtu.be/EBxEF390iAM"
                target="_blank"
                rel="noopener noreferrer"
              >
                🏠https://youtu.be/EBxEF390iAM
              </a>
            `,
          ],
          photos: [],
        },
        {
          url: `/news/post094/`,
          hero: {
            image: `/assets/img/news/post094/hero.webp`,
            alt: ``,
          },
          title: `🍣New single 沼 各ストア配信開始🍣`,
          leads: [
            `
              New single 沼 各ストア配信開始
            `,
            `
              各ストア配信URL👇
              <br />
              <a
                href="https://linkco.re/hamZcRN1"
                target="_blank"
                rel="noopener noreferrer"
              >
                https://linkco.re/hamZcRN1
              </a>
            `,
            `
              MV URL👇
              <br />
              <a
                href="https://youtu.be/8mKodXgEXf0"
                target="_blank"
                rel="noopener noreferrer"
              >
                https://youtu.be/8mKodXgEXf0
              </a>
            `,
          ],
          photos: [],
        },
        {
          url: `/news/post093/`,
          hero: {
            image: `/assets/img/news/post093/hero.webp`,
            alt: ``,
          },
          title: `🍣SUSHIBOYS ひTOUR、越生ワンマン公演 at O-PARK OGOSE特設サイトを公開🍣🔥`,
          leads: [
            `
              🍣SUSHIBOYS ひTOUR、越生ワンマン公演 at O-PARK OGOSE特設サイトを公開🍣🔥<br />
              越生公演の詳細、問合せについては下記URLより<br />
              特設HP👇🔥<br />
              <a
                href="https://sushiboys-ogose-live.com/"
                target="_blank"
                rel="noopener noreferrer"
                >https://sushiboys-ogose-live.com/</a
              >
            `,
          ],
          photos: [],
        },
        {
          url: `/news/post092/`,
          hero: {
            image: `/assets/img/news/post092/hero.webp`,
            alt: ``,
          },
          title: `🍣SUSHIBOYS ワンマンライブ ひ TOUR 開催決定🔥`,
          leads: [
            `🍣SUSHIBOYS ワンマンライブ ひ TOUR 開催決定🔥`,
            `🍣福岡、大阪、東京にてワンマンライブを開催、加えてツアーラストは毎年恒例となる地元越生での野外ライブを開催、地元越生での野外ライブに向けてクラウドファンディング開始🔥`,
            `🔥SUSHIBOYS ひ TOUR🔥<br />
            9/21（日)福岡ワンマン公演 at The Voodoo Lounge<br />
            10/3（金）大阪ワンマン公演 at BIGCAT<br />
            10/13（月祝）東京ワンマン公演 at Zepp Shinjuku<br />
            11/16（日）越生ワンマン公演 at O-PARK OGOSE 野外特設会場<br />
            （※越生ワンマン公演のみ、下記特設サイト【うぶごえ】にて限定先行販売）`,
            `🍣福岡・大阪・東京公演 オフィシャル先行👇🔥<br />
            【受付期間】7/31(木)21:00～8/6(水)23:59<br />
            【受付URL】<a
              href="https://eplus.jp/sushiboys/"
              target="_blank"
              rel="noopener noreferrer"
              >https://eplus.jp/sushiboys/</a
            >`,
            `🍣越生ワンマン公演 at O-PARK OGOSE 野外特設会場 詳細👇🔥<br />
            クラウドファンディング特設サイト（うぶごえ）：<a
              href="https://ubgoe.com/projects/960"
              target="_blank"
              rel="noopener noreferrer"
              >https://ubgoe.com/projects/960</a
            >`,
            `【会場】O-PARK OGOSE 野外特設会場（埼玉県入間郡越生町上野3083-1）<br />
            【後援】越生町 / 越生町観光協会 / 越生町商工会議所<br />
            【アクセス】越生駅から有料シャトルバスで15分、タクシーで10分、徒歩30分程度。<br />
            【アクセス】越生駅から有料シャトルバスで15分、タクシーで10分、徒歩30分程度。`,
          ],
          photos: [],
        },
        {
          url: `/news/post091/`,
          hero: {
            image: `/assets/img/news/post091/hero.webp`,
            alt: ``
          },
          title: `9/7（日）「THREEMAN Vol.4」出演決定🍣`,
          leads: [
            `9月7日（日）「THREEMAN Vol.4」出演決定🍣<br />
            チケットプレオーダー（抽選）販売開始🍣`,
            `🎫Ticket URL: <a
              href="https://eplus.jp/sasakrect_threeman/"
              target="_blank"
              rel="noopener noreferrer"
              >https://eplus.jp/sasakrect_threeman/</a
            >`,
            `公演日：2025/9/7㈰<br />
            会場名：渋谷WOMBLIVE<br />
            開場 17:00 / 開演 18:00`,
            `- act -<br />
            ・4s4ki<br />
            ・ASP<br />
            ・SUSHIBOYS`
          ],
          photos: []
        },
        {
          url: `/news/post090/`,
          hero: {
            image: `/assets/img/news/post090/hero.webp`,
            alt: ``
          },
          title: `New single 1day (L) - FARMHOUSE Release!!`,
          leads: [
            `👁New single 1day (L) - FARMHOUSE Release!!👁`,
            `👁Music Video URL: <a
              href="https://youtu.be/3gLyA7tGw38"
              target="_blank"
              rel="noopener noreferrer"
              >https://youtu.be/3gLyA7tGw38</a
            >`,
            `👁各ストア配信リンク: <a
              href="https://linkco.re/uyRyBC0a"
              target="_blank"
              rel="noopener noreferrer"
              >https://linkco.re/uyRyBC0a</a
            >`
          ],
          photos: []
        },
        {
          url: `/news/post089/`,
          hero: {
            image: `/assets/img/news/post089/hero.webp`,
            alt: ``
          },
          title: `🍣6.28(土)漢 Kitchen LIVE Fes. 渋谷編の出演が決定🍣`,
          leads: [
            `6.28(土)漢 Kitchen LIVE Fes. 渋谷編の出演が決定🍣</ br>
            🎫Ticket URL: <a
              href="https://w.pia.jp/t/kankitchenfes-shibuya/"
              target="_blank"
              rel="noopener noreferrer"
              >https://w.pia.jp/t/kankitchenfes-shibuya/</a
            >`,
            `🍣日程：2025.6.28(土)OPEN 15:00 START 16:00`,
            `🍣会場：Spotify O-EAST`
          ],
          photos: []
        },
        {
          url: `/news/post088/`,
          hero: {
            image: `/assets/img/news/post088/hero.webp`,
            alt: ``
          },
          title: `🍣2025.5.24(土) Shimokitazawa SOUND CRUISING 2025 出演決定🍣`,
          leads: [
            `2025.5.24(土) Shimokitazawa SOUND CRUISING 2025 出演決定🍣`,
            `🎫Ticket URL: <a
              href="https://w.pia.jp/t/shimokitazawa-soundcruising/"
              target="_blank"
              rel="noopener noreferrer"
              >https://w.pia.jp/t/shimokitazawa-soundcruising/</a
            >`,
            `🍣会場(全16会場予定)</ br>
            シャングリラ / CLUB251 / 440 / BASEMENTBAR / THREE / SHELTER / LIVEHOLIC / DaisyBar / SPREAD / MOSAiC / Flowers Loft / 近松 / 近道 / mona records / ERA / 下北線路街空き地`,
            `🍣公式HP: <a
              href="http://soundcruising.jp/"
              target="_blank"
              rel="noopener noreferrer"
              >http://soundcruising.jp/</a
            >`
          ],
          photos: []
        },
        {
          url: `/news/post087/`,
          hero: {
            image: `/assets/img/news/post087/hero.webp`,
            alt: ``
          },
          title: `🍣漢Kitchen ~漢 a.k.a. GAMI の料理番組~へ出演🍣`,
          leads: [
            `漢Kitchen ~漢 a.k.a. GAMI の料理番組~へ出演しています🍣<br />
            地元の町中華「永楽の焼きそば」を作ります🍣`,
            `📺YouTube URL: <a
              href="https://youtu.be/dXc5MkYk_Uc"
              target="_blank"
              rel="noopener noreferrer"
              >https://youtu.be/dXc5MkYk_Uc</a
            >`
          ],
          photos: []
        },
        {
          url: `/news/post086/`,
          hero: {
            image: `/assets/img/news/post086/hero.webp`,
            alt: ``
          },
          title: `3/31（月）CIRCUS LIVE - lilbesh ramko,SATOH,SHUSHIBOYS 出演決定‼🍣`,
          leads: [
            `3/31（月）"CIRCUS LIVE" 出演決定‼<br />
            🎫Ticket URL: <a
              href="https://eplus.jp/sf/detail/4282840001-P0030001"
              target="_blank"
              rel="noopener noreferrer"
              >https://eplus.jp/sf/detail/4282840001-P0030001</a
            >`,
            `-会場-<br />
            CIRCUS Tokyo<br />
            OPEN 18:30 / START 19:30<br />
            ADV 3800 + 1D`,
            `-Act-<br />
            lilbesh ramko<br />
            SATOH<br />
            SUSHIBOYS`
          ],
          photos: []
        },
        {
          url: `/news/post085/`,
          hero: {
            image: `/assets/img/news/post085/hero.webp`,
            alt: ``
          },
          title: `『YATSUI FESTIVAL! 2025』出演決定🍣`,
          leads: [
            `2025.6.21（土）『YATSUI FESTIVAL! 2025』出演決定🍣<br />
            🎫Ticket URL: <a
              href="https://eplus.jp/yatsuifes/ "
              target="_blank"
              rel="noopener noreferrer"
              >https://eplus.jp/yatsuifes/</a
            >`,
            `🍣日程：2025年6月21日（土）、6月22日（日）<br />
            開場／開演（両日）：11:30`,
            `🍣会場 : Spotify O-EAST / Spotify O-WEST / Spotify O-nest 5F / Spotify O-nest 6F / Spotify O-Crest duo MUSIC EXCHANGE / clubasia / LOFT9 shibuya / WOMBLIVE`,
            `🍣やついフェス Official HP: <a
              href="https://yatsui-fes.com/"
              target="_blank"
              rel="noopener noreferrer"
              >https://yatsui-fes.com/</a
            >`
          ],
          photos: []
        },
        {
          url: `/news/post084/`,
          hero: {
            image: `/assets/img/news/post084/hero.jpg`,
            alt: ``
          },
          title: `2025.2.19(水) Peterparker69 pre. "Magicround 2" 出演決定🍣`,
          leads: [
            `Peterparker69 pre. "Magicround 2"`,
            `会場：WWW X<br />
            OPEN/START 18:00/18:30<br />
            前売/当日 ¥3,500/¥4,000 (+1D)<br />
            🎫Ticket URL: <a
              href="https://t.livepocket.jp/e/tf4fu"
              target="_blank"
              rel="noopener noreferrer"
              >https://t.livepocket.jp/e/tf4fu</a
            >`,
            `-Act-<br />
            Peterparker69<br />
            Rosier(UK)<br />
            SUSHIBOYS<br />
            Big Animal Theory<br />
            Lorenzi+Yume(FR)<br />
            sysmo`
          ],
          photos: []
        },
        {
          url: `/news/post083/`,
          hero: {
            image: `/assets/img/news/post083/hero.jpg`,
            alt: ``
          },
          title: `SYNCHRONICITY’25 - 20th Anniversary!! - 出演決定🍣`,
          leads: [
            `SYNCHRONICITY’25 - 20th Anniversary!! - 4月12日(土) 出演決定🍣<br />
            🎫Ticket URL: <a
              href="https://w.pia.jp/t/synchronicity25/"
              target="_blank"
              rel="noopener noreferrer"
              >https://w.pia.jp/t/synchronicity25/</a
            >`,
            `🍣開催日時🍣<br />
            2025年4月12日（土） openstart 13:00（時間予定）<br />
            2025年4月13日（日） openstart 13:00（時間予定）`,
            `🍣開催場所🍣<br />
            Spotify O-EAST / Spotify O-WEST / Spotify O-nest / duo MUSIC EXCHANGE / clubasia / LOFT9 Shibuya / SHIBUYA CLUB QUATTRO / Veats Shibuya / WWW / WWWX / TOKIO TOKYO`,
            `🍣第5弾発表アーティスト🍣<br />
            SOIL&"PIMP"SESSIONS / TENDRE / POLYPLUS / どんぐりず / SUSHIBOYS / DÉ DÉ MOUSE / LAUSBUB / 高井息吹 / 幽体コミュニケーションズ / 北村蕗 / Emerald / First Love is Never Returned`,
            `🍣4/12(土)出演アーティスト🍣<br />
            東京スカパラダイスオーケストラ / THE SPELLBOUND / SPECIAL OTHERS / MONO NO AWARE / THA BLUE HERB / どんぐりず / SUSHIBOYS / The Novembers / world's end girlfriend / downy / LITE / Rega / 揺らぎ / mudy on the 昨晩 / Enfants / QOOPIE / the engy / Billyrrom / muque / 荒谷翔大 / Emerald / First Love is Never Returned / Blu-Swing / goethe / brkfstblend / HALLEY / luvis / LAUSBUB / 高井息吹 / 幽体コミュニケーションズ / pavilion / Simmer Pine / New Action! …and many more!!`,
            `🍣4/13(日)出演アーティスト🍣<br />
            渋さ知らズオーケストラ / ZAZEN BOYS / SOIL&"PIMP"SESSIONS / TENDRE / 踊ってばかりの国 / 奇妙礼太郎BAND / BREIMEN / kiki vivi lily / NIKO NIKO TAN TAN / DÉ DÉ MOUSE / toconoma / the band apart / People In The Box / MASS OF THE FERMENTING DREGS / tricot / JYOCHO / kurayamisaka / モーモールルギャバン / SuiseiNoboAz / Khaki / luv / トリプルファイヤー / saccharin / 浪漫革命 / Nao Kawamura / POLYPLUS / JABBERLOOP / ひとひら / 171 / the bercedes menz / aldo van eyck / 北村蕗 / New Action! …and many more!!`,
            `🍣先行チケット受付期間《抽選》🍣<br />
            2025/1/8（水）19:00～2025/1/20（月）23:59`,
            `🍣公式WEB<br />
            <a
              href="https://synchronicity.tv/festival/"
              target="_blank"
              rel="noopener noreferrer"
              >https://synchronicity.tv/festival/</a
            ><br />
            🍣お問い合わせ<br />
            <a
              href="info@synchronicity.tv"
              target="_blank"
              rel="noopener noreferrer"
              >info@synchronicity.tv</a
            >`
          ],
          photos: []
        },
        {
          url: `/news/post082/`,
          hero: {
            image: `/assets/img/news/post082/hero.jpg`,
            alt: ``
          },
          title: `🐍New Single 年賀状2025（巳）Release‼🍣`,
          leads: [
            `🍣New Single Release‼ 年賀状2025（巳）- SUSHIBOYS 、各ストア&MV配信開始‼🐍`,
            `🐍Music Video URL: <a
              href="https://youtu.be/__jD4U-tMIA"
              target="_blank"
              rel="noopener noreferrer"
              >https://youtu.be/__jD4U-tMIA</a
            ><br />
            🐍各ストア配信 URL: <a
              href="https://linkco.re/RaeMh7tA"
              target="_blank"
              rel="noopener noreferrer"
              >https://linkco.re/RaeMh7tA</a
            >`,
          ],
          photos: []
        },
        {
          url: `/news/post081/`,
          hero: {
            image: `/assets/img/news/post081/hero.jpg`,
            alt: ``
          },
          title: `BAYCAMP202502 出演決定＆出演アーティスト第１弾解禁 🍣`,
          leads: [
            `🍣2025年2月1日(土) BAYCAMP202502 出演決定＆出演アーティスト第１弾解禁🍣`,
            `🍣Ticket URL: <a
              href="http://w.pia.jp/t/baycamp202502/"
              target="_blank"
              rel="noopener noreferrer"
              >http://w.pia.jp/t/baycamp202502/</a
            ><br />
            オフィシャル先着先行割 4,900円（税込） D別<br />
            前売 一般 5,500円（税込） D別<br />
            前売 U-17 3,900円（税込） D別（22:00まで滞在可能な17歳以下チケット）`,
            `🍣BAYCAMP 202502<br />
            2025年2月1日（土） ※オールナイト公演<br />
            13:00 OPEN 14:00 START 5:00 CLOSE（予定）<br />
            川崎 CLUB CITTA'+ A'TTIC (2F BAR LOUNGE)`,
            `🍣Artist<br />
            バックドロップシンデレラ/モーモールルギャバン / SUSHIBOYS/<br />
            ルサンチマン / トップシークレットマン and more..`,
            `🍣Official WEB: <a
              href="http://baycamp.net/202502/"
              target="_blank"
              rel="noopener noreferrer"
              >http://baycamp.net/202502/</a
            >`
          ],
          photos: []
        },
        {
          url: `/news/post080/`,
          hero: {
            image: `/assets/img/news/post080/hero.png`,
            alt: ``
          },
          title: `街なか音楽祭『結いのおと2025』出演決定🍣`,
          leads: [
            `2025.4.19(土) 街なか音楽祭『結いのおと2025』出演決定🍣<br />
            🎫Ticket URL: <a
              href="https://yuinote.fespli.com/"
              target="_blank"
              rel="noopener noreferrer"
              >https://yuinote.fespli.com/</a
            >`,
            `-The date-<br />
            2025.4.19(sat)11:00-20:00 / 20(sun) 11:00-18:00`,
            `-Stage-<br />
            茨城県結城市北部市街地`,
            `‐Artist‐<br />
            SUSHIBOYS／SPECIAL OTHERS ACOUSTIC／toconoma／荒谷翔大<br />
            TENDRE／奇妙礼太郎（BANDSET)／kojikoji／xiangyu／T-STONE<br />
            池田理論／Wemma／進藤雨日...and many more!!`,
            `-Playguide-<br />
            早割: 1/1(wed) / 前売: 1/17(tue)`,
            `-Information-<br />
            web: <a
              href="https://www.yuinote.jp/"
              target="_blank"
              rel="noopener noreferrer"
              >https://www.yuinote.jp/</a
            ><br />
            instagram: <a
              href="https://www.instagram.com/yuinote_yuki/"
              target="_blank"
              rel="noopener noreferrer"
              >https://www.instagram.com/yuinote_yuki/</a
            >`,
            `「結いのおと」とは🍣<br />
            歴史と文化が息づく街、茨城県結城市を舞台にした回遊型の音楽祭。<br />
            街なかの地域固有の文化資源である神社仏閣・酒蔵・結城紬の産地問屋などの空間をライブステージに活用する唯一無二の音楽祭。`
          ],
          photos: []
        },
        {
          url: `/news/post079/`,
          hero: {
            image: `/assets/img/news/post079/hero.jpg`,
            alt: ``
          },
          title: `Tade Dust / ID / FARMHOUSE / Jinmenusagi / prod. ascii I skew trigger 1212スペシャルサイファー、FARMHOUSEが出演🍣`,
          leads: [
            `skew trigger 1212スペシャルサイファーへSUSHIBOYSよりFRAMHOUSEが参加しております🍣<br />
            📹YouTube URL: <a
              href="https://youtu.be/S_MyimQc4K4?feature=shared"
              target="_blank"
              rel="noopener noreferrer"
              >https://youtu.be/S_MyimQc4K4?feature=shared</a
            >`
          ],
          photos: []
        },
        {
          url: `/news/post078/`,
          hero: {
            image: `/assets/img/news/post078/hero.png`,
            alt: ``
          },
          title: `SUSHIBOYS、ひがしやしきツーマンライブ、WALL&WALL RAY-OUT vol.05 出演決定 🍣`,
          leads: [
            `2025/2月/8日（土）表参道WALL&WALL RAY-OUT vol.05 出演決定 🍣<br />
            出演者：SUSHIBOYS、ひがしやしき 🍣`,
            `開場 18:00/開演 19：00 🍣`,
            `🎫Ticket URL:<a
              href="https://wallwall.zaiko.io/item/368568"
              target="_blank"
              rel="noopener noreferrer"
              >https://wallwall.zaiko.io/item/368568</a
            >`,
            `【チケット情報】<br />
            ・前売入場券：¥3,600+1Drink¥700<br />
            <販売期間：12/9 20:00 〜2/8 17:59>`,
            `・当日券：¥4,600＋1Drink¥700<br />
            <販売期間：2/8 18:00〜 >`
          ],
          photos: []
        },
        {
          url: `/news/post077/`,
          hero: {
            image: `/assets/img/news/post077/hero.jpg`,
            alt: ``
          },
          title: `日系独立流行フレンズ(friends)&sucola 联合巡演 上海公演 出演決定🍣`,
          leads: [
            `12/20（Fri） 日系独立流行フレンズ(friends)&sucola 联合巡演 上海公演 at 育音堂音乐公园 出演🍣`,
            `LuuvLabel HP👇<br />
            <a
              href="https://mp.weixin.qq.com/s/Xz31y0KXtbSn2_E15rHDVw?token=1598532347&lang=zh_CN"
              target="_blank"
              rel="noopener noreferrer"
              >https://mp.weixin.qq.com/s/Xz31y0KXtbSn2_E15rHDVw?token=1598532347&lang=zh_CN</a
            >`
          ],
          photos: []
        },
        {
          url: `/news/post076/`,
          hero: {
            image: `/assets/img/news/post076/hero.jpg`,
            alt: ``
          },
          title: `「ドリトス」新TVCMソングを担当🍣`,
          leads: [
            `ジャパンフリトレー「ドリトス」新TVCMソングを担当🍣<br />
            CM楽曲はラップグループ・SUSHIBOYSとプロデューサー・PARKGOLFが担当🍣`,
            `公式HP👇<br />
            <a
              href="https://www.fritolay.co.jp/news/topics/01/jfl_topics_doritos_lyrics_2410/index.php"
              target="_blank"
              rel="noopener noreferrer"
              >https://www.fritolay.co.jp/news/topics/01/jfl_topics_doritos_lyrics_2410/index.php</a
            >`
          ],
          photos: []
        },
        {
          url: `/news/post075/`,
          hero: {
            image: `/assets/img/news/post075/hero.jpg`,
            alt: ``
          },
          title: `11/24(Sun)出演“MEGANE ROCK Park 2024„ タイムテーブル公開🍣`,
          leads: [
            `🍣Live info🍣<br />
            11/24（Sun）宮崎県にて出演【MEGANE ROCK Park 2024】のタイムテーブルが公開されました🍣<br />
            SUSHIBOYSは18：50からの出演になります🍣`,
            `Ticket URL👇<br />
            <a
              href="https://eplus.jp/sf/detail/4143870001-P0030001"
              target="_blank"
              rel="noopener noreferrer"
              >https://eplus.jp/sf/detail/4143870001-P0030001</a
            >`,
            `宮崎、秋の恒例イベントメガネロック。<br />
            今年もActors Square Coffee、LIVE HOUSEぱーく、恋四郎コーヒー の3会場で開催です。<br />
            メインアクトに日高大地、SUSHIBOYSという若手ヒップホップアーティストを迎え、更には気鋭のラップトップミュージシャンぶっ恋呂百花、宮崎を代表するバンドVERANPARADE、『ミッドナイト魯肉飯』がYouTubeにて一万回再生のvenoなどなど、最高のアーティストが出演決定！<br />
            また日高大地プロデュースによるMCバトルも併せて開催！<br />
            是非とも11/24(日)は宮崎へ！`
          ],
          photos: [
            {
              image: `/assets/img/news/post075/001.jpg`,
              alt: ``
            }
          ]
        },
        {
          url: `/news/post074/`,
          hero: {
            image: `/assets/img/news/post074/hero.jpg`,
            alt: ``
          },
          title: `🍣new single  ”What is your name？„ Release!!🍣`,
          leads: [
            `New single ”What is your name?„ Release!!`,
            `Music Video URL: <a
              href="https://youtu.be/7AybsiIFmxA"
              target="_blank"
              rel="noopener noreferrer"
              >https://youtu.be/7AybsiIFmxA</a
            ><br />
            各ストア配信URL: <a
              href="https://linkco.re/8vQ3PaeB"
              target="_blank"
              rel="noopener noreferrer"
              >https://linkco.re/8vQ3PaeB</a
            >`,
            `SUSHIBOYSが今年13枚目となる新曲「What is your name?」を納品した。<br />
            今作は家族と過ごす週末の喜びをテーマに、一部日本人の名字について激しく言及している箇所も見受けられる。<br />
            名前のような文字が入ったTシャツを着用しゆったりと街を闊歩する映像は、彼らがどれだけ街に愛されているのかが伝わる。<br />
            メンバーのfarmhouseは崖から転落し体調不良でのレコーディングとなったが、それを感じさせない力強いバースを蹴り上げている。<br />
            drill調のビートの上でひたすら名前を尋ねる彼らは個人情報保護法に抵触する可能性も否めない。`,
          ],
          photos: []
        },
        {
          url: `/news/post073/`,
          hero: {
            image: `/assets/img/news/post073/hero.jpg`,
            alt: `運転手の画像`
          },
          title: `🍣new single ”Ride„ - SUSHIBOYS Release!!🍣`,
          leads: [
            `🚗new single ”Ride„ - SUSHIBOYS  Release!!🚗`,
            `🚗official Audio URL：<a
              href="https://youtu.be/_dsRzhh-Ypk"
              target="_blank"
              rel="noopener noreferrer"
              >https://youtu.be/_dsRzhh-Ypk</a
            >`,
            `🚗各ストア配信URL：<a
              href="https://linkco.re/cnR2zFRn"
              target="_blank"
              rel="noopener noreferrer"
              >https://linkco.re/cnR2zFRn</a
            >`,
          ],
          photos: []
        },
        {
          url: `/news/post072/`,
          hero: {
            image: `/assets/img/news/post072/hero.jpg`,
            alt: `京都学生狂奏祭のフライヤー`
          },
          title: `🍣9月20日「京都学生狂奏祭」へ出演決定🍣`,
          leads: [
            `9月20日「京都学生狂奏祭」へ出演決定🍣<br />
            入場無料‼🍣詳細は下記HPにて確認お願いしやす🍣`,
            `🎫詳細HP：<a
              href="https://kyososai.com/"
              target="_blank"
              rel="noopener noreferrer"
              >https://kyososai.com/</a
            ><br />
            会場：〒606-8393 京都府京都市左京区東竹屋町５０ 京大熊野寮`,
            `【京都学生狂奏祭とは】<br />
            京都学生狂奏祭とは、京大熊野寮の寮外連携局が主催する、「学生の学生による学生のための自由で熱狂的な音楽祭」です。<br />
            京大や周辺大学の音楽サークルがジャンルレスに集まり、学生オリジナルバンドやプロのアーティストも出演するライブステージに加えてオールナイトの映画上映会やアフターパーティなど様々な企画が行われるドデカ音楽フェスです。`
          ],
          photos: []
        },
        {
          url: `/news/post071/`,
          hero: {
            image: `/assets/img/news/post071/hero.jpg`,
            alt: `CARWASH! (feat. SUSHIBOYS)のフライヤー`
          },
          title: `🍣Joint Beauty New EP「YOLO Vol.1」参加曲、CARWASH! (feat. SUSHIBOYS)MV公開🍣`,
          leads: [
            `ビートメイカーJoint BeautyのEP「YOLO Vol.1」の参加曲「CARWASH! (feat. SUSHIBOYS)」のMVが公開されやした🍣`,
            `MV URL：<a
              href="https://www.youtube.com/watch?v=B0bptP9VsCw"
              target="_blank"
              rel="noopener noreferrer"
              >https://www.youtube.com/watch?v=B0bptP9VsCw</a
            >`
          ],
          photos: []
        },
        {
          url: `/news/post070/`,
          hero: {
            image: `/assets/img/news/post070/hero.jpg`,
            alt: `nomadのフライヤー`
          },
          title: `🍣2024.9.30『nomad』出演決定🍣`,
          leads: [
            `『nomad』`,
            `■日時<br />
            2024.9.30 MON<br />
            OPEN18:30 / START19:00`,
            `■会場<br />
            ✴︎ TOKIO TOKYO`,
            `■出演<br />
            ✴︎ SUSHIBOYS<br />
            ✴︎ Campanella<br />
            ✴︎ MÖSHI`,
            `■チケット<br />
            学生 2,900円<br />
            一般 3,900円`,
            `<a
              href="https://t.livepocket.jp/e/1w7b6"
              target="_blank"
              rel="noopener noreferrer"
              >https://t.livepocket.jp/e/1w7b6</a
            >`
          ],
          photos: []
        },
        {
          url: `/news/post069/`,
          hero: {
            image: `/assets/img/news/post069/hero.jpg`,
            alt: `名字集合ツアーのフライヤー`
          },
          title: `🍣SUSHIBOYS ワンマンライブ 「名字集合ツアー」 開催決定！🍣`,
          leads: [
            `SUSHIBOYS ワンマンライブ 「名字集合ツアー」 開催決定！🍣<br />
            ツアーラストは地元越生での野外ライブを開催、地元越生での野外ライブに向けてクラウドファンディングを開始🍣`,
            `🍣SUSHIBOYS「名字集合ツアー」<br />
            10/10 大阪ワンマン公演 at Yogibo META VALLEY OPEN/START 18:00 / 19:00<br />
            10/18 東京ワンマン公演 at WWW X OPEN/START 18:00 / 19:00<br />
            11/17 越生ワンマン公演 at O-PARK OGOSE 野外特設会場`,
            `🍣オフィシャル先行<br />
            【受付期間】7/31(金)18:00 ～ 8/12(月・祝)23:59<br />
            【受付URL】<a
              href="https://eplus.jp/sushiboys/"
              target="_blank"
              rel="noopener noreferrer"
              >https://eplus.jp/sushiboys/</a
            >`,
            `🍣クラウドファンディング詳細HP👇🍣<br />
            【SUSHIBOYS】地元越生での野外ライブ開催プロジェクト<br />
            募集期間：2024年7月31日(水) 21:00 〜 9月29日(日) 23:59まで<br />
            プロジェクトページ：<a
              href="https://ubgoe.com/projects/766"
              target="_blank"
              rel="noopener noreferrer"
              >https://ubgoe.com/projects/766</a
            >`,
            `🍣11/17 (日)SUSHIBOYS 名字集合ツアー at O-PARK OGOSE オープニングアクト & タイムテーブル決定!!🍣<br />
            ・13:00-13:40 PARKGOLF<br />
            ・13:50-14:10 AWAZARUKAS`,
            `公式HP、問合せ、シャトルバス等については下記URLより👇<br />
            <a
              href="https://sushiboys-ogose-live.com"
              target="_blank"
              rel="noopener noreferrer"
              >https://sushiboys-ogose-live.com</a
            >`
          ],
          photos: []
        },
        {
          url: `/news/post068/`,
          hero: {
            image: `/assets/img/news/post068/hero.jpg`,
            alt: `FARMHOUSEの証明写真`
          },
          title: `New single kappa - FARMHOUSE Release!!`,
          leads: [
            `☔New single kappa - FARMHOUSE Release!!☔`,
            `☔MV URL: <a
              href="https://youtu.be/yggkq59WV8s"
              target="_blank"
              rel="noopener noreferrer"
              >https://youtu.be/yggkq59WV8s</a
            >`,
            `☔各ストア配信リンク: <a
              href="https://linkco.re/10Q21ehA"
              target="_blank"
              rel="noopener noreferrer"
              >https://linkco.re/10Q21ehA</a
            >`
          ],
          photos: []
        },
        {
          url: `/news/post067/`,
          hero: {
            image: `/assets/img/news/post067/hero.jpg`,
            alt: `Joint Beauty New EP「YOLO Vol.1」 フライヤー`
          },
          title: `🍣Joint Beauty New EP「YOLO Vol.1」へCARWASH! (feat. SUSHIBOYS)で参加🍣`,
          leads: [
            `ビートメイカーJoint BeautyのNew EP「YOLO Vol.1」、１曲目のCARWASH! (feat. SUSHIBOYS) で参加しております🍣🚙💧<br>
            車を洗う曲になっております🚙💧ぜひ🍣`,
            `各ストア配信 URL👇<br>
            <a
              href="https://linkco.re/y6vnAHRC"
              target="_blank"
              rel="noopener noreferrer"
              >https://linkco.re/y6vnAHRC</a
            >`,
            `【Tracklist】<br>
            01.CARWASH! (feat. SUSHIBOYS)<br>
            02.東京Friday Night (feat. 花澤香菜 & Mori Calliope)<br>
            03.Special Days (feat. 藤井隆 & ピーナッツくん)<br>
            04.No Reaction (feat. 柳美舞)`,
            `新進気鋭のビートメイカーJoint BeautyのEP「YOLO Vol.1」が配信開始。<br>
            EPには、ジャンルに囚われない自由な発想と表現でCMなどでも活躍の場を広げるSUSHIBOYSが参加し、まさにCM曲の後日談のような「CARWASH! (feat. SUSHIBOYS)」や、Joint Beautyと同じ九州を活動拠点とするばってん少女隊から柳美舞が参加した「No Reaction (feat. 柳美舞)」、昨年リリースされた「Special Days (feat. 藤井隆 & ピーナッツくん)」、先日先行配信された「東京Friday Night (feat. 花澤香菜 & Mori Calliope)」を含む全4曲が収録。<br>
            一見、ラッパー、アイドル、お笑いタレント、VTuber、声優とバラエティに富んだ客演陣によって、話題性が先行するように思えますが、Joint Beautyのクオリティの高いトラックとプロデュース能力によって、それぞれの個性を最大限に引き出し、各々の作品にはない新たな魅力を放つ楽曲に仕上がっています🍣`
          ],
          photos: []
        },
        {
          url: `/news/post066/`,
          hero: {
            image: `/assets/img/news/post066/hero.png`,
            alt: `SUSHIBOYS Neibiss フライヤー`
          },
          title: `🍣9.12(Thu)O-nest presents "SUSHIBOYS×Neibiss"決定🍣`,
          leads: [
            `2024.9.12(Thu)O-nest presents "SUSHIBOYS×Neibiss"決定🍣<br>
            よろしくお願いいたします🍣🍣`,

            `<ACT><br>
            SUSHIBOYS<br>
            Neibiss<br>
            (DJ)BUDDHAHOUSE`,

            `<TICKET><br>
            ADV ¥3,400 / U-20 ¥2,400 (各+1D)`,

            `🎫ticket URL👇<br>
            <a
              href="https://t.livepocket.jp/e/o-nest0912_sushiboys-neibiss"
              target="_blank"
              rel="noopener noreferrer"
              >https://t.livepocket.jp/e/o-nest0912_sushiboys-neibiss</a
            >`
          ],
          photos: []
        },
        {
          url: `/news/post065/`,
          hero: {
            image: `/assets/img/news/post065/hero.jpg`,
            alt: `クセ旨カップヌードル`
          },
          title: `日清カップヌードル新CM 「クセ旨 篇」公開🍣`,
          leads: [
            `日清カップヌードルの新CM「クセ旨 篇」にてOMGが替え歌で使用されております🍣🍜<br>
            ご家庭のテレビやWEBで流れております🍣`,
            `YouTube URL👇<br>
            <a
              href="https://youtu.be/BX57AOTAXjc?si=bSvUqs3WoNO7VrUj"
              target="_blank"
              rel="noopener noreferrer"
              >https://youtu.be/BX57AOTAXjc?si=bSvUqs3WoNO7VrUj</a
            >`,
            `公式HP👇<br>
            <a
              href="https://www.cupnoodle.jp/cm/"
              target="_blank"
              rel="noopener noreferrer"
              >https://www.cupnoodle.jp/cm/</a
            >`
          ],
          photos: []
        },
        {
          url: `/news/post064/`,
          hero: {
            image: `/assets/img/news/post064/hero.jpg`,
            alt: `キニシナイ by 金麦のオフ`
          },
          title: `サントリー金麦〈糖質75％オフ〉の新Web CM「KINISHINAI by 金麦のオフ」公開🍣`,
          leads: [
            `サントリー金麦〈糖質75％オフ〉の新Web CM「KINISHINAI by 金麦のオフ」公開🍣<br>
            ヨネダ2000様が「木にしない」の替え歌を歌唱しておりやす🍣`,
            `YouTube URL👇<br>
            <a
              href="https://youtu.be/wGAjsSKpIKk?feature=shared"
              target="_blank"
              rel="noopener noreferrer"
              >https://youtu.be/wGAjsSKpIKk?feature=shared</a
            >`
          ],
          photos: []
        },
        {
          url: `/news/post063/`,
          hero: {
            image: `/assets/img/news/post063/hero.jpg`,
            alt: `おにぎりと歩くFARMHOUSEとサンテナ`
          },
          title: `🍙New Single おにぎり配信開始‼ SUSHIBOYSがおにぎりをテーマとした楽曲『おにぎり』を納品した。🍙`,
          leads: [
            `SUSHIBOYSがおにぎりをテーマとした楽曲『おにぎり』を納品した。<br>
            今作はおにぎりを多角的な視点から考察しており、新生活に不安を抱く若者への応援ソングとなっている。<br>
            なおヤマザキ春のパン祭りとは一切関係はない。<br>
            メンバーのfarmhouseはプロモーションのため自身の汗から抽出した塩で握ったおにぎりを食し体調不良でのレコーディングとなったが、それを感じさせない力強いバースを蹴り上げている。<br>
            発泡スチロール製のおにぎりのようなものが坂道を下る映像は物流の2024年問題を風刺しているかのようだ。<br>
            ソウルフルなビートに乗せられた彼らのメッセージ。その塩加減は絶妙だ。`,
            `各ストア配信URL👇<br>
            <a
              href="https://linkco.re/bevpqMtS"
              target="_blank"
              rel="noopener noreferrer"
              >https://linkco.re/bevpqMtS</a
            >`,
            `Music Video URL👇<br>
            <a
              href="https://youtu.be/GZPaCTbv3pA"
              target="_blank"
              rel="noopener noreferrer"
              >https://youtu.be/GZPaCTbv3pA</a
            >`
          ],
          photos: []
        },
        {
          url: `/news/post062/`,
          hero: {
            image: `/assets/img/news/post062/hero.jpg`,
            alt: `神崎先生と宇治先生`
          },
          title: `🚲New single  distance - FARMHOUSE  Release!!🚲`,
          leads: [
            `🚲New single  distance - FARMHOUSE  Release!!🚲`,
            `🚲Music Video URL: <a
              href="https://youtu.be/fraHK595GG0?si=5dN3yTdA4RvQAEum"
              target="_blank"
              rel="noopener noreferrer"
              >https://youtu.be/fraHK595GG0?si=5dN3yTdA4RvQAEum</a
            >`,
            `🚲各ストア配信リンク: <a
              href="https://linkco.re/3uQCrrY9"
              target="_blank"
              rel="noopener noreferrer"
              >https://linkco.re/3uQCrrY9</a
            > 🚲`
          ],
          photos: []
        },
        {
          url: `/news/post061/`,
          hero: {
            image: `/assets/img/news/post061/hero.jpg`,
            alt: `上を見上げて歩くFARMHOUSE`
          },
          title: `🧴New single FARMHOUSE リンス Release！🧴`,
          leads: [
            `🧴New single FARMHOUSE リンス Release！🧴`,
            `🧴Music Video URL: <a
              href="https://youtu.be/KBH9AGJ1eAI?feature=shared"
              target="_blank"
              rel="noopener noreferrer"
              >https://youtu.be/KBH9AGJ1eAI?feature=shared</a
            >`,
            `🧴各ストア配信リンク: <a
              href="https://linkco.re/Tdn4TnMa"
              target="_blank"
              rel="noopener noreferrer"
              >https://linkco.re/Tdn4TnMa</a
            > 🧴`
          ],
          photos: []
        },
        {
          url: `/news/post060/`,
          hero: {
            image: `/assets/img/news/post060/hero.jpg`,
            alt: `SPACE KUMAMOTO 金晩宇宙 のフライヤー`
          },
          title: `🍣4/26（fri.)SPACE KUMAMOTO ~金晩宇宙~ 出演決定🍣`,
          leads: [
            `4月26日（金）熊本にてSPACE KUMAMOTO ~金晩宇宙~ 出演決定🍣<br>
            熊本にて握ります🍣ぜひ🍣`,
            `イベント詳細↓<br>
            HP: <a
              href="https://space-kumamoto.jp/"
              target="_blank"
              rel="noopener noreferrer"
            >https://space-kumamoto.jp/</a><br>
            IG: <a
              href="https://www.instagram.com/spacekumamoto"
              target="_blank"
              rel="noopener noreferrer"
            >https://www.instagram.com/spacekumamoto</a>`
          ],
          photos: []
        },
        {
          url: `/news/post059/`,
          hero: {
            image: `/assets/img/news/post059/hero.jpg`,
            alt: `音の楽園のフライヤー`
          },
          title: `🍣音の楽園 / OTO NO RAKUEN at 横浜1000Club 出演決定🍣`,
          leads: [
            `音の楽園 / OTO NO RAKUEN at 横浜1000Club 出演決定🍣<br>
            🎫Ticket URL: <a
              href="https://tiget.net/events/304255"
              target="_blank"
              rel="noopener noreferrer"
            >https://tiget.net/events/304255</a>`,
            `前回に引き続き、横浜でも握ります🍣`,
            `日程：2024年4月20日(土)<br>
            会場：横浜1000Club<br>
            時間：Open 15:00〜`
          ],
          photos: []
        },
        {
          url: `/news/post058/`,
          hero: {
            image: `/assets/img/news/post058/hero.jpg`,
            alt: `HIROSHIMA PARCO 30th ANNIVERSARY PARTY のフライヤー`
          },
          title: `🍣3/20（Wed.)HIROSHIMA PARCO 30th ANNIVERSARY PARTY ~ Dig up fun ~ 出演決定🍣`,
          leads: [
            `HIROSHIMA PARCO 30th ANNIVERSARY PARTY ~ Dig up fun ~ 出演決定🍣<br>
            3/20（水）HIROSHIMA CLUB QUATTROにて開催🍣`,
            `イベント詳細はこちら👇<br>
            <a
              href="https://hiroshima.parco.jp/pnews/detail/?id=27061&pv=on"
              target="_blank"
              rel="noopener noreferrer"
            >https://hiroshima.parco.jp/pnews/detail/?id=27061&pv=on</a>`,
            `●出演者<br>
            SKRYU / SUSHIBOYS / YonYon / PEAVIS<br>
            TOSHIKI HAYASHI(%C) / DJ SHOTA / Joint Beauty<br>
            Auto&mst / SonSon / J Pabb / CHARLLS<br>
            TAG DOCK studio ( SUB-K MAG Lu-LAR 太心 )`,
            `■入場料：無料<br>
            ■会場：本館10F HIROSHIMA CLUB QUATTRO / 本館店頭 イベントスペース<br>
            ■開催時間：12:00～22:00`,
            `広島PARCO30周年を記念して、1日限りのスペシャルなPARTYを開催！メイン会場の本館10F CLUB QUATTROでは豪華ライブに加え、広島ローカルの飲食ブースがずらり。<br>
            いつもとは違う演出盛りだくさんの会場で、音楽とお酒を楽しもう！`
          ],
          photos: []
        },
        {
          url: `/news/post057/`,
          hero: {
            image: `/assets/img/news/post057/hero.jpg`,
            alt: `MIXIMAXのフライヤー`
          },
          title: `🍣2024.6.8(Sat.)『MIXIMAX』出演決定🍣`,
          leads: [
            `6月8日（土）北海道にてイベント『MIXIMAX』へ出演いたします🍣<br>
            北海道はかなり久しぶりなのでぜひ🍣`,
            `🎫イベント申込みフォーム👇🍣<br>
            <a
              href="https://organizer.flippa.jp/manager/application_form/add/5882"
              target="_blank"
              rel="noopener noreferrer"
            >https://organizer.flippa.jp/manager/application_form/add/5882</a>`,
            `・会場<br>
            〒064-0807<br>
            北海道札幌市中央区南7条西2丁目2-7 EXE PLAZA B1F`
          ],
          photos: []
        },
        {
          url: `/news/post056/`,
          hero: {
            image: `/assets/img/news/post056/hero.jpg`,
            alt: `ライブナタリー&quot;SUSHIBOYS × imai&quot;のフライヤー`
          },
          title: `&quot;SUSHIBOYS×imai&quot;ツーマンライブ、新宿MARZにて開催決定🍣`,
          leads: [
            `🎫チケット先着先行受付中🍣👇<br>
            <a
              href="https://w.pia.jp/t/natalie-marz/"
              target="_blank"
              rel="noopener noreferrer"
            >https://w.pia.jp/t/natalie-marz/</a>`,
            `日程：3月31日（日）open 11:30～<br>
            会場：新宿MARZ<br>
            〒160-0021 東京都新宿区歌舞伎町2丁目45-1 第5ライデンビル B1F トキワビル`,
            `▼公演詳細はこちら<br>
            <a
              href="https://live.natalie.mu/event/natalie-marz"
              target="_blank"
              rel="noopener noreferrer"
            >https://live.natalie.mu/event/natalie-marz</a>`,
          ],
          photos: []
        },
        {
          url: `/news/post055/`,
          hero: {
            image: `/assets/img/news/post055/hero.jpg`,
            alt: `『YATSUI FESTIVAL! 2024』のフライヤー`
          },
          title: `🍣『YATSUI FESTIVAL! 2024』出演決定‼🍣`,
          leads: [
            `『YATSUI FESTIVAL! 2024』出演決定‼<br>
            SUSHIBOYSは6/16（日）に出演でございます🍣`,
            `日程：2024年6月15日（土）、6月16日（日）🍣<br>
            開場/開演（両日）：11:30～ 🍣<br>
            🎫Ticket URL : イープラス <a
              href="https://eplus.jp/yatsuifes/"
              target="_blank"
              rel="noopener noreferrer"
            >https://eplus.jp/yatsuifes/</a>`,
            `会場：Spotify O-EAST / Spotify O-WEST / Spotify O-nest / Spotify O-Crest
            /duo MUSIC EXCHANGE / clubasia / LOFT9 Shibuya / WOMBLIVE / 東間屋`,
            `【第二弾出演者発表】22組<br>
            小山田壮平(band set) / 藤巻亮太(band set) / TENSAIBAND BEYOND / Wienners / Helsinki Lambda Club / 街裏ぴんく / ゲッターズ飯田 / GOING UNDER GROUND / the dadadadys / ザ・チャレンジ＆ONIGAWARA / the telephones / SUSHIBOYS / TENDOUJI / POLYSICS / Sundae May Club / 幽体コミュニケーションズ / kurayamisaka / ゆうらん船 / 城谷歩 / 細井徳太郎とタコ足イヤホンズ / LAUSBUB / RYUTist / and more…`,
            `▶日割り / 6月15日（土）出演者一覧（16組）<br>
            DJ やついいちろう / エレ片 / Khaki / ゲッターズ飯田 / GOING UNDER GROUND / Sundae May Club / 渋さ知らズオーケストラ / 水曜日のカンパネラ / CENT / Nagakumo / Helsinki Lambda Club / 細井徳太郎とタコ足イヤホンズ / 幽体コミュニケーションズ / ゆうらん船 / LAUSBUB / RYUTist / and more…`,
            `▶日割り / 6月16日（日）出演者一覧（20組）<br>
            DJ やついいちろう / Apsu Shusei / Wienners / 小山田壮平(band set) / kurayamisaka / ゲッターズ飯田 / the dadadadys / the telephones / ザ・チャレンジ＆ONIGAWARA / 城谷歩 / 水中、それは苦しい / SUSHIBOYS / 田中俊行 / TENSAIBAND BEYOND / TENDOUJI / 都市ボーイズ / fishbowl / 藤巻亮太(band set) / POLYSICS / 街裏ぴんく / and more…`,
            `オフィシャルHP：<a
              href="https://yatsui-fes.com/"
              target="_blank"
              rel="noopener noreferrer"
            >https://yatsui-fes.com/</a><br>
            【YATSUI FESTIVAL! 2024お問合せ】<br>
            Spotify O-EAST：03-5458-4681`
          ],
          photos: []
        },
        {
          url: `/news/post054/`,
          hero: {
            image: `/assets/img/news/post054/hero.jpg`,
            alt: `QUEST SHIP Vol'3 フライヤー`
          },
          title: `🍣2024.3.9 (Sat.)「QUEST SHIP Vol'3 」出演決定🍣`,
          leads: [
            `🍣会場：KUMAGAYA WAbySABI 🍣<br>
            🍣〒360-0043 埼玉県熊谷市星川2丁目96 2F 🍣<br>
            🍣OPEN 21:00〜ALL NIGHT 🍣`,
            `イベント詳細については下記Instagramアカウントにて👇<br>
            URL: <a
              href="https://www.instagram.com/quest_ship"
              target="_blank"
              rel="noopener noreferrer"
            >https://www.instagram.com/quest_ship</a>`
          ],
          photos: []
        },
        {
          url: '/news/post053/',
          hero: {
            image: '/assets/img/news/post053/hero.jpg',
            alt: 'FARMHOUSEとヒグマのごんた'
          },
          title: '「Beyond magazine」のベストバイ2023CRASH BAGGAGE（クラッシュバゲージ）について語りやした🍣🧳',
          leads: [
            `🍣WEBマガジン「Beyond magazine」の「ベストバイ2023」にてSUSHIBOYSがお出かけに使っている、CRASH BAGGAGE（クラッシュバゲージ）について語りやした🍣🍕🧳`,
            `【SUSHIBOYS、新たな“冒険の共犯者”となるイタリア生まれのスーツケース】<br>
            Beyond magazine URL: <a
              href="https://www.beyondmag.jp/posts/821"
              target="_blank"
              rel="noopener noreferrer"
            >https://www.beyondmag.jp/posts/821</a>`,
            `風になびく、イタリアの革新的な精神から生まれた物語。SUSHIBOYSは、あなたにひとつの秘密を語ります。それは、ヴェネツィアの夜明けから始まる旅の始まり。クラッシュバゲージ（CRASH BAGGAGE）、それはあたかも過去の痕跡が刻まれたアート作品のようなスーツケース。`
          ],
          photos: []
        },
        {
          url: '/news/post052/',
          hero: {
            image: '/assets/img/news/post052/hero.jpg',
            alt: 'TOPTREE OKINAWAのフライヤー'
          },
          title: '🍣2/23(Fri.) TOPTREE OKINAWA 出演決定🍣',
          leads: [
            `🍣 2/23(Fri.) TOPTREE OKINAWA 出演決定🍣<br>
            かなり久しぶりの沖縄で握りやす🍣ぜひ🍣`,
            `イベント詳細↓<br>
            HP: <a
              href="https://toptree-naha.com/"
              target="_blank"
              rel="noopener noreferrer"
            >https://toptree-naha.com/</a><br>
            IG: <a
              href="https://www.instagram.com/toptree_okinawa/"
              target="_blank"
              rel="noopener noreferrer"
            >https://www.instagram.com/toptree_okinawa/</a>`
          ],
          photos: []
        },
        {
          url: '/news/post051/',
          hero: {
            image: '/assets/img/news/post051/hero.jpg',
            alt: 'Honda新型SUV『WR-V』'
          },
          title: 'Honda新型SUV『WR-V』TVCMソングを担当🍣',
          leads: [
            `Honda新型SUV『WR-V』のTVCMソングを作りました！🍣<br>
            乗り物系ラッパーとして活動を続けて早10年ようやく車のCMの依頼が来ました🍣<br>
            テレビ、WEBでぜひ見かけてください🍣ガッテン🍣`,
            `【WR-V】TVCM（WEB版） URL：<a
              href="https://youtu.be/HK5Vb9QAfOI?feature=shared"
              target="_blank"
              rel="noopener noreferrer"
            >https://youtu.be/HK5Vb9QAfOI?feature=shared</a>`
          ],
          photos: []
        },
        {
          url: '/news/post050/',
          hero: {
            image: '/assets/img/news/post050/hero.jpg',
            alt: '音の楽園のフライヤー'
          },
          title: '音の楽園 / OTO NO RAKUEN  2Year Anniversary 出演決定🍣',
          leads: [
            `音の楽園 / OTO NO RAKUEN  2Year Anniversary 出演決定🍣<br>
            🎫Ticket URL：<a
              href="https://tiget.net/events/289835"
              target="_blank"
              rel="noopener noreferrer"
            >https://tiget.net/events/289835</a>`,

            `日程：2024年2月12日(月)※祝日<br>
            会場：渋谷 Spotify O-EAST<br>
            時間：Open 15:00〜`
          ],
          photos: []
        },
        {
          url: '/news/post049/',
          hero: {
            image: '/assets/img/news/post049/hero.png',
            alt: '富士山をバックに龍の着ぐるみを着たSUSHIBOYS'
          },
          title: '🐉New single『年賀状2024（辰）』 Release & Music Video公開🐉',
          leads: [
            `🐉New single SUSHIBOYS - 年賀状2024（辰） Release‼🐉<br>
            🐉各ストア配信URL：<a
              href="https://linkco.re/CU4X4fec?lang=ja"
              target="_blank"
              rel="noopener noreferrer"
            >https://linkco.re/CU4X4fec?lang=ja</a><br>
            🐉MV URL：<a
              href="https://youtu.be/RXeMh6KOeF4"
              target="_blank"
              rel="noopener noreferrer"
            >https://youtu.be/RXeMh6KOeF4</a>`,

            `あけましておめでとうございます🎍🌅🐉<br>
            SUSHIBOYSが毎年恒例となってしまった年賀状シリーズの第二弾を発表した。<br>
            今年は辰年ということもあり、龍のようなものを身体に巻き付けたメンバーらが元旦の街を走り抜けた。<br>
            メンバーのfarmhouseは「僕はさそり座だから辰年は関係ないけどみんなの為に頑張ったのさ〜」などと意味不明な発言をしながら餅を喉に詰まらせた。<br>
            編曲にはプロゴルファーのPARKGOLF氏も参加している。<br>
            果たしてSUSHIBOYSは全ての干支を制覇することはできるのか、今後も目が離せない。`
          ],
          photos: []
        },
        {
          url: '/news/post048/',
          hero: {
            image: '/assets/img/news/post048/hero.jpg',
            alt: 'SUSHIBOYSの年賀状'
          },
          title: '🍣2024年もSUSHIBOYSは年賀状やります🍣🐉',
          leads: [
            `2024年も無事に年賀状を作成できました🍣🎍<br>
            2024年1月3日までに下記の住所に送ってくれたらSUSHBOYSからメッセージを添えて年賀状を送り返すよ🍣<br>
            今年は辰年🐉ちな年賀状の曲もできてるから安心してくれ🐉`,

            `&#12306;171-0022<br>
            東京都豊島区南池袋3-13-9-306<br>
            SUSHIBOYS 宛`
          ],
          photos: []
        },
        {
          url: '/news/post047/',
          hero: {
            image: '/assets/img/news/post047/hero.jpg',
            alt: 'SHAKE at 大阪・ユニバースのフライヤー'
          },
          title: '🍺2024.1.27 (土) SHAKE at 大阪・ユニバース出演決定🍣',
          leads: [
            `2024.1.27 (土) SHAKE at 大阪・ユニバース出演いたしやす🍣🍺`,

            `🍣出演<br>
            梅田サイファー / フレンズ / SUSHIBOYS / betcover!!`,

            `🍣最速先着先行受付中！<br>
            <a
              href="https://w.pia.jp/t/shake-ks/"
              target="_blank"
              rel="noopener noreferrer"
            >https://w.pia.jp/t/shake-ks/</a><br>
            一般 ¥5,800- / ペア¥9,000- (2枚組)`,

            `"「音楽と人」が溶け合う” 特別な1日をユニバースで過ごしましょう! 🍣🍺<br>
            HP👇<br>
            <a
              href="https://www.greens-corp.co.jp/schedule/info/index.php?event_id=11957"
              target="_blank"
              rel="noopener noreferrer"
            >https://www.greens-corp.co.jp/schedule/info/index.php?event_id=11957</a>`,

            `#SHAKE2024`
          ],
          photos: []
        },
        {
          url: '/news/post046/',
          hero: {
            image: '/assets/img/news/post046/hero.jpg',
            alt: '流派-R since2001のフライヤー'
          },
          title: 'テレビ東京系 流派-R since2001 【VIEWS】出演🍣🌃',
          leads: [
            `テレビ東京系「流派-R since 2001」にて11月10日（金）深夜27時00分より番組内コーナーのVIEWSにSUSHIBOYSが出演いたしやした🍣🌃`,

            `見逃し配信【VIEWS : SUSHIBOYS】がYouTubeにて公開中↓🍣<br>
            <a
              href="https://youtu.be/sM1RdmXy4d8?si=PpvmLL96AAi0DCPn"
              target="_blank"
              rel="noopener noreferrer"
            >https://youtu.be/sM1RdmXy4d8?si=PpvmLL96AAi0DCPn</a>`,

            `・テレビ東京系「流派-R since 2001」<br>
            HP: <a
              href="https://www.tv-tokyo.co.jp/ryuha-r/"
              target="_blank"
              rel="noopener noreferrer"
            >https://www.tv-tokyo.co.jp/ryuha-r/</a><br>
            Twitter: <a
              href="https://twitter.com/ryuha__R"
              target="_blank"
              rel="noopener noreferrer"
            >https://twitter.com/ryuha__R</a><br>
            Instagram: <a
              href="https://www.instagram.com/ryuuha_r"
              target="_blank"
              rel="noopener noreferrer"
            >https://www.instagram.com/ryuuha_r</a>`,
          ],
          photos: []
        },
        {
          url: '/news/post045/',
          hero: {
            image: '/assets/img/news/post045/hero.jpg',
            alt: 'OVERTUREのフライヤー'
          },
          title: '-Buzz Brats × DJ KENGO Presents- OVERTURE Vol.3 supported by Sword Spirit 出演決定🍣',
          leads: [
            `2023.12.02(土) 13:00-20:00 -Buzz Brats × DJ KENGO Presents-<br>
            OVERTURE Vol.3 supported by Sword Spirit 出演決定🍣`,

            `【PLACE】<br>
            渋谷 Circus Tokyo<br>
            東京都渋谷区渋谷3-26-16`,

            `🎫Ticket URL👇<br>
            <a
              href="http://onl.la/m77JXfs"
              target="_blank"
              rel="noopener noreferrer"
            >http://onl.la/m77JXfs</a>`,

            `【ENTERANCE】<br>
            前売券 [通常] / ¥3,000-<br>
            前売券 [イベント支援タイプ] / ¥4,000-<br>
            当日 / ¥3,500-<br>
            ＊中学生以下入場無料 (要身分証)<br>
            ＊小学生以下は保護者同伴必須<br>
            ＊原則再入場不可`,

            `【B1F : HIPHOP / R&B】<br>
            -GUEST-<br>
            SUSHIBOYS<br>
            DJ 諭吉《2017 DMC World Champion》<br>
            DJ BUNTA《2023 DMC Japan Champion》`,

            `-RESIDENT-<br>
            Buzz Brats┃DJ KENGO`,

            `-LIVE-<br>
            Charlu┃matsudamiki┃SurvibeS┃KenLow & ld philo`,

            `-DJ-<br>
            ヒラテマリノ┃DJ §arina`,

            `-MC-<br>
            遼西`,

            `-EXHIBITION DJ BATTLE-<br>
            ①rio vs BERRY<br>
            ②DJ02 vs ヒラテマリノ<br>
            ③01 vs DJ §arina<br>
            ④ANTIC vs Hi-Beam`,

            `【1F : OPEN FORMAT / TURNTABLISM】<br>
            -DJ-  (A to Z)<br>
            BERRY┃Hi-Beam┃DJ HYO-E ┃Muffin┃OKI2┃rio┃DJ TORU.┃xoaa. (ANTIC × HADALY)┃01┃DJ02`
          ],
          photos: []
        },
        {
          url: '/news/post044/',
          hero: {
            image: '/assets/img/news/post044/hero.jpg',
            alt: 'CLUB L2 HIROSIMAのフライヤー'
          },
          title: 'CLUB L2 HIROSIMA出演決定🍣',
          leads: [
            `11/18（Sat.）CLUB L2 HIROSIMA出演決定🍣<br>
            久しぶりの広島で握ります🍣ぜひ🍣🌃`,
            `🍣会場<br>
            〒730-0028<br>
            広島県広島市中区流川町7-6 白菱第5ビル 4Ｆ`,
            `詳細↓<br>
            IG: <a
              href="https://instagram.com/club.l2"
              target="_blank"
              rel="noopener noreferrer"
            >https://instagram.com/club.l2</a><br>
            HP: <a
              href="https://clubl2.net/"
              target="_blank"
              rel="noopener noreferrer"
            >https://clubl2.net/</a>`,
          ],
          photos: []
        },
        {
          url: `/news/post043/`,
          hero: {
            image: `/assets/img/news/post043/hero.jpg`,
            alt: `Sound Forestのフライヤー`
          },
          title: `🍣2023/11/26(日) Sound Forest vol.1 出演決定🍣`,
          leads: [
            `11/26（日）Sound Forest vol.1<br>
            OPEN：15:00-21:00`,
            `🍣チケット販売リンク👇<br>
            <a
              href="https://tiget.net/events/273060"
              target="_blank"
              rel="noopener noreferrer"
            >https://tiget.net/events/273060</a><br>
            ※未成年入場可能`,
            `会場：1000 CLUB<br>
            〒220-0005 神奈川県横浜市西区南幸2丁目1-5-39`,
            `出演アーティスト：Mony Horse/PETS/Gottz/SUSHIBOYS/MaRI/98jams/young zetton/7/Lick-G/edward(我)/week dudus/Yella Flat Boys
            等出演予定！`,
            `イベント公式IG：<a
              href="https://www.instagram.com/_soundforest_"
              target="_blank"
              rel="noopener noreferrer"
            >https://www.instagram.com/_soundforest_</a>`
          ],
          photos: []
        },
        {
          url: `/news/post042/`,
          hero: {
            image: `/assets/img/news/post042/hero.jpg`,
            alt: `GROOVY TOWN vol.11 のフライヤー`
          },
          title: `🍣10/14（Sat.）GROOVY TOWN vol.11 出演決定🍣`,
          leads: [
            `GROOVY TOWN vol.11`,
            `・日時<br>
            10/14(土曜日) 22:00～5:00`,
            `Adv.3500+1Drink<br>
            Door 4000+1Drink`,
            `・場所<br>
            鈴鹿Answer<br>
            (三重県鈴鹿市算所3丁目14-35)`,
            `・SP Guest<br>
            ZOMBIE-CHANG<br>
            SUSHIBOYS<br>
            NARSEA`,
            `・DJ<br>
            take<br>
            tabasan<br>
            ren<br>
            hrzplayer<br>
            krmt<br>
            horizon club`,
            `詳細↓<br>
            GROOVY TOWN<br>
            IG：<a
              href="https://instagram.com/_groovytown"
              target="_blank"
              rel="noopener noreferrer"
            >https://instagram.com/_groovytown</a><br>
            X（Twitter）：<a
              href="https://x.com/groovytown_"
              target="_blank"
              rel="noopener noreferrer"
            >https://x.com/groovytown_</a>`
          ],
          photos: []
        },
        {
          url: `/news/post041/`,
          hero: {
            image: `/assets/img/news/post041/hero.jpg`,
            alt: `G2 SHIZUOKAのフライヤー`
          },
          title: `🍣10/20（Fri.）G2 SHIZUOKA 出演決定🍣`,
          leads: [
            `🍣10/20（Fri.）G2 SHIZUOKA 出演決定🍣`,
            `🍣会場<br>
            〒420-0852<br>
            静岡県静岡市葵区紺屋町12-1 ドン・キホーテビル６F`,
            `詳細↓<br>
            IG:<a
              href="https://instagram.com/g2.shizuoka"
              target="_blank"
              rel="noopener noreferrer"
              >https://instagram.com/g2.shizuoka</a><br>
            `,
            `HP:<a
              href="https://g2-shizuoka.com/news/"
              target="_blank"
              rel="noopener noreferrer"
              >https://g2-shizuoka.com/news/</a>
            `
          ],
          photos: []
        },
        {
          url: `/news/post040/`,
          hero: {
            image: `/assets/img/news/post040/hero.jpg`,
            alt: `白米 ジャケット`
          },
          title: `🍚NEW MV Release‼ 白米-SUSHIBOYS(Official Music Video)🍚🥢`,
          leads: [
            `今回のテーマは"白米"<br>
            某農業大学監修のもと綿密に練られたリリックには、白すぎる白米に対しての葛藤とジェラシーが描かれている。<br>
            メンバーのfarmhouseは米との一体化を図るため4合の秋田こまちを平らげてからのレコーディングとなった。<br>
            血糖値の上昇によりほぼ意識を失ったままのレコーディングとなったが、持ち前のポテンシャルでそれを感じさせない力強いバースを蹴り上げている。<br>
            なお曲中のベースラインには米を精米する際の音が使われているということはない。<br>
            疾走感溢れるビートに私の箸はごちそうさまを忘れた。<br>
            おふくろ、もう一杯。`,

            `YouTube MV URL👇<br>
            <a
              href="https://youtu.be/IKkkdMxVI5Y"
              target="_blank"
              rel="noopener noreferrer"
            >https://youtu.be/IKkkdMxVI5Y</a>`,

            `各ストリーミングサービス、各ストアにて配信中🍣👇<br>
            <a
              href="https://linkco.re/V8txuY6r"
              target="_blank"
              rel="noopener noreferrer"
            >https://linkco.re/V8txuY6r</a>`
          ],
          photos: []
        },
        {
          url: `/news/post039/`,
          hero: {
            image: `/assets/img/news/post039/hero.jpg`,
            alt: `CITY GARDEN フライヤー`
          },
          title: `🍣「CITY GARDEN 2023」at 豊洲PIT 出演決定🍣`,
          leads: [
            `🍣2023年10月28日（土）「CITY GARDEN 2023」at 豊洲PIT 出演決定🍣<br>
            OPEN 13:00 START 14:00`,

            `🍣出演者<br>
            Zeebra / 般若 / 梅田サイファー / TOC / SUSHIBOYS / CHICO CARLITO / Charisma.com / ELIONE / 電波少女 / SKRYU / lyrical school / Maison B /<br>
            KEN THE 390 and Special Guest`,

            `🍣会場<br>
            豊洲PIT(〒135-0061 東京都江東区豊洲６丁目１－２３)`,

            `🍣チケット<br>
            受付URL: <a href="//eplus.jp/citygarden-vol2/" target="_blank" rel="noopener noreferrer">https://eplus.jp/citygarden-vol2/</a>`,

            `🍣お問い合わせ<br>
            チッタワークス 044-276-8841（平日12:00〜18:00）`,

            `🍣オフィシャルHP<br>
            <a
              href="//www.citygarden.info/"
              target="_blank"
              rel="noopener noreferrer"
            >https://www.citygarden.info/</a>`,
          ],
          photos: []
        },
        {
          url: `/news/post038/`,
          hero: {
            image: `/assets/img/news/post038/hero.jpg`,
            alt: `白米 ジャケット`
          },
          title: `🍚New Single 【白米-SUSHIBOYS】Release!!🍚`,
          leads: [
            `sushiboysが早くも今年2作目を納品した。<br>
            今回のテーマは"白米"<br>
            某農業大学監修のもと綿密に練られたリリックには、白すぎる白米に対しての葛藤とジェラシーが描かれている。<br>
            メンバーのfarmhouseは米との一体化を図るため4合の秋田こまちを平らげてからのレコーディングとなった。<br>
            血糖値の上昇によりほぼ意識を失ったままのレコーディングとなったが、持ち前のポテンシャルでそれを感じさせない力強いバースを蹴り上げている。<br>
            なお曲中のベースラインには米を精米する際の音が使われているということはない。<br>
            疾走感溢れるビートに私の箸はごちそうさまを忘れた。<br>
            おふくろ、もう一杯。`,

            `各Store配信URL：<a href="https://linkco.re/V8txuY6r" target="_blank" rel="noopener noreferrer">https://linkco.re/V8txuY6r</a>`
          ],
          photos: []
        },
        {
          url: `/news/post037/`,
          hero: {
            image: `/assets/img/news/post037/hero.jpg`,
            alt: `骸 フライヤー`
          },
          title: `🍣2023.7.29(sat)『骸-MUKURO-』at The Voodoo Lounge出演🍣`,
          leads: [
            `The Voodoo Lounge Staff Presents<br>
            2023.7.29(sat)『骸-MUKURO-』at The Voodoo Lounge`,

            `【OPEN】22:00<br>
            【CLOSE】5:00`,

            `【ADV】¥3,000 +1drink order<br>
            【DAY】¥4,000 +1drink order`,

            `【予約サイト】<br>
            <a href="https://tiget.net/events/254022" target="_blank" rel="noopener noreferrer">https://tiget.net/events/254022</a>`,

            `【SPECIAL GUEST】<br>
            SUSHIBOYS`,

            `【LIVE】<br>
            SEA DOGG<br>
            palm<br>
            CA$H MONE¥<br>
            lif<br>
            THX`,

            `【DJ】<br>
            STACH<br>
            KTHICK<br>
            Nu<br>
            Radish<br>
            celo<br>
            syoe`,

            `Supported by TRIGGER`
          ],
          photos: []
        },
        {
          url: `/news/post036/`,
          hero: {
            image: `/assets/img/news/post036/hero.jpg`,
            alt: `Trigger Records presents Singularity フライヤー`
          },
          title: `🍣Trigger Records presents Singularity #02 at ANIMA(大阪)出演決定🍣`,
          leads: [
            `2023.7.21(Fri)Trigger Records presents<br>
            Singularity #02 at ANIMA(大阪)出演いたしやす🍣`,

            `🎫TICKET👇<br>
            <a href="https://eplus.jp/singularity/" target="_blank" rel="noopener noreferrer">https://eplus.jp/singularity/</a><br>
            6/12 20:00～ 先行販売<br>
            ※学生証持参で500円バック`,

            `■LIVE<br>
            SUSHIBOYS / 夜の本気ダンス<br>
            ■O.A.<br>
            Draw4<br>
            info:GREENS CORPORATION<br>
            06-6882-1224(平日12:00～18:00)`
          ],
          photos: []
        },
        {
          url: `/news/post035/`,
          hero: {
            image: `/assets/img/news/post035/hero.jpg`,
            alt: `YourLimitCheersのフライヤー`
          },
          title: `🍣YourLimitCheers @Time Out Cafe&Diner 出演🍣`,
          leads: [
            `🍣YourLimitCheers @Time Out Cafe&Diner 🍣<br>
            会場:Time Out Cafe&Diner【東京都渋谷区東3-16-6 リキッドルーム2F】<br>
            15:30 OPEN～`,
            `-LIVE-<br>
            Kick a Show<br>
            鯱<br>
            reina(w.a.u)<br>
            Kouichi Arakawa `,
            `-DJ-(AtoZ)<br>
            オカモトレイジ(OKAMOTO'S)<br>
            DaBook<br>
            ピスタチオDJs (basho,安藤つ良し)<br>
            YourLimitCheers(ChibiChael×Nano Dia)<br>
            MANON`,
            `-APPAREL-<br>
            homesicc`
          ],
          photos: []
        },
        {
          url: `/news/post034/`,
          hero: {
            image: `/assets/img/news/post034/hero.jpg`,
            alt: `新夜零時を過ぎたらのメンバー`
          },
          title: `🍣新Podcast番組【深夜零時を過ぎたら】の木曜日パーソナリティに決定🍣`,
          leads: [
            `新Podcast番組【深夜零時を過ぎたら】にSUSHIBOYSが木曜日担当で参加いたしやす🍣`,
            `Artistspoken アプリDLリンク👇<br>
            <a href="https://artistspoken.com/lp/" target="_blank" rel="noopener noreferrer">https://artistspoken.com/lp/</a>`,
            `5月29日(月)から配信開始🍣<br>
            月： #クボタカイ<br>
            火： #群青団地<br>
            水： #Doul<br>
            木： #SUSHIBOYS<br>
            金： #ODDFootWorks<br>
            土： 海とゆきやま from #リーガルリリー<br>
            日： #どんちっち`,
            `【新夜零時を過ぎたら】<br>
            深夜零時。<br>
            中学生の頃ここを越えちゃいけない気がしてた<br>
            高校生になってその瞬間を越えたドキドキとハラハラは今でも忘れない<br>
            何か悪いことでもしてるような、でもワクワクするあの感覚<br>
            大人になった今でも零時以降は頭が冴えるし楽しい思い出ばかりだ<br>
            深夜零時を過ぎたら、”新しい夜(何か)”が始まる<br>
            新夜零時を過ぎたら、”深い夜(時代)”が始まる<br>
            リスナーを新たな時代の共犯者へ誘う注目の若手クリエイターたちによる新夜番組。`,
            `スピーカーは文学性の高い歌詞で注目を集めるシンガーソングライター/ラッパーの「クボタカイ」、ライブシーンで若手随一の人気コント師「群青団地」、音楽・ビジュアル・クリエイティブの全てをセルフプロデュースし世界中から注目を集めている若きアーティスト「Doul」、卓越したラップスキルと歌詞のユニークさで支持されるヒップホップグループ「SUSHIBOYS」、Pecori(rap)、有元キイチ(guitar)、榎元駿(bass)から成るボトムレスな音楽グループ「ODD Foot Works」、スリーピースバンド『リーガルリリー』のリズム隊Ba.海とDr.ゆきやま「海とゆきやま（from リーガルリリー）」、そして先輩芸人からも面白いと評判で今年お笑い賞レースでの結果が期待される超若手芸人「どんちっち」`
          ],
          photos: []
        },
        {
          url: `/news/post033/`,
          hero: {
            image: `/assets/img/news/post033/hero.jpg`,
            alt: `Ryugo Ishida FARMHOUSE ShowyRENZO YDIZZY がいきがっている写真`
          },
          title: `Red Bull RASEN #21 FARMHOUSEが参加🍣`,
          leads: [
            `Red Bull RASEN #21: Ryugo Ishida / FARMHOUSE / ShowyRENZO / YDIZZY (prod. by Yohji Igarashi)`,
            `SUSHIBOYSからクレイジー農家ことFARMHOUSEが参加🍣🐄<br>
            YouTube URL: <a href="https://youtu.be/u1xOx-4TJ1c" target="_blank" rel="noopener noreferrer">https://youtu.be/u1xOx-4TJ1c</a>`,
            `RASEN#21 参加アーティストインタビューも公開中🍣🔥<br>
            <a href="https://www.redbull.com/jp-ja/projects/rasen-interviews" target="_blank" rel="noopener noreferrer">https://www.redbull.com/jp-ja/projects/rasen-interviews</a>`
          ],
          photos: []
        },
        {
          url: `/news/post032/`,
          hero: {
            image: `/assets/img/news/post032/001.jpg`,
            alt: `「木にしない」 ポスター`
          },
          title: `SUSHIBOYSが長年の沈黙から目覚め新曲「木にしない」を配信開始🍣🌳`,
          leads: [
            `SUSHIBOYSが長年の沈黙から目覚め新曲「木にしない」のリリースを宣言した。<br>
            圏央道全線開通への強い期待を込めて作られた本作。<br>
            エキセントリックなビートにバウンスさせたリリックはまさに歌詞でありそのリアルさは本物である。<br>
            メンバーのfarmhouseは自身のクレジットカードが不正利用され大量の半導体を自宅に送りつけられるなどしたため、<br>
            多額の負債を抱えたままのレコーディングとなったが、それを感じさせない力強いバースを蹴り上げている。<br>
            便利な世の中でも悩みが尽きないのが人間だ。<br>
            そんな現代人の「木」を言葉のノコギリで豪快に切り倒していく彼らの様は爽快の一言。`,
            `各ストリーミングサービス、各ストアにて配信中🍣<br>
            各store URL:<a href="https://linkco.re/A9zCTCbN" target="_blank" rel="noopener noreferrer">https://linkco.re/A9zCTCbN</a>`,
            `👇New MV 木にしない - SUSHIBOYS<br>
            <a href="https://youtu.be/pOI723RwYwk" target="_blank" rel="noopener noreferrer">https://youtu.be/pOI723RwYwk</a>`
          ],
          photos: []
        },
        {
          url: `/news/post031/`,
          hero: {
            image: `/assets/img/news/post031/001.jpg`,
            alt: `🍣2023年6月17日・18日（土・日） YATSUI FESTIVAL! 2023 出演決定🍣`
          },
          title: `🍣2023年6月17日・18日（土・日） YATSUI FESTIVAL! 2023 出演決定🍣`,
          leads: [
            `🍣YATSUI FESTIVAL! 2023🍣<br>【OPEN】 2023年6月17日・18日（土・日）（両日）:11:30 ～<br>会場 : Spotify O-EAST / Spotify O-WEST / Spotify O-nest / Spotify O-Crest<br>duo MUSIC EXCHANGE / clubasia / LOFT9 Shibuya / WOMBLIVE`,
            `【先着先行チケット】 2月22日(水)12:00～5月17日(水)23:59<br>👉イープラス:<a href="https://eplus.jp/yatsuifes/" target="_blank" rel="noopener noreferrer">https://eplus.jp/yatsuifes/</a>🍣`,
            `【YATSUI FESTIVAL! 2022 オフィシャルサイト】<br><a href="https://yatsui-fes.com/" target="_blank" rel="noopener noreferrer">https://yatsui-fes.com/</a>`,
            `全体日割り / 6月17日（土）出演者一覧（64組）<br>DJやついいちろう / アイデンティティ / 新しい学校のリーダーズ / ぁみ（怪談家） / imai / ウエストランド / エアコンぶんぶんお姉さん / a子 / STU48 / 江沼郁弥 with ??? / エレ片 / エレ片劇団 / 奥村門土（モンドくん） / カジヒデキ / kiss the gambler / キャン×キャン / キュウ / グソクムズ / ゲッターズ飯田 / GOING UNDER GROUND / COALTAR OF THE DEEPERS / ザ・チャレンジ×ONIGAWARA / サツマカワRPG / サニーデイ・サービス / ザ・マミィ / 三四郎 / 三拍子 / 柴田聡子 (BAND SET) / 渋さ知らズオーケストラ / しまおまほ / ジョナゴールド / 水中、それは苦しい / SUSHIBOYS / スチャダラパー / SEVENTEEN AGAiN / ゾフィー / downt / DJ響 / Ｔ字路s / toddle / 飛石連休 / トリプルファイヤー / どんぐりたけし / 永野 / 虹の黄昏 / 人間横丁 / 猫戦 / No Buses / X-GUN / ヒグチアイ / 街裏ぴんく / みらん / Mega Shinnosuke / や団 / やついフェス歌合戦2023 SPバンド / ゆうらん船 / 諭吉佳作/men / ゆけむりDJs / yonige / ヨネダ2000 / LAUSBUB / Ryu Matsuyama / りんご娘 / Laura day romance / and more...`,
            `全体日割り / 6月18日（日）出演者一覧（78組）<br>DJやついいちろう / I's / 青木さやか / ANORAK! / Apsu Shusei / アマイワナ / 天野なつ / ayutthaya / いつもここから / いぬ / in the blue shirt / Wienners / エルシャラカーニ / おかしなふたり（奇妙礼太郎×Sundayカミデ） / 奥村門土（モンドくん） / おとぼけビ〜バ〜 / 小山田壮平（band set） / かすみ草とステラ / カナメストーン / KEYTALK / きのホ。 / クリトリック・リス / ゲッターズ飯田 / Cö shu Nie / the dadadadys / ザ・おめでたズ / ザ・ギース / 佐々木優太 / サスペンダーズ / 時速36km / しまおまほ / SuiseiNoboAz / SPARK!!SOUND!!SHOW!! / 曽我部恵一 / TAIGA / 高城れに / 田中俊行 / w.o.d. / チャンス大城 / TKO / TENDOUJI / 東京初期衝動 / 都市ボーイズ / ドミコ / 中村一義（Acoustic set with 三井律郎） / NIKO NIKO TAN TAN / Negicco / 脳みそ夫 / パーツイシバ / Hi-Hi / 馬鹿よ貴方は / ハマカーン / 春とヒコーキ / パンプキンポテトフライ / PIGGS / futures / フラワーカンパニーズ / Helsinki Lambda Club / ボギー&奥村門土（モンドくん） / POLYPLUS / ぽんぽこ / マッカーサーアコンチ / MASH(BAND SET) / ママタルト / 眉村ちあき / 宮迫博之 / MONO NO AWARE / やついフェス歌合戦2023 SPバンド / ゆけむりDJs / ゆってぃ / RYUTist / ロビンフット / 浪漫革命 / ワールドヲーター / ワンダフルボーイズ / and more...`,
            `【クレジット】<br>主催 : やついいちろう<br>制作：シブヤテレビジョン / トゥインクルコーポレーション / SALMONSKY / ディスクガレージ<br>協力：中京テレビ放送株式会社 / 株式会社イープラス / ニコニコ生放送 /duo MUSIC EXCHANGE / Culture of Asia / LOFT9 Shibuya / (株)フォーム / Eggs / 株式会社MENU`,
            `【インフォメーション】<br>Spotify O-EAST:03-5458-4681`
          ],
          photos: []
        },
        {
          url: `/news/post030/`,
          hero: {
            image: `/assets/img/news/post030/001.jpg`,
            alt: `Chill City 2023 Spring フライヤー`
          },
          title: `🏬🍣ChillCity 2023 Spring in 池袋PARCO 出演決定🍣🏬`,
          leads: [
            `🏬🍣ChillCity 2023 Spring in 池袋PARCO 出演🍣🏬`,
            `🍣Ticket Link👇<br><a href="https://chillcity.zaiko.io/e/chillcity2023" target="_blank" rel="noopener noreferrer">https://chillcity.zaiko.io/e/chillcity2023</a>`,
            `🍣開催時間<br>2023年4月15日(土)・4月16日(日)各日17:00～21:00 ※最終入場各日20:30`,
            `🍣会場<br>池袋PARCO 本館屋上(東京都豊島区南池袋1-28-2)`,
            `🍣Live<br>Day 1 : JJJ、SUSHIBOYS、Auto&mst、YonYon、DJ HASEBE<br>Day 2 : HIMI、ZIN、a子、Ovall`,
            `🍣映像 : VJ Mitchel<br>🍣Decoration ：大島エレク総業<br>🍣ビジュアル制作 : moi.`,
            `🍣公式サイト<br><a href="https://chillcity.tokyo/" target="_blank" rel="noopener noreferrer">https://chillcity.tokyo/</a>`,
            `🍣共催<br>池袋PARCO、TENT SoundSystem、SHAKE HANDS、HeiseiChillDren`
          ],
          photos: []
        },
        {
          url: `/news/post029/`,
          hero: {
            image: `/assets/img/news/post029/001.jpg`,
            alt: `OFF-SIDE フライヤー`
          },
          title: `🍣ODD Foot Works&times;SUSHIBOYS at Shinjuku MARZ ツーマンライブ決定🍣`,
          leads: [
            `ODD Foot Works×SUSHIBOYS at Shinjuku MARZ<br>2023年3月21日&lt;火・祝&gt;<br>Open 18:30<br>LIVE:ODD Foot Works / SUSHIBOYS<br>DJ:SHiN / 斎藤雄`,
            `🎫チケット下記より先行申込み開始🍣<br><a href="https://eplus.jp/sf/detail/3806900001-P0030001" target="_blank" rel="noopener noreferrer">https://eplus.jp/sf/detail/3806900001-P0030001</a>`,
            `#OFFSIDE`
          ],
          photos: []
        },
        {
          url: `/news/post028/`,
          hero: {
            image: `/assets/img/news/post028/001.jpg`,
            alt: `HUYU NO YAON フライヤー`
          },
          title: `🍣FUYU NO YAON 2/18(土)日比谷野外大音楽堂 出演決定🍣`,
          leads: [
            `🍣FUYU NO YAON 2/18(土)日比谷野外大音楽堂 出演決定🍣`,
            `🍣OPEN 14:45~🍣`,
            `🎫Ticket URL:<a href="https://eplus.jp/yaon/" target="_blank" rel="noopener noreferrer">https://eplus.jp/yaon/</a>`,
            `数量限定S席:¥9,980(税込)<br>A自由席:¥5,980(税込)<br>U-25 A自由席:¥2,980(税込)<br>※入場時に身分証明書提示必須<br>※未成年入場可能`,
            `&lt;HEAD LINER&gt;<br>SKY-HI/C.O.S.A./Jin Dogg/ralph/STARKIDS<br>JUBEE(CreativeDrugStore/Rave Racers/AFJB)<br>featuring GUEST<br>CYBER RUI/HIYADAM/in-d(CreativeDrugStore)`,
            `&lt;SPECIAL LIVE&gt;<br>BES featuring SEEDA/chelmico/Elle Teresa/Gottz & MUD(KANDYTOWN)<br>漢 a.k.a. GAMI/K DUB SHINE with DJOASIS/LANA/SATOH/SUSHIBOYS`,
            `&lt;SHOT LIVE&gt;<br>Campanella/homalelanka/JNKMN(YENTOWN)<br>PETZ(YENTOWN)/釈迦坊主/Spada featuring Joseph Blackwell/山田ギャル神宮/18scott`,
            `&lt;DJ&gt;<br>原島"ど真ん中"宙芳`
          ],
          photos: []
        },
        {
          url: `/news/post027/`,
          hero: {
            image: `/assets/img/news/post027/001.jpg`,
            alt: `ジャージ姿のFarmHouseとSANTENA`
          },
          title: `🎍🍣New single 年賀状2023(兎) Release ！！🎍🍣🐇`,
          leads: [
            `あけましておめでとうございます🎍<br>今年もよろしくおねがいいたします🍣<br>SUSHIBOYSの年賀状を配信いたしました🍣🐇`,
            `各ストア配信URL👇<br><a href="https://linkco.re/xaye8XYu" target="_blank" rel="noopener noreferrer">https://linkco.re/xaye8XYu</a>`
          ],
          photos: []
        },
        {
          url: `/news/post026/`,
          hero: {
            image: `/assets/img/news/post026/001.jpg`,
            alt: `音の楽園 フライヤー`
          },
          title: `🍣2023.2.11(sat.) 【音の楽園 / OTO NO RAKUEN 】出演🍣`,
          leads: [
            `🍣2023.2.11(sat.) 【音の楽園 / OTO NO RAKUEN 】出演🍣`,
            `会場：川崎 Club CITTA'<br>時間:Open 14:15〜20:00<br>WILYWNKA、Red Eye、DADA、Kvi Baba、SUSHIBOYS 、Eyden 、Candee、Young Dalu& Osami(Tokyo Young Vision)、LANA、Choppa Capone 、RK Bene Baby、百足、DJ CHARI 等豪華アーティストが出演予定`,
            `🎫一般前売りチケット ¥5,980<br>🎫前方ファストパスチケット ¥6,980<br>🎫Ticket URL👇👇👇<br><a href="https://tiget.net/events/221719" target="_blank" rel="noopener noreferrer">https://tiget.net/events/221719</a>`
          ],
          photos: []
        },
        {
          url: `/news/post025/`,
          hero: {
            image: `/assets/img/news/post025/001.jpg`,
            alt: `L2のフライヤー`
          },
          title: `🍣12/23(Fri.)広島CLUB L2 出演🍣`,
          leads: [
            `広島CLUB L2にてライブ出演いたしやす🍣<br>お近くの方もそうでない方も、ぜひ🍣`,
            `🍣CLUB L2 HP :<a href="https://clubl2.net/" target="_blank" rel="noopener noreferrer">https://clubl2.net/</a>`
          ],
          photos: []
        },
        {
          url: `/news/post024/`,
          hero: {
            image: `/assets/img/news/post024/001.jpg`,
            alt: `海辺のSUSHIBOYS`
          },
          title: `🍣lute Interview with SUSHIBOYS が公開🍣`,
          leads: [
            `InstagramにてInterview with SUSHIBOYS がすべて公開されました🍣<br>`,
            `Link1↓<br>`,
            `<a href="https://www.instagram.com/p/Ck8LAmhLPVE/?utm_source=ig_web_copy_link" target="_blank" rel="noopener noreferrer">https://www.instagram.com/p/Ck8LAmhLPVE/?utm_source=ig_web_copy_link</a><br>`,
            `Link2↓<br>`,
            `<a href="https://www.instagram.com/p/ClBP7A0rhYt/?igshid=YmMyMTA2M2Y=" target="_blank" rel="noopener noreferrer">https://www.instagram.com/p/ClBP7A0rhYt/?igshid=YmMyMTA2M2Y=</a><br>`,
            `Link3↓<br>`,
            `<a href="https://www.instagram.com/p/ClGckKVLFNy/?igshid=YmMyMTA2M2Y=" target="_blank" rel="noopener noreferrer">https://www.instagram.com/p/ClGckKVLFNy/?igshid=YmMyMTA2M2Y=</a>`
          ],
          photos: []
        },
        {
          url: `/news/post023/`,
          hero: {
            image: `/assets/img/news/post023/001.png`,
            alt: ``
          },
          title: `🍣📢Sound Walk 出演🍣📢`,
          leads: [
            `2022/12/3(SAT) 16:00 at FLOOR (宮崎県宮崎市)<br>`,
            `⚡SPECIAL GUEST /Authority、T-STONE、SUSHIBOYS⚡`,
            `TIKET 3000YEN＋1D ※前売りの問い合わせはInstagram、TwitterのDMへ<br>DAY 3800YEN+1D<br>・IG:<a href="https://instagram.com/soundwalkjp" target="_blank" rel="noopener noreferrer">https://instagram.com/soundwalkjp</a><br>・Twitter:<a href="https://twitter.com/soundwalkjp" target="_blank" rel="noopener noreferrer">https://twitter.com/soundwalkjp</a>`
          ],
          photos: []
        },
        {
          url: `/news/post022/`,
          hero: {
            image: `/assets/img/news/post022/001.jpg`,
            alt: ``
          },
          title: `🍣【餃子世界開界５周年記念宴】出演決定🍣`,
          leads: [
            `岡山県にて開催、【餃子世界開界５周年記念宴】出演いたしやす🍣🥟🍣🥟`,
            `🎟チケット🎟<br>https://tiget.net/events/209977`,
            `■開催日:2022/11/2(水)祝前日<br>■時間:19:00 - 24:00<br>■会場:BLUE BLUES (ブルー・ブルース)`,
            `【アーティスト】<br>SUKISHA<br>hysplasma<br>真舟とわ`
          ],
          photos: []
        },
        {
          url: `/news/post021/`,
          hero: {
            image: `/assets/img/news/post021/001.png`,
            alt: ``
          },
          title: `🎶🍣『心拍数15Q at 2022』出演決定🍣🎶`,
          leads: [
            `🎶『心拍数15Q』出演決定🎶<br>10/1(sat) at ちどり公園`,
            `・三次先行Ticket URL👇<br><a href="https://w.pia.jp/t/bpm15q/" target="_blank" rel="noopener noreferrer">https://w.pia.jp/t/bpm15q/</a><br>8/26(金) 21:00 - 9/1(木) 23:59`,
            `【GREEN STAGE】<br>BPM15Q / TeddyLoid 苺りなはむ /KSUKE / BANVOX / Masayoshi Iimori / KOTONOHOUSE / Pa's Lam System / phritz / YUC'e / TEMPLIME / SUSHIBOYS / Gokou Kuyt / MANON / SHO-SENSEI!! / AOTO`,
            `【BLUE STAGE】<br>DJ WILDPARTY / 中村さんそ / picco / SHACHI / nyankobrg&yaca / AZK / KOERU / Genick / POCHI / gaburyu / itsuki nakanishi / valknee / なかむらみなみ / PizzaLove / e5 / uyuni / ウ山あまね / hirihiri / Yackle`,
            `・詳細👇<br><a href="https://www.15style.net/shinpakusu15q2022" target="_blank" rel="noopener noreferrer">https://www.15style.net/shinpakusu15q2022</a><br>#心拍数15Q`
          ],
          photos: []
        },
        {
          url: `/news/post020/`,
          hero: {
            image: `/assets/img/news/post020/001.png`,
            alt: `SPARK Edition 2022/9/24(SAT) 23:30 at SPREAD`
          },
          title: `🍣⚡liQuid SPARK Edition 出演🍣⚡`,
          leads: [
            `liQuid SPARK Edition<br>2022/9/24(SAT) 23:30 at SPREAD<br>早割 ¥2,000 / 前売 ¥2,500<br>当日 ¥2,800 / U23 ¥2,300<br>+1D for All entrance fees`,
            `早割りTicket🎫↓(※2022/8/25(木) 21:00 〜 2022/9/4(日) 23:59〆)<br><a href="https://t.livepocket.jp/e/20220924spread" target="_blank" rel="noopener noreferrer">https://t.livepocket.jp/e/20220924spread</a>`,
            `光り輝く個性を繋ぐ | liQuid vol.6が「SPARK」をテーマに開催<br>今の音楽シーンにおいてジャンルに縛られず自分の「個性」を輝かせているアーティスト/DJが集結。多様な「個性」が混ざり合うフロアはどのような光を放つのか。彼らが放つSPARKを体感してほしい。`,
            `LIVE:<br>Joe Cupertino<br>Nippon Wings United<br>(lilbesh ramko/kegøn/okudakun/safmusic/Meme'z(asterisk+gaq))<br>SUSHIBOYS<br>ヒーローアカデミアOB<br>(lil beamz/ODETRASH)`,
            `DJ:<br>JUN INAGAWA<br>moe × riria (special B2B set)<br>ShioriyBradshaw<br>Yurushite Nyan<br>拳`,
            `flyer design/logo: CoolKidsNemesis<br>flyer text: naka renya`,
            `【event playlist】<br><a href="https://open.spotify.com/playlist/6D2cR3UCLkBLzs2NBaF0Jz?si=YbmZqNDLQBa3O8xgaivSBA" target="_blank" rel="noopener noreferrer">https://open.spotify.com/playlist/6D2cR3UCLkBLzs2NBaF0Jz?si=YbmZqNDLQBa3O8xgaivSBA</a>`
          ],
          photos: []
        },
        {
          url: `/news/post019/`,
          hero: {
            image: `/assets/img/news/post019/001.jpg`,
            alt: `sea of green'22`
          },
          title: `🍣2022/10/15.16 sea of green'22 出演決定🍣`,
          leads: [
            `sea of green'22. 10月15(土) -all night- 16(日)<br>会場:麻那姫湖青少年旅行村<br>早割りチケット↓<br><a href="http://seaofgreen.shop-pro.jp/?mode=cate&csid=0&cbid=1947936" target="_blank" rel="noopener noreferrer">http://seaofgreen.shop-pro.jp/?mode=cate&csid=0&cbid=1947936</a>`,
            `🌳一般前売りチケット7/20の20時より販売開始🌳<br>ローソンチケット<br><a href="https://l-tike.com/seaofgreen/" target="_blank" rel="noopener noreferrer">https://l-tike.com/seaofgreen/</a><br>e+<br><a href="https://eplus.jp/sf/word/0000096179" target="_blank" rel="noopener noreferrer">https://eplus.jp/sf/word/0000096179</a>`,
            `大自然の中で握ります🍣🔥🔥`,
            `【1st Lineup】<br>・RED AXES<br>・TESTSET<br>・Moscoman<br>・Fluida<br>・梅田サイファー<br>・韻シストspecial session CHOZEN LEE / チプルソ / RITTO<br>・SUSHIBOYS<br>・犬式<br>・奇妙礼太郎<br>・The Ghost(Berlin)<br>・TESTSET<br>・Mouse on Mars<br>・とけた電球<br>・The Organism`,
            `【概要】<br>sea of green'22. 10月15(土) -all night- 16(日)`,
            `会場:麻那姫湖青少年旅行村 〒912-0000 福井県大野市中島`,
            `HP: <a href="https://seaofgreen.jp/" target="_blank" rel="noopener noreferrer">https://seaofgreen.jp/</a>`
          ],
          photos: []
        },
        {
          url: `/news/post018/`,
          hero: {
            image: `/assets/img/news/post018/001.png`,
            alt: `ハンサムなDANCESHOW`
          },
          title: `8/17(Wed.)Mega Shinnosuke 『ハンサムなDANCE☆SHOW』出演決定🍣🌟`,
          leads: [
            `🌟Mega Shinnosuke 『ハンサムなDANCE☆SHOW』8/17(Wed.)東京LIQUIDROOMにて握りやす🍣`,
            `🌟8/13(Sat.)大阪味園ユニバース🍣<br>＜LIVE SHOW＞Mega Shinnosuke/BREIMEN/andmore…<br>＜DJ&PERFORMANCE＞SO-SO/スパ●ダーマソ/オカモトレイジ(OKAMOTO'S)<br>＜DJ&PERFORMANCE＞SO-SO/スパ●ダーマソ/オカモトレイジ(OKAMOTO'S)`,
            `🌟8/17(Wed.)東京LIQUIDROOM🍣<br>＜LIVE SHOW＞Mega Shinnosuke/NEE/SUSHIBOYS<br>`,
            `オフィシャル先行Ticket URL:<a href="https://w.pia.jp/t/megashinnosuke-to/" target="_blank" rel="noopener noreferrer">https://w.pia.jp/t/megashinnosuke-to/</a><br>総合info :<a href="https://megashinnosuke.com/" target="_blank" rel="noopener noreferrer">https://megashinnosuke.com/</a>`
          ],
          photos: []
        },
        {
          url: `/news/post017/`,
          hero: {
            image: `/assets/img/news/post017/001.png`,
            alt: `道玄坂48卒業式`
          },
          title: `🍣7.8(Fri.)道玄坂48 卒業式 =SOUND MUSEUM VISION出演決定🍣`,
          leads: [
            `2022.7.8(Fri.)<br>道玄坂48 卒業式 =SOUND MUSEUM VISION CLOSING KICK OFF PARTY= @SOUND MUSEUM VISION<br>OPEN:21:00 DOOR:3,500 ADV3,000`,
            `■GAIA<br>DJ: okadada / Seiho / PARKGOLF / BUDDHAHOUSE / YonYon / Avec Avec / DÉ DÉ MOUSE / ZEN-LA-ROCK / TSUBAME / KAWAGUCHI JIN`,
            `LIVE:  Daoko(club set)/ 釈迦坊主/ SUSHIBOYS / Kick a Show / 徳利 / SUKISHA / MANON /`,
            `VJ: 滝紘平 / H2KGRAPHICS`,
            `LIGHTING: MASAHIRO MOTOIKE`,
            `■DEEP SPACE =TECHNO・DISCO・ELECTRO=<br>DJ: 石野卓球 / DJ DARUMA / DJ MAAR / 80KIDZ / DJ KYOKO / Licaxxx / TAAR / KOSUKE ADAM`,
            `VISION閉店のキックオフパーティーとして『道玄坂48 卒業式 =CLOSING KICK OFF PARTY=』が開催される。<br>総勢豪華48組の大物アーティストが大集結するこのパーティー。`,
            `GAIAのDJにはokadada ,Seiho ,ZEN-LA-ROCK ,ライブにはDaoko,釈迦坊主,SUSHIBOYS、そしてスペシャルゲストも期待大!<br>DEEPには石野卓球、DJ DARUMA、DJ MAAR、DJ KYOKO、 Licaxxx などをはじめ、その他豪華アーティストが勢揃い。`,
            `VISIONオープン当時から現在までゆかりのあるこの豪華48名のラインナップが集結する一夜は泣いても笑ってもこの夜が最後!<br>VISIONに思い入れのある方、まだ来店された事がない方も”道玄坂48卒業式”に参列し、数あるVISIONのパーティーの中でも特に思い出に残る一夜になることは間違いないであろう!!`
          ],
          photos: []
        },
        {
          url: `/news/post016/`,
          hero: {
            image: `/assets/img/news/post016/001.jpg`,
            alt: `OTO NO RAKUEN 2022.07.24(Sun) OPEN 15:20〜21:00`
          },
          title: `🍣OTO NO RAKUEN 出演決定🍣`,
          leads: [
            `OTO NO RAKUEN<br>2022.7.24(Sun.)15:20〜21:00<br>OPEN 15:20〜21:00`,
            `Ticket URL:<a href="https://tiget.net/events/186727" target="_blank" rel="noopener noreferrer">https://tiget.net/events/186727</a>`,
            `出演 KANDYTOWN Gottz、KANDYTOWN MUD、Shurkn Pap、SUSHIBOYS、Mony Horse、Ninja We Made It、Gokou Kuyt、LANA等豪華アーティストが出演予定`
          ],
          photos: []
        },
        {
          url: `/news/post015/`,
          hero: {
            image: `/assets/img/news/post015/001.jpg`,
            alt: `RUSH BALL 2022 8.27 SAT 28 SUN 泉大津PHOENIX`
          },
          title: `🔥RUSH BALL 2022🔥出演決定🍣🍣🍣`,
          leads: [
            `RUSH BALL 2022<br>2022年8月27日(土)、28日(日)<br>OPEN 9:30 / START 11:00<br>会場:泉大津フェニックス`,
            `ATMCステージ出演者発表🍣🍣<br>SUSHIBOYSは8月28日(日)に出演しやす🙏`,
            `〇RUSH BALL HP:<a href="https://www.rushball.com" target="_blank" rel="noopener noreferrer">https://www.rushball.com</a><br>〇チケット詳細:<a href="https://www.rushball.com/ticket/" target="_blank" rel="noopener noreferrer">https://www.rushball.com/ticket/</a><br>※前売券 2022年8月7日(日)10時発売`,
            `【Outline】<br>・2022年8月27日(土)、8月28日(日)<br>・会場:泉大津フェニックス<br>・時間:各日共、開場9:30 / 開演11:00<br>・料金:各日 ¥8,000-(税込)(中学生以上)・ 小学生チケット¥3,000-(税込)(小学生)<br>※通しチケットはありません。<br>※両チケット共に1日券のみとなります。<br>※小学生チケットの販売詳細は後日お知らせいたします。<br>・席種:全自由(整理番号無し)<br>・チケット:前売券発売日 2022年8月7日(日)10:00`
          ],
          photos: []
        },
        {
          url: `/news/post014/`,
          hero: {
            image: `/assets/img/news/post014/001.jpg`,
            alt: `YATSUIFES.2022 やついフェス 6.18 SATURDAY`
          },
          title: `6/18(土)出演🍣YATSUI FESTIVAL!2022 タイムテーブル発表🍣`,
          leads: [
            `sushiboysはclubasiaで16:00～出演でございます🍣<br>やついフェスYouTube channelで無料配信もございます🍣`,
            `YouTube URL👇<br><a href="https://www.youtube.com/channel/UCeMCEGWLpkQQvx7f9oM27VQ" target="_blank" rel="noopener noreferrer">https://www.youtube.com/channel/UCeMCEGWLpkQQvx7f9oM27VQ</a>`,
            `詳細👇<br>URL : <a href="https://yatsui-fes.com" target="_blank" rel="noopener noreferrer">https://yatsui-fes.com</a>`,
            `一般発売チケットURL👇<br>URL : <a href="https://eplus.jp/yatsuifes/" target="_blank" rel="noopener noreferrer">https://eplus.jp/yatsuifes/</a>`,
            `【緊急追加発表アーティスト 19組】(五十音順)※現状 全231組<br>いとうせいこう / インタレスティングたけし / 伊藤彩沙 / 磯村勇斗 / おとんがポックリ残されたうちら / 川本真琴 / 北守さいか / 黒木ほの香 / 越田You / 小林私 / Gパンパンダ / スルメ / つんこ (DJ三宅葵依) from D4DJ / 西寺郷太 (NONA REEVES) / パンプキンポテトフライ / ホットパンツしおり / 森田哲矢(さらば青春の光) / ゆきおとこ / 冷蔵庫マン`,
            `▶日割り / 6月18日(土)出演者一覧(130組)<br>DJやついいちろう / 秋山璃月 / 新しい学校のリーダーズ / アップアップガールズ(2) / アップアップガールズ(プロレス) / アマイワナ / ぁみ(怪談家) / 磯村勇斗 / 伊藤彩沙 / いとうせいこう / 井戸田潤(スピードワゴン) / 伊山亮吉 / イワイガワ / インタレスティングたけし / 鋭児 / エキストラ / SKE48 11期研究生 / 江沼郁弥 / エレ片 / 大槻ケンヂ / おくまん / オジンオズボーン / おとんがポックリ残されたうちら / かにゃ / Calmera / 川辺素 / 河邑ミク / 川本真琴 / 北守さいか / 鬼頭哲(渋さ知らズ) / 奇妙礼太郎 / キュウ / グソクムズ / クボタカイ / 黒木ほの香 / Keishi Tanaka / ゲッターズ飯田 / Cody・Lee(李) / 越田You / サスペンダーズ / サツマカワRPG / さとうもか / サニーデイ・サービス / 三拍子 / 三遊亭わん丈 / 三遊亭とむ / ジェラードン / cinema staff / 渋さ知らズオーケストラ / しまおまほ / シャニムニ＝パレード / ジャパネーズ / #ジューロック / SUSHIBOYS / スルメ / 大豆デンキュー / 高井息吹 / 高城れに / 竹内アンナ / 竹内ズ / 田中貴(サニーデイ・サービス) / 玉置標本 / TEAM SHACHI / ちびシャトル / チャンス大城 / ちゃんもも◎(バンドじゃないもん!MAXNAKAYOSHI) / 月見峠 / TCクラクション / DJ戦隊デッカチャンヤッコチャン / DJ響 / 東郷清丸 / 堂島孝平 / DOTAMA / toddle / 飛石連休 / どんぐりたけし / ナイツ / ナナランド / 西寺郷太 (NONA REEVES) / 虹のコンキスタドール / 虹の黄昏 / 二丁目の魁カミングアウト / ニッキューナナ / にゃんこスター / 脳みそ夫 / No Buses / パーツイシバ / 爆烈Q / 橋田じょうじ / X-GUN / ばってん少女隊 / Have a Nice Day! / #ババババンビ / パンプキンポテトフライ / Bialystocks / ぷにぷに電機 / BROTHER SUN SISTER MOON / Helsinki Lambda Club / Homecomings / ホシカワ / ホットパンツしおり / ポップしなないで / ポルコ / ぽんぽこ / マグ万平 / マッカーサーアコンチ / ママタルト / Mom(弾き語り) / 眉村ちあき / Mega Shinnosuke / 八代亜紀 / やす子 / 山内あいな(SILENT SIREN) / ゆうらん船 / ゆきおとこ / 諭吉佳作/men / ゆけむりDJs / ゆってぃ / ようなぴ(DJ set) / yonawo / ライトガールズ / ラブリーサマーちゃん / ランボルマーチン / 冷蔵庫マン / Laura day romance / LOSTAGE / 渡部真一(渋さ知らズ) / わらふぢなるお / ワンダフルボーイズ / わんふぁす!`,
            `▶日割り / 6月19日(日)出演者一覧(111組)<br>DJやついいちろう / I's / 赤もみじ / 阿佐ヶ谷姉妹 / ASH&Dコーポレーション / アップアップガールズ(仮) / 一徹 / いとうせいこう / Wienners / ウエストランド / ukka / ウ山あまね / a子 / STU48瀬戸内PR部隊 / MPC GIRL USAGI / エレ片 / エレ片劇団 / エレキコミック / おくまん / 小沢一敬(スピードワゴン) / odol / ザ・おめでたズ / かが屋 / 角銅 真実 trio? / 駆け抜けて軽トラ / gato / KAHOH / Calmera / きみがすきだよ / 清 竜人 / 金の国 / クマムシ / クリトリック・リス / ゲッターズ飯田 / Kentaro Nakao / コウメ太夫 / 越田You / 小林私 / ザ・ギース / SAKURAI / THE 抱きしめるズ / THE 2 / SARUKANI / Gパンパンダ / 鹿乃さやか(君のための歯医者さん) / しまおまほ / ジャパネーズ / DJEMP / xiangyu / 笑福亭羽光 / シロたろし / 新東京 / 水中、それは苦しい / 水曜日のカンパネラ / ステレオガール / SO-SO / 曽我部恵一 / TAIGA / ダウ90000 / 立川吉笑 / たなしゅう / チュランペット / 月野帯人 / つんこ (DJ三宅葵依) from D4DJ / でか美ちゃん / DEATHRO / テニスコート / 東京女子流 / 戸田恵子 / 怒髪天 / TOMMY(BOY ) / トリプルファイヤー / #2i2 / NIKO NIKO TAN TAN / ニューロティカ / ネクライトーキー / Hi-Hi / 爆乳ヤンキー / 初恋の嵐 / ハマカーン / peanut butters / b-flower / ブーメラン学園 / 藤子 / butaji / 古市コータロー / betcover!! / ボギー+奥村門土(モンドくん)の似顔絵屋さん / ぼく脳 / HO6LA / マキタスポーツ / 街裏ぴんく / Monthly Mu & New Caledonia / みなみかわ / 宮迫博之 / 宮下雄也 / ムフロンズ / 無明院タク / MONO NO AWARE / 森田哲矢(さらば青春の光) / 森本サイダー / MOROHA / ゆけむりDJs / #よーよーよー / ラブレターズ / RIP SLYME / れいちも / Ropes / 惑星ボルヘス / 忘れらんねえよ / @onefive`,
            `【YATSUI FESTIVAL! 2022 公演概要】<br>▶日程:2022年6月18日(土)、6月19日(日)<br>▶開場/開演(両日):11:30<br>▶会場 : Spotify O-EAST / Spotify O-WEST / Spotify O-nest / Spotify O-Crest duo MUSIC EXCHANGE / clubasia / 7th FLOOR / LOFT9 Shibuya / HARLEM PLUS / 東間屋<br>▶WEB視聴プラットフォーム:LINE LIVE / LINE RECORDS / ニコニコ生放送 / YOUTUBE / and more…<br>▶主催 : やついいちろう<br>▶制作:シブヤテレビジョン / トゥインクルコーポレーション / SALMONSKY / ディスクガレージ<br>▶協力:中京テレビ放送株式会社 / ニコニコ生放送 / LINE RECORDS / duo MUSIC EXCHANGE Culture of Asia / 株式会社おたのしみ研究所 / LOFT9 Shibuya / 株式会社MENU`
          ],
          photos: []
        },
        {
          url: `/news/post013/`,
          hero: {
            image: `/assets/img/news/post013/001.jpg`,
            alt: `ATMC Tanabata Session 2022.7.7(thu)@Shangri-La`
          },
          title: `RUSHBALLスピンオフイベント『ATMC』出演決定🍣🍣`,
          leads: [
            `RUSH BALLのスピンオフイベント<br>「 ATMC 」が、恒例の七夕に開催決定🍣🍣`,
            `2022.7.7 (木) 梅田シャングリラ<br>OPEN 18:00 START18:30`,
            `＜出演＞<br>CRYAMY / SUSHIBOYS<br>鋭児 / ヤングスキニー`,
            `先行受付URL↓<br><a href="https://eplus.jp/atmc-ts/" target="_blank" rel="noopener noreferrer">https://eplus.jp/atmc-ts/</a>  (～5/29まで)`
          ],
          photos: []
        },
        {
          url: `/news/post012/`,
          hero: {
            image: `/assets/img/news/post012/001.jpg`,
            alt: `YATSUIFES.2022 やついフェス`
          },
          title: `YATSUI FESTIVAL! 2022 出演決定🍣`,
          leads: [
            `YATSUI FESTIVAL! 2022 出演決定いたしやした🍣<br>我々SUSHIBOYSは6/18(土)出演します🍣✌`,
            `詳細👇<br>URL : <a href="https://yatsui-fes.com" target="_blank" rel="noopener noreferrer">https://yatsui-fes.com</a>`,
            `先行先着チケット👇5/25(水)23:59まで<br>URL : <a href="https://eplus.jp/yatsuifes/" target="_blank" rel="noopener noreferrer">https://eplus.jp/yatsuifes/</a>`,
            `【第一弾発表アーティスト】58組(一部五十音順)`,
            `DJやついいちろう / エレ片 / 秋山瑠月 / a子 / Wienners / 鋭児 / 江沼郁弥 / MPC GIRL USAGI / odol / Calmera / 川辺素 / グソクムズ / クボタカイ / クリトリック・リス / ゲッターズ飯田 / Kentaro Nakao / Cody・Lee(李) / サニーデイ・サービス / THE 2 / さとうもか / SARUKANI /渋さ知らズオーケストラ / xiangyu / 水中、それは苦しい / 水曜日のカンパネラ / SUSHIBOYS / ステレオガール / 曽我部恵一 / SO-SO / DEATHRO / 東郷清丸 / TOMMY(BOY) / DOTAMA / 怒髪天 / NIKO NIKO TAN TAN / ニューロティカ / No Buses / 初恋の嵐 / Have a Nice Day! / #ババババンビ / ばってん少女隊 / Bialystocks / b-flower / butaji / BROTHER SUN SISTER MOON / betcover!! / Helsinki Lambda Club / Homecomings / Monthly Mu & New Caledonia / 宮迫博之 / Mega Shinnosuke / MONO NO AWARE / MOROHA / 八代亜紀 / ゆうらん船 / ラブリーサマーちゃん / Ropes / Laura day romance`,
            `▶日割り / 6月18日(土)出演者一覧(30組)`,
            `DJやついいちろう / エレ片 / 秋山瑠月 / 鋭児 / 江沼郁弥 / 川辺素 / Calmera / グソクムズ / クボタカイ / ゲッターズ飯田 / Cody・Lee(李) / さとうもか / サニーデイ・サービス / 渋さ知らズオーケストラ / SUSHIBOYS / #ババババンビ / Have a Nice Day! / ばってん少女隊 / Bialystocks / BROTHER SUN SISTER MOON / Helsinki Lambda Club / Homecomings / 東郷清丸 / DOTAMA / No Buses / Mega Shinnosuke / 八代亜紀 / ゆうらん船 / ラブリーサマーちゃん / Laura day romance`,
            `▶日割り / 6月19日(日)出演者一覧(32組)`,
            `DJやついいちろう / エレ片 / a子 / MPC GIRL USAGI / Wienners / odol / Calmera /クリトリック・リス / ゲッターズ飯田 / Kentaro Nakao / xiangyu / SARUKANI / THE 2 / 水中、それは苦しい / 水曜日のカンパネラ / 曽我部恵一 / SO-SO / ステレオガール / DEATHRO / 怒髪天 / TOMMY(BOY) / 初恋の嵐 / b-flower / butaji / betcover!! / NIKO NIKO TAN TAN / ニューロティカ / Monthly Mu & New Caledonia / 宮迫博之 / MONO NO AWARE / MOROHA / Ropes`,
            `【公演概要】`,
            `『YATSUI FESTIVAL! 2022』`,
            `日程:2022”年6月18日(土)、6月19日(日)`,
            `開場/開演(両日):11:30`,
            `会場 : Spotify O-EAST / Spotify O-WEST / Spotify O-nest / Spotify O-Crest`,
            `duo MUSIC EXCHANGE / clubasia / 7th FLOOR / LOFT9 Shibuya / HARLEM PLUS / 東間屋`,
            `WEB視聴プラットフォーム:後日公開予定`,
            `主催 : やついいちろう`,
            `制作:シブヤテレビジョン / トゥインクルコーポレーション / SALMONSKY / ディスクガレージ`,
            `協力:中京テレビ放送株式会社 / ディスクガレージ / ニコニコ生放送 / LINE RECORDS /`,
            `duo MUSIC EXCHANGE / Culture of Asia / 株式会社おたのしみ研究所 / LOFT9 Shibuya`
          ],
          photos: [
            {
              image: `/assets/img/news/post012/002.jpg`,
              alt: `YATSUIFES.2022 やついフェス 第一弾発表アーティスト 2022.06.18sat 2022.06.19sun`
            }
          ]
        },
        {
          url: `/news/post011/`,
          hero: {
            image: `/assets/img/news/post011/001.jpg`,
            alt: `SYNCHRONICITY'22`
          },
          title: `SYNCHRONICITY'22 出演決定🍣`,
          leads: [
            `『SYNCHRONICITY'22』`,
            `開催日時:<br>2022年4月2日(土)<br>2022年4月3日(日)<br>openstart 13:00`,
            `開催場所:<br>Spotify O-EAST, Spotify O-WEST, Spotify O-nest, duo MUSIC EXCHANGE, clubasia`,
            `最終発表アーティスト:<br>tricot / SUSHIBOYS / Maki / CARTOON + A.Y.A / UCARY & THE VALENTINE / Kinami / Gravityfree`,
            `4月2日(土) 出演アーティスト:<br>toe / OAU / D.A.N. / TENDRE / リーガルリリー / ドミコ / 羊文学 / SPECIAL OTHERS / toconoma / fox capture plan / MONO NO AWARE / Maki / downy / LITE / SIX LOUNGE / TENDOUJI / SUSHIBOYS / DATS / PEARL CENTER / MELRAW / ZOMBIE-CHANG / YONA YONA WEEKENDERS / 西恵利香 / 浪漫革命 / saccharin / 浦上想起 project / maco marets / Cwondo / Mellow Youth / E.scene / SPENSR / illiomote / Sisters In The Velvet / Kinami / CARTOON + A.Y.A / Ko Umehara(-kikyu-) / DJ New Action! / Gravityfree(Live Painting)`,
            `4月3日(日) 出演アーティスト:<br>渋さ知らズオーケストラ / ZAZEN BOYS / SOIL&"PIMP"SESSIONS / MOROHA / OGRE YOU ASSHOLE / the band apart / tricot / KOTORI / 崎山蒼志 / 踊ってばかりの国 / 奇妙礼太郎(BAND SET) / yonawo / マハラージャン / どんぐりず / AAAMYYY / ODD Foot Works / 鈴木真海子 / Mega Shinnosuke / Cody・Lee(李) / Helsinki Lambda / Club BREIMEN / 水曜日のカンパネラ / YeYe / xiangyu / 鋭児 / Bialystocks / UCARY & THE VALENTINE / She Her Her Hers / LIGHTERS / Monthly Mu & New Caledonia / the McFaddin / VivaOla / Johnnivan / BROTHER SUN SISTER MOON / TOSH / Ko Umehara(-kikyu-) / DJ New Action! / Gravityfree(Live Painting)`,
            `【チケット詳細】<br>チケット販売URL(イープラス):<br>http://eplus.jp/synchronicity22/`,
            `店頭販売:<br>Spotify O-EAST(東京都渋谷区道玄坂2-14-8)<br>TOKIO TOKYO(東京都渋谷区宇田川町3-7 B1F)<br>Shinjuku MARZ(東京都新宿区歌舞伎町2-45-1 B1F)`,
            `【販売期間】<br>2022/2/24(木)12:00〜2022/4/1(金)18:00`,
            `【チケット料金】<br>先行・一般通し券:15,000円(ドリンク別)<br>先行・一般前売チケット:7800円(ドリンク別)`,
            `公式WEB:<br><a href="https://synchronicity.tv/festival/" target="_blank" rel="noopener noreferrer">https://synchronicity.tv/festival/</a>`,
            `お問い合わせ:<br>SYNCHRONICITY info@kikyu.net<br>Spotify O-EAST ☎️03-5458-4681`
          ],
          photos: [
            {
              image: `/assets/img/news/post011/002.jpg`,
              alt: `SYNCHRONICITY'22 TIMETABLE 4/2(SAT)`,
            },
            {
              image: `/assets/img/news/post011/003.jpg`,
              alt: `SYNCHRONICITY'22 TIMETABLE 4/3(SUN)`
            }
          ]
        },
        {
          url: `/news/post010/`,
          hero: {
            image: `/assets/img/news/post010/001.png`,
            alt: `包丁を持ったFARMHOUSE`
          },
          title: `TOEIC Listening test 1 type beat.`,
          leads: [
            `??TOEIC Listening test 1 type beat.??`,
            `??out now??`,
            `YouTube URL<br><a href="https://youtu.be/Z5Rnfs8kYw0" target="_blank" rel="noopener noreferrer">https://youtu.be/Z5Rnfs8kYw0</a>`
          ],
          photos: []
        },
        {
          url: `/news/post009/`,
          hero: {
            image: ``,
            alt: ``
          },
          title: `SUSHIBOYS to Bboy TSUKKI | Hiphop Crossing 003 【HI-FIVE】 #ブレイキン #ラップ #HIPHOP`,
          leads: [
            `“ブレイキン”としての「HIP HOP」<br>“ラップ” としての「HIP HOP」`,
            `同じカルチャーから生まれた2つが交錯するとき、<br>どのようなセッションが生まれるのか。`,
            `ラッパーが書き下ろした楽曲・リリックに、<br>ブレイカーがアンサーを返すようにムーブする。`,
            `2組でつくる即興のライブ・パフォーマンスを見逃すな。`,
            `■Bboy:TSUKKI(飯沼 月光)<br>IG:<a href="https://www.instagram.com/bboy_tsukki/" target="_blank" rel="noopener noreferrer">https://www.instagram.com/bboy_tsukki/</a><br>YouTube:<a href="https://onl.tw/ipwaNP2" target="_blank" rel="noopener noreferrer">https://onl.tw/ipwaNP2</a>`,
            `■RAPPER:SUSHIBOYS<br>HP:<a href="https://sushiboys.jp/" target="_blank" rel="noopener noreferrer">https://sushiboys.jp/</a><br>Twitter:<a href="https://twitter.com/sushiboys350/" target="_blank" rel="noopener noreferrer">https://twitter.com/sushiboys350/</a><br>YouTube:<a href="https://www.youtube.com/user/umetube2013" target="_blank" rel="noopener noreferrer">https://www.youtube.com/user/umetube2013</a>`,
            `#ブレイキン #ラップ #HIPHOP<br>アーバンスポーツをテーマに<br>オリジナルムービーや限定コンテンツを発信するWebメディア<br>「HI-FIVE MAGAZINE」の公式YouTube。<br>毎週火曜・木曜に新作動画を配信!`,
            `■HI-FIVE MAGAZINE<br>公式サイト:<a href="https://hi-five-mag.wowow.co.jp" target="_blank" rel="noopener noreferrer">https://hi-five-mag.wowow.co.jp</a><br>Twitter:<a href="https://twitter.com/HI_FIVE_info" target="_blank" rel="noopener noreferrer">https://twitter.com/HI_FIVE_info</a><br>TikTok:<a href="https://www.tiktok.com/@hi_five_official" target="_blank" rel="noopener noreferrer">https://www.tiktok.com/@hi_five_official</a><br>IG:<a href="https://www.instagram.com/hi_five_magazine/" target="_blank" rel="noopener noreferrer">https://www.instagram.com/hi_five_magazine/</a>`,
            `動画URL <a href="https://youtu.be/uxeLrm1MmKo" target="_blank" rel="noopener noreferrer">https://youtu.be/uxeLrm1MmKo</a>`
          ],
          photos: []
        },
        {
          url: `/news/post008/`,
          hero: {
            image: `/assets/img/news/post008/001.png`,
            alt: `SUSHIBOYSの騒音集 VOL.1 ジャケット`
          },
          title: `SUSHIBOYSの騒音集 VOL.1`,
          leads: [
            `01.DA-DA-DA<br>02.SUIMIN<br>03.幽霊です<br>04.テニス<br>05.ISCREAM<br>06.疲れました<br>07.LOUD<br>08.必要ない`,
            `口は災いの元。とは昔から良く言われたものだ。<br>ここ日本では言いたいことを口にしないことが美徳とされる謎の文化が存在している。<br>社会のシステムを妨害する発言などは”騒音”としてカテゴライズされてしまうくそみそな世の中らしい。<br>なら我々は騒音と呼ばれても構わない。<br>己に正直になった結果それが騒音と言われるのなら、騒音として世に出してしまおうじゃないか。<br>口で災いを起こしに来たぜ。<br>聴いてくれ俺らの騒音。`,
            `配信URL <a href="https://linkco.re/V2Xdq9e9" target="_blank" rel="noopener noreferrer">https://linkco.re/V2Xdq9e9</a>`
          ],
          photos: []
        },
        {
          url: `/news/post007/`,
          hero: {
            image: ``,
            alt: ``
          },
          title: `みんなでわいわい – SUSHIBOYS 【OFFICIAL MUSIC VIDEO】`,
          leads: [
            `みんなでわいわい – SUSHIBOYS 【OFFICIAL MUSIC VIDEO】<br>Youtube Channelにて公開しました!`,
            `この楽曲はゲーム「みんなでワイワイ!スペランカー」<br>のイメージソングです。<br>&copy; 2020 SQUARE ENIX CO., LTD. All Rights Reserved.<br>&copy; 1983-2019 Timothy G. Martin / Tozai, Inc. All Rights Reserved.<br>SQUARE ENIX掲載:<a href="https://sqex.to/x8IFO" target="_blank" rel="noopener noreferrer">https://sqex.to/x8IFO</a>`,
            `動画URL <a href="https://youtu.be/2WrXMe7hvqY" target="_blank" rel="noopener noreferrer">https://youtu.be/2WrXMe7hvqY</a>`
          ],
          photos: []
        },
        {
          url: `/news/post006/`,
          hero: {
            image: `/assets/img/news/post006/001.jpg`,
            alt: `死んだら骨 ジャケット`
          },
          title: `SUSHIBOYS新作EP『死んだら骨』10/25リリース!`,
          leads: [
            `10月25日、SUSHIBOYSの新作EP『死んだら骨』が発売決定いたしました。ファームハウス、サンテナの2人体制となり、「SANAGI」「DRUG」「高速道路」と新曲を発表してきたSUSHIBOYSがEPとして新作を発表致します。`,
            `すでに発表になっている東名阪ツアーのタイトルも「死んだら骨」ツアーとなっており、今作を引っ提げてのツアーとなっております。`,
            `タイトル:死んだら骨(シンダラホネ)<br>アーティスト :SUSHIBOYS<br>発売日 : 2019/10/25<br>価格 : ¥1,500<br>発売元 : WASABI RECORDS`,
            `【収録曲】`,
            `01. 死んだら骨<br>02. BAND-AID<br>03. save<br>04. DRUG<br>05. SANAGI<br>06. 食品添加物<br>07. APP STORE<br>08. 高速道路`,
            `配信URL:<a href="https://linkco.re/hSPNhvU1" target="_blank" rel="noopener noreferrer">https://linkco.re/hSPNhvU1</a><br>BaseにてCD販売:<a href="https://sushiboys.thebase.in/items/24241903" target="_blank" rel="noopener noreferrer">https://sushiboys.thebase.in/items/24241903</a><br><br>SUSHIBOYS 2019 東名阪ワンマンツアー「死んだら骨ツアー」`,
            `■チケット代金:前売￥３，３００(税込)※ドリンク代別途<br>11/12 大阪 Pangea OPEN/START 18:30 / 19:00<br>11/13 名古屋APOLLO BASE OPEN/START 18:30 / 19:00<br>11/23 東京 渋谷CLUB QUATTRO OPEN/START 17:00 / 18:00`,
            `主催 各地プロモーター 企画・制作 株式会社スティールストリート / ATFIELD inc.`,
            `■チケット情報■<br>ぴあ:<a href="https://t.pia.jp/pia/artist/artists.do?artistsCd=HA090001" target="_blank" rel="noopener noreferrer">https://t.pia.jp/pia/artist/artists.do?artistsCd=HA090001</a><br>ローソン:<a href="https://l-tike.com/search/?keyword=sushiboys" target="_blank" rel="noopener noreferrer">https://l-tike.com/search/?keyword=sushiboys</a><br>e+:<a href="http://eplus.jp/sushiboys/" target="_blank" rel="noopener noreferrer">http://eplus.jp/sushiboys/</a><br>LINE TICKET:<a href="https://ticket.line.me/sp/sushiboys" target="_blank" rel="noopener noreferrer">https://ticket.line.me/sp/sushiboys</a>`
          ],
          photos: []
        },
        {
          url: `/news/post005/`,
          hero: {
            image: `/assets/img/news/post005/001.jpg`,
            alt: `SPICE(feat. FARMHOUSE) ジャケット`
          },
          title: `SPICE (feat. FARMHOUSE) / PARKGOLF 配信開始!`,
          leads: [
            `SPICE (feat. FARMHOUSE) / PARKGOLF<br>Dl&Listen Link:<a href="https://linkco.re/GYgsMt4c" target="_blank" rel="noopener noreferrer">https://linkco.re/GYgsMt4c</a>`
          ],
          photos: []
        },
        {
          url: `/news/post004/`,
          hero: {
            image: `/assets/img/news/post004/001.jpg`,
            alt: `PEDAL FARMHOUSE ジャケット`
          },
          title: `FARMHOUSE / PEDAL 2曲新曲と入れ替え配信開始。`,
          leads: [
            `FARMHOUSE SOLO EP 『PEDAL』がデジタル配信開始となりました。`,
            `タイトル:PEDAL(ペダル)<br>アーティスト : FARMHOUSE<br>発売日 : 2018/2/15<br>【収録曲】<br>01.swim<br>02.リスタート (feat. kou-kei)<br>03.緑茶<br>04.ネットサーフィン<br>05.ママチャリ<br>06.SANAGI (feat. SANTENA)<br>07.BABY<br>08.Good Day (feat. SANTENA & O.D.A)<br>09.アップデート (feat. SUSHIBOYS)<br>■配信先URL:<a href="https://linkco.re/ftD6QScu" target="_blank" rel="noopener noreferrer">https://linkco.re/ftD6QScu</a>`
          ],
          photos: []
        },
        {
          url: `/news/post003/`,
          hero: {
            image: `/assets/img/news/post003/001.jpg`,
            alt: `FARMHOUSE、SANTENAの写真`
          },
          title: `SUSHIBOYS「350」インタビュー | 俺たちは不良、じゃなくて不良品。`,
          leads: [
            `ナタリーでのインタビューが公開となりました。<br><a href="https://natalie.mu/music/pp/sushiboys" target="_blank" rel="noopener noreferrer">https://natalie.mu/music/pp/sushiboys</a>`
          ],
          photos: []
        },
        {
          url: `/news/post002/`,
          hero: {
            image: `/assets/img/news/post002/001.jpg`,
            alt: `FARMHOUSE、SANTENAの写真`
          },
          title: `【インタビュー】SUSHIBOYS 原点回帰であり、“好きなことをやった” 新作EP『350』を語る`,
          leads: [
            `エンタメ特化型情報メディアSPICEにてインタビューが掲載されました。<br><a href="https://spice.eplus.jp/articles/218060" target="_blank" rel="noopener noreferrer">https://spice.eplus.jp/articles/218060</a>`
          ],
          photos: []
        },
        {
          url: `/news/post001/`,
          hero: {
            image: `/assets/img/news/post001/001.jpg`,
            alt: `FARMHOUSE、SANTENA、evidenceの写真`
          },
          title: `SUSHIBOYSのラップは、なぜ笑いと強い共感を呼ぶのか ?初のワンマンツアーに臨む2人にその秘密を聞く`,
          leads: [
            `DI:GAオンラインにてインタビューが掲載されました。<br>DI:GAオンライン:<a href="https://www.diskgarage.com/digaonline/interview/99286" target="_blank" rel="noopener noreferrer">https://www.diskgarage.com/digaonline/interview/99286</a><br>プレゼント企画がございます。詳細は上記記事内にて掲載があります。`
          ],
          photos: []
        }
      ]
    }
  }
%>
