<section class="section">
  <div class="section__inner">
    <!-- prettier-ignore -->
    <%_ const posts = newsData?.posts; _%>
    <%_ if (posts?.length) { _%>
    <div class="cards">
      <%_ posts.forEach(post => { _%>
      <article class="card">
        <%_ if (post?.url) { _%>
        <a
          class="card__wrapper card__wrapper--link"
          href="<%- post.url %>"
        >
        <%_ } else { _%>
        <div class="card__wrapper">
        <%_ } _%>
          <h3 class="card__heading"
            ><%- post?.title || 'タイトルがありません' %></h3
          >
          <figure class="card__thumbnail">
            <img
              class="card__image"
              src="<%- post?.hero?.image || '/assets/img/no-image.png' %>"
              alt="<%- post?.hero?.alt || '' %>"
            />
          </figure>
        <%_ if (post?.url) { _%>
        </a>
        <%_ } else { _%>
        </div>
        <%_ } _%>
      </article>
      <%_ }); _%>
    </div>
    <%_ } else { _%>
    <p>現在、投稿はありません。</p>
    <%_ } _%>
  </div>
</section>
