<section class="section">
  <ul class="news">
    <% let posts = newsData.posts; %>
    <% posts.forEach(function(post) { %>
    <li class="news__item">
      <a class="news__link" href="<%- post.url %>">
        <h2 class="title title--news"><%- post.title %></h2>
      </a>
    </li>
    <% }); %>
  </ul>
</section>
